@import '../../../assets/scss/components/variables.scss';
.statistic_gps_main_screen {
  .doug-chart {
    width: 308px;
    margin-top: 6px;
    height: 326px;
    background-color: #fff;
    border-radius: 3px;
    padding: 20px 10px 5px 10px;
    .hovered {
      width: 310px;
      height: 350px;
      position: absolute;
      z-index: 5;
      background: transparent;
    }
  }
  .chart_line {
    height: 90px;
    margin-top: 0px;
    width: 1440px;
    padding-bottom: 15px;
    padding-top: 0px;
    position: relative;
    &_min-max {
      position: absolute;
      width: 1410px;
      left: 15px;
      height: 20px;
      bottom: 0px;
      align-items: initial;
      color: #DADADA;
      font-size: 12px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }
    .hide-labels {
      opacity: 0;
    }
  }
  #barChart {
    height: 240px !important;
  }
  .clear-btn {
    background: #ff5d5d6e;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 0px;
    width: 84px;
    font-size: 14px;
    height: 32px;
    font-weight: 600;
  }
  &_bottom {
    margin-top: 10px;
    width: 1440px;
    &_half {
      display: flex;
      width: 714px;
      &_one {
        width: 400px;
        .chart_select_holder {
          height: 32px;
          margin-left: 0px;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          &:hover {
            cursor: pointer;
          }
        }
        .data {
          background: white;
          padding: 6px;
          margin-top: 6px;
          border-radius: 3px;
          height: 326px;
          overflow: auto;
          .relative {
            position: relative;
          }
          .data_row-active {
            background: #f7f7f7;
            .data_row_moving {
              color: #24c1a1;
            }
            .data_row_stop {
              color: #5673aa;
            }
            .data_row_extended {
              color: #ffa24e;
            }
            .data_row_parking {
              color: #6c6c6c;
              z-index: 2;
            }
            .data_row_number {
              color: #b7b7b7;
            }
          }
          &_row {
            display: flex;
            position: relative;
            margin: 0px auto 6px;
            padding: 3px;
            width: 388px;
            &:hover {
              background: #f7f7f7;
              cursor: pointer;
            }
            p {
              font-weight: 700;
              margin-bottom: 0px;
              font-size: 13px;
            }
            &_number {
              background: #b7b7b741;
              color: #b7b7b7c9;
              height: 20px;
              width: 20px;
              text-align: center;
              margin-right: 4px;
              font-weight: 700;
              border-radius: 3px;
            }
            &_name {
              color: #919191;
              font-weight: 500 !important;
            }
            &_moving {
              width: 70px;
              position: absolute;
              right: 180px;
              text-align: center;
              color: #24c1a16d;
            }
            &_stop {
              width: 70px;
              position: absolute;
              right: 118px;
              text-align: center;
              color: #5673aa6d;
            }
            &_extended {
              width: 70px;
              position: absolute;
              right: 59px;
              text-align: center;
              color: #ffa24e6d;
            }
            &_parking {
              width: 70px;
              position: absolute;
              right: -2px;
              text-align: center;
              color: #6c6c6c6d;
              z-index: 2;
            }
          }
        }
      }
      &_two {
        width: 308px;
        margin-left: 6px;
        .chart_select_holder {
          min-width: 106px;
          height: 32px;
          margin-left: 0px;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &_half:nth-of-type(1) {
      margin-right: 12px;
    }
  }
  &_min-max {
    position: absolute;
    top: 70px;
    left: 340px;
    display: flex;
    &_w {
      margin-right: 15px;
      text-align: left;
      p {
        padding: 1px 3px;
        margin-bottom: 3px;
        font-weight: 600;
      }
      span {
        padding: 1px 3px;
      }
      span:nth-of-type(1),
      span:nth-of-type(4) {
        color: #919191cb;
        font-weight: 800;
      }
      span:nth-of-type(2),
      span:nth-of-type(5) {
        color: #919191cb;
        font-weight: 500;
      }
      span:nth-of-type(3),
      span:nth-of-type(6) {
        color: white;
        font-weight: 800;
        font-size: 11px;
        background-color: #dadada;
      }
    }
    &_w:nth-of-type(1) {
      p {
        color: #24c1a1d4;
      }
    }
    &_w:nth-of-type(2) {
      p {
        color: #5673aad4;
      }
    }
    &_w:nth-of-type(3) {
      p {
        color: #ffa24ed4;
      }
    }
    &_w:nth-of-type(4) {
      p {
        color: #6c6c6cd4;
      }
    }
  }
  &_widgets {
    position: absolute;
    top: 70px;
    left: 15px;
    display: flex;
    &_w {
      width: 70px;
      height: 70px;
      border-radius: 3px;
      padding: 0px;
      text-align: center;
      color: white;
      margin-right: 10px;
      font-weight: 600;
      transition: $transition;
      position: relative;
      cursor: pointer;
      p {
        margin-top: 13px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
      }
      span {
        font-size: 10px;
      }
      .hover {
        transition: $transition;
        opacity: 0;
        fill: white;
        padding: 2px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        svg {
          height: 13px;
          width: 21px;
        }
      }
      .active {
        fill: white;
        background: #8398c0;
        padding: 5px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $transition;
        svg {
          height: 20px;
          width: 20px;
        }
      }
      &:hover {
        .hover {
          opacity: 1;
        }
      }
    }
    &_w:nth-of-type(1) {
      background: #24c1a1aa;
      .hover {
        background: #24c1a1aa;
      }
      &:hover {
        background: #24c1a288;
      }
    }
    &_w:nth-of-type(2) {
      background: #5673aaaa;
      .hover {
        background: #5673aaaa;
      }
      &:hover {
        background: #5673aa88;
      }
    }
    &_w:nth-of-type(3) {
      background: #ffa24eaa;
      .hover {
        background: #ffa24eaa;
      }
      &:hover {
        background: #ffa24e88;
      }
    }
    &_w:nth-of-type(4) {
      background: #6c6c6caa;
      .hover {
        background: #6c6c6caa;
      }
      &:hover {
        background: #6c6c6c88;
      }
    }
    &_hidden:nth-of-type(1) {
      background: #24c1a13d;
    }
    &_hidden:nth-of-type(2) {
      background: #5673aa3d;
    }
    &_hidden:nth-of-type(3) {
      background: #ffa24e3d;
    }
    &_hidden:nth-of-type(4) {
      background: #6c6c6c3d;
    }
  }
}
