


<div class="container kendo-table-container p-0 mt-3 dispacher-table">
  <div class="row">
    <div class="grid-wrapper col-12">
      <div class="kendo_top_grid">
        <kendo-grid [ngClass]="isBoardLocked ? 'locked' : 'unlocked'">
          <!-- Toolbar -->
          <ng-template kendoGridToolbarTemplate [position]="'top'">
            <div class="container toolbar-container main_top_container">
              <div class="d-flex top_toolbar_cont">
                <div      
                  [ngClass]="{ legend_pop: legendActive }" class="dispatcher-drpdwn-wrap">
                  <app-ta-select
                    [items]="dispatcherItems"
                    [clearable]="false"
                    [hasAvatar]="true"
                    [selectValue]="selectedDispatcher"
                    [width]="'180'"
                    [searchable]="false"
                    [label1]="'dispatcherFirstName'"
                    [label2]="'dispatcherLastName'"
                    (changeVal)="changeDisparcher($event)"
                  ></app-ta-select>

                  <div
                  [ngClass]="{ nav_size: legendActive }"
                  class="type-accordion2 legend-side-menu"
                  #accordion
                >
                  <div class=" d-flex justify-content-between" id="accordion">
                    <div
                      [ngClass]="{ panel_click: truckTab }"
                      class="panel panel-default tab-truck"
                    >
                      <div
                        [ngClass]="{ heading_click: truckTab }"
                        class="panel-heading d-flex align-items-center justify-content-between"
                        id="headingOne"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="false"
                        aria-controls="collapseOne"
                        (click)="truckTrailer()"
                      >
                        <span class="panel-title">
                          Truck Type
                        </span>
                        <span class="panel-arrow">
                          <svg-icon
                            [ngClass]="{ svg_rotate: truckTab }"
                            class="arrow-down-up"
                            [src]="'assets/img/svgs/down.svg'"
                            [svgStyle]="{ 'width.px': '14', 'height.px': '8' }"
                          ></svg-icon>
                        </span>
                      </div>

                      <div
                        id="collapseOne"
                        class="collapse"
                        aria-labelledby="headingOne"
                        data-parent="#accordion"
                      >
                        <div class="panel-body">
                          <div class="d-flex align-items-start">
                            <span class="card-value w-100 font-12 p-0">
                              <div *ngFor="let truck of truckList">
                                <div
                                  [ngClass]="truck.class"
                                  class="truck-item-wrapper d-flex justify-content-start truck-icon"
                                >
                                  <div class="truck-text">{{ truck.name }}</div>
                                  <div class="truck-image">
                                    <svg-icon
                                      [src]="'assets/img/svgs/truck/' + truck.file"
                                    ></svg-icon>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div [ngClass]="{ panel_click: trailerTab }" class="panel panel-default">
                      <div
                        [ngClass]="{ heading_click: trailerTab }"
                        class="panel-heading d-flex align-items-center justify-content-between"
                        id="headingTwo"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                        (click)="trailerTruck()"
                      >
                        <span class="panel-title">
                          Trailer Type
                        </span>
                        <span class="panel-arrow">
                          <svg-icon
                            [ngClass]="{ svg_rotate: trailerTab }"
                            class="arrow-down-up"
                            [src]="'assets/img/svgs/down.svg'"
                            [svgStyle]="{ 'width.px': '14', 'height.px': '8' }"
                          ></svg-icon>
                        </span>
                      </div>
                   
                      <div
                        id="collapseTwo"
                        class="collapse"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion"
                      >
                        <div class="panel-body">
                          <div class="d-flex align-items-start">
                            <span class="card-value w-100 font-12 p-0">
                              <div *ngFor="let trailer of trailerList">
                                <div
                                  [ngClass]="trailer.class"
                                  class="truck-item-wrapper d-flex justify-content-start truck-icon"
                                >
                                  <div class="truck-text">{{ trailer.name }}</div>
                                  <div class="truck-image">
                                    <svg-icon
                                      [src]="'assets/img/svgs/trailer/' + trailer.file"
                                    ></svg-icon>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
                <div class="custom_search">
                  <app-custom-search 
                      [stateName]="''"
                      [gridNameTitle]="'Board'"   
                  >
                  </app-custom-search> 
                </div>
                <div class="dispatch-action-container">
                  <button
                    *ngIf="!manualLock || dispatcher != -1"
                    class="btn-transparent lock-unlock cursor-pointer"
                    [appTaTooltip]="isBoardLocked ? 'Unlock table' : 'Lock table'"
                    position="bottom-right"
                    [class.lockedBoardFromOtherUser]=""
                    (click)="lockUnlockBoardAndStartTimer()"
                  >
                    <svg-icon
                      *ngIf="isBoardLocked"
                      [src]="'../../../assets/img/svgs/new_unlock.svg'"
                      [svgStyle]="{ 'width.px': '15.75', 'height.px': '18' }"
                    ></svg-icon>
                    <svg-icon
                      *ngIf="!isBoardLocked"
                      [src]="'assets/img/svgs/table/unlock.svg'"
                      [svgStyle]="{ 'width.px': '20', 'height.px': '18' }"
                    ></svg-icon>
                  </button>
                  <button
                    class="btn-transparent cursor-pointer"
                    appTaTooltip="Vehicle Legend"
                    position="bottom-right"
                    (click)="openSideNav()"
                  >
                    <svg-icon
                      src="assets/img/svgs/legend_info.svg"
                      [ngClass]="{ active: legendActive }"
                      [svgStyle]="{ 'width.px': 18, 'height.px': 17 }"
                    >
                    </svg-icon>
                  </button>
                </div>
                <button
                  *ngIf="dispatcher == -1"
                  appTaTooltip="Live"
                  position="bottom-right"
                  class="btn-transparent open_load live_board"
                  (mouseenter)="loteEnter()"
                  (mouseleave)="loteLeave()"
                >
                  <!-- <svg-icon
                    class="m-0"
                    src="assets/img/svgs/live_board.svg"
                    [svgStyle]="{ 'width.px': 22, 'height.px': 18 }"
                  >
                  </svg-icon> -->
                  <ng-lottie
                      [options]="lottieConfig">
                </ng-lottie>

                </button>
                <button
                  class="btn-transparent open_load history_board"
                  appTaTooltip="History"
                  position="bottom-right"
                  (click)="openDispatchHistory()"
                >
                  <svg-icon
                    class="icon-hover-blue-28 m-0 blue_icon"
                    src="assets/img/svgs/dispatch_history.svg"
                    [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
                  >
                  </svg-icon>
                </button>
                <button
                  class="btn-transparent open_load"
                  appTaTooltip="Add Dispatch"
                  position="bottom-right"
                  (click)="addLoad()"
                >
                  <svg-icon
                    class="icon-hover-blue-28 m-0 blue_icon"
                    src="assets/img/svgs/just_plus.svg"
                    [svgStyle]="{ 'width.px': 16, 'height.px': 16 }"
                  >
                  </svg-icon>
                </button>
              </div>
            </div>
          </ng-template>
        </kendo-grid>
      </div>
      <!-- <div *ngIf="mainGridData['allSelected']">
        <app-app-dispatcher-table-new
          [dispatcher]="dispatcher"
          [mainGridData]="mainGridData['allSelected'].data"
          [infoCount]="mainGridData['allSelected'].infoCount"
          [listLenght]="mainGridData['allSelected'].data.length"
          [isBoardLocked]="isBoardLocked"
          (innactiveLock)="innactiveLock($event)"
          (formatGridData)="formatGridData($event)"
          (formatUniqGridData)="formatUniqGridData($event)"
          (updateUsersData)="updateUsersData()"
          [openAllNotesText]="openAllNoteses"
          [loadTrucks]="loadTrucks"
          [loadTrailers]="loadTrailers"
          [loadDrivers]="loadDrivers"
          [manualLock]="manualLock"
          [phoneEmailToggle]="phoneEmailToggle"
          (hoverPhoneEmail)="hoverPhoneEmail()"
          (openAllNoteses)="openAllNotes()"
          [highlightingWords]="highlightingWords"
        ></app-app-dispatcher-table-new>
      </div> -->
      <div class="dispatcher_table_list_holder">
        <div class="dipsatch_groups" *ngFor="let dispatcher of selectedDispatchers; let ind = index">
          <app-app-dispatcher-table-new
            [dispatcherInfo]="dispatcher"
            [isBoardLocked]="isBoardLocked"
            [loadTrucks]="loadTrucks"
            [loadTrailers]="loadTrailers"
            [loadDrivers]="loadDrivers"
            [phoneEmailToggle]="phoneEmailToggle"
            (hoverPhoneEmail)="hoverPhoneEmail()"
            [gridIndex]="ind"
            [dispatcher]="dispatcher.id"
            (updateUsersData)="updateUsersData()"
          >
          </app-app-dispatcher-table-new>
        </div>
      </div>
    </div>
  </div>
</div>