<div class="statistic-stops" [ngClass]="{'gps-statistic-stops-style': isGps}">
    <div 
        class="stops_item d-flex" 
        *ngFor="let stops of mapPoints; let indx = index"
        [class.active]="indx == (mapPoints.length -1) && !isGps" 
        [ngClass]="{'active-stop-gps': indx == (mapPoints.length -1) && isGps}"
    >
        <div class="stop_location">{{stops.PointCity}}, {{stops.PointState}}</div>
        <div class="stop_mileage">{{stops.PointMileage}} mi.</div>
        <div class="stop_mileage full_mileage">{{stops.PointMileageTotal}} mi.</div>
        <div class="stop_count">
            <span [class.delivery]="stops.PointType == 'delivery'">{{stops.PointOrder}}</span>
        </div>
    </div>
    <div class="gps_info_percentage" [ngStyle]="{ height: ((mapPoints.length -1) * 20 ) + 'px' }">
        <div class="gps_info_perc_size"></div>
        <div class="gps_main_stops"
            [ngStyle]="{ bottom: (indx * 20 - 5) + 'px' }"
            [class.delivery]="stops.PointType == 'delivery'" 
            *ngFor="let stops of mapPoints; let indx = index"
        ></div>
    </div>
</div>
