@import '../components/variables';

kendo-popup {
  * {
    font-family: 'Montserrat';
  }

  &.k-animation-container {
    position: absolute;
    overflow: hidden;
    z-index: 100;
    border-radius: none;
    transition: none !important;
    box-shadow: none;
    margin-top: 5px;

    &-shown {
      overflow: visible;
      box-shadow: none;
    }

    .k-popup {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      box-shadow: 0 0 4px rgb(0, 0, 0, 0.15) !important;
      color: #656565;
      background-color: #f9f9f9;
      background-clip: padding-box;
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 1.4285714286;
      border: none;
      box-sizing: border-box;
      border-radius: 3px;

      kendo-multiviewcalendar.k-calendar-range {
        border-radius: 5px !important;
      }

      kendo-multiviewcalendar.k-widget {
        border-width: 0;
      }

      kendo-multiviewcalendar.k-calendar {
        border: none;
        color: #656565;
        background-color: #ffffff;
        height: 100%;
        background-clip: padding-box;
        box-sizing: border-box;
        outline: 0;
        font-family: inherit;
        font-size: 14px;
        line-height: 1.4285714286;
        position: relative;
        overflow: hidden;
        display: inline-block;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        .k-calendar-header {
          .k-today {
            color: #919191;
            font-size: 12px;
            font-weight: bold;
            background: transparent;

            &:hover {
              color: #5673aa;
            }

            &:focus {
              color: #5673aa;
            }
          }
        }

        .k-weekend {
          color: inherit;
          background-color: transparent;
        }

        td {
          &:hover {
            .k-link {
              border-color: #ededed;
              color: #656565;
              background-color: #ededed;
            }
          }
        }

        .k-state-selected {
          .k-link {
            border-color: #28529f;
            color: #ffffff;
            background-color: #5673aa;
            border-radius: 3px;
          }

          &:hover {
            .k-link {
              border-color: #5673aa;
              color: #ffffff;
              background-color: #28529f;
            }
          }
        }

        .k-link {
          outline: 0;
          color: inherit;
          text-decoration: none;
          white-space: normal;
          cursor: pointer;
          overflow: hidden;
        }

        .k-calendar-view {
          width: 17em;
          height: 17em;
          position: relative;
          z-index: 1;
          overflow: hidden;
          margin: auto;
          padding: 0 12px;
          gap: 16px;
          table {
            margin: 0;
            border-width: 0;
            border-color: inherit;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            outline: 0;
            position: relative;
            z-index: 1;
          }

          .k-calendar-table {
            margin: 0;
            border-width: 0;
            border-color: inherit;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            outline: 0;
            position: relative;
            z-index: 1;
          }

          td {
            border-width: 0;
            padding: 0;
            text-align: center;
            border-style: solid;
            border-color: inherit;
            font-weight: normal;
            cursor: default;
          }

          th {
            border-width: 0;
            text-align: center;
            border-style: solid;
            border-color: inherit;
            font-weight: normal;
            cursor: default;
            padding: 0.25em 0px;
            font-size: 12px;
            line-height: 2;
            text-transform: uppercase;
            opacity: 0.6;
          }

          .k-calendar-td {
            border-width: 0;
            padding: 0;
            text-align: center;
            border-style: solid;
            border-color: inherit;
            font-weight: normal;
            cursor: default;
          }

          .k-calendar-th {
            padding: 0.25em 0;
            font-size: 12px;
            line-height: 2;
            text-transform: uppercase;
            opacity: 1;
            color: $bw6-2;
            font-weight: 600;
          }
        }

        .k-content {
          width: 100%;
          margin: 0;
          text-align: center;
          flex: 1 1 auto;
          position: relative;

          td {
            border-radius: 2px;
            border-color: transparent;
          }

          .k-calendar-td {
            border-radius: 2px;
            border-color: transparent;
          }

          .k-link {
            border-radius: 2px;
            padding: 0.5em 0.5em;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }

          .k-weekend {
            border-radius: 0;
            opacity: 1;
          }

          .k-other-month {
            .k-link {
              opacity: 0.6;
            }
          }
        }

        .k-calendar-content {
          width: 100%;
          margin: 0;
          text-align: center;
          flex: 1 1 auto;
          position: relative;

          .k-calendar-td {
            border-radius: 2px;
            border-color: transparent;
          }

          .k-link {
            border-radius: 2px;
            padding: 0.5em 0.5em;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
          }

          .k-weekend {
            border-radius: 0;
            opacity: 1;
          }

          .k-other-month {
            .k-link {
              opacity: 0.6;
            }
          }
        }

        table.k-content {
          display: inline-table;
          vertical-align: top;
        }

        table.k-calendar-content {
          display: inline-table;
          vertical-align: top;
        }

        .k-calendar-table.k-content {
          display: inline-table;
          vertical-align: top;
        }

        .k-calendar-table.k-calendar-content {
          display: inline-table;
          vertical-align: top;
        }

        .k-calendar-monthview {
          td {
            width: 2.4285714286em;
            height: 2.4285714286em;
          }

          .k-calendar-td {
            //width: 2.4285714286em;
            //height: 2.4285714286em;
            width: 24px;
            height: 24px;
          }

          .k-link {
            //width: 2.4285714286em;
            //height: 2.4285714286em;
            width: 24px;
            height: 24px;
            font-size: 12px;
          }
        }
      }

      kendo-multiviewcalendar.k-calendar.k-calendar-range {
        width: auto;

        .k-calendar-view {
          height: auto;
          min-height: auto;
          width: auto;
          white-space: nowrap;

          &::after {
            display: none;
          }
        }

        table {
          width: auto;
        }

        .k-calendar-table {
          width: auto;
        }

        .k-range-start {
          border-top-left-radius: 3px !important;
          border-bottom-left-radius: 3px !important;
          background-image: linear-gradient(
            transparent 1px,
            rgba(86, 115, 170, 0.25) 1px,
            rgba(86, 115, 170, 0.25) calc(100% - 1px),
            transparent calc(100% - 1px)
          );

          .k-link {
            border-radius: 3px;
            background-color: #5673aa;
          }
        }

        .k-range-end {
          border-top-right-radius: 3px !important;
          border-bottom-right-radius: 3px !important;
          background-image: linear-gradient(
            transparent 1px,
            rgba(86, 115, 170, 0.25) 1px,
            rgba(86, 115, 170, 0.25) calc(100% - 1px),
            transparent calc(100% - 1px)
          );

          .k-link {
            border-radius: 3px;
            background-color: #5673aa;
          }
        }

        .k-range-mid {
          border-color: inherit;
          border-radius: 0;
          background-image: linear-gradient(
            transparent 1px,
            rgba(86, 115, 170, 0.25) 1px,
            rgba(86, 115, 170, 0.25) calc(100% - 1px),
            transparent calc(100% - 1px)
          );

          &:first-of-type {
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 3px !important;
          }

          .k-link {
            border-radius: 10px;
          }
        }

        &:not(.k-calendar-infinite) {
          .k-calendar-view {
            display: flex;
            flex-direction: row;
            padding-bottom: 12px;
          }
        }

        .k-range-start.k-state-active {
          .k-link {
            box-shadow: none;
          }
        }
      }

      kendo-multiviewcalendar {
        .k-link {
          color: inherit;
          text-decoration: none;
          outline: 0;
          cursor: pointer;
          color: inherit;
          text-decoration: none;
          outline: 0;
          cursor: pointer;

          &:hover {
            color: inherit;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            outline: 0;
            cursor: pointer;
          }
        }

        .k-content {
          outline: 0;
          border-color: rgba(0, 0, 0, 0.08);
          color: #656565;
          background-color: #ffffff;
        }

        .k-icon {
          width: 1em;
          height: 1em;
          outline: 0;
          font-size: 16px;
          font-family: 'WebComponentsIcons';
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1;
          speak: none;
          text-transform: none;
          text-decoration: none;
          flex-shrink: 0;
          display: inline-flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          position: relative;
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;

          &:hover {
            text-decoration: none;
          }

          &:focus {
            text-decoration: none;
          }
        }

        .k-i-arrow-60-right {
          &::before {
            content: '';
            color: #919191;
            right: 10px;
            font-size: 1.1rem;
            top: 2px;
            font-family: 'Font Awesome 5 Pro';
            display: block;
            font-weight: 500;
          }
        }

        .k-i-arrow-60-left {
          &::before {
            content: '';
            color: #919191;
            right: 10px;
            font-size: 1.1rem;
            top: 2px;
            font-family: 'Font Awesome 5 Pro';
            display: block;
            font-weight: 500;
          }
        }

        .k-button {
          background-clip: padding-box;
          border-radius: 2px;
          padding: 4px 8px;
          box-sizing: border-box;
          border-width: 1px;
          border-style: solid;
          font-size: 14px;
          line-height: 1.4285714286;
          font-family: inherit;
          text-align: center;
          text-decoration: none;
          white-space: nowrap;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: pointer;
          outline: none;
          -webkit-appearance: none;
          position: relative;
          border-color: rgba(0, 0, 0, 0.08);
          color: #656565;
          background-color: #f6f6f6;
          background-image: linear-gradient(#f6f6f6, #f1f1f1);

          &:disabled {
            outline: none;
            cursor: default;
            opacity: 0.6;
            filter: grayscale(0.1);
            pointer-events: none;
            box-shadow: none;
          }

          &:active {
            border-color: rgba(0, 0, 0, 0.08);
            color: #656565;
            background-color: #f6f6f6;
            background-image: none;
            box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.06);

            &::before {
              opacity: 0.16;
            }
          }

          &::-moz-focus-inner {
            padding: 0;
            border: 0;
            outline: 0;
          }

          &::before {
            border-radius: inherit;
            content: '';
            background: currentColor;
            opacity: 0;
            display: none;
            pointer-events: none;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            z-index: 0;
            transition: opacity 0.2s ease-in-out;
          }

          &::after {
            border-radius: 2px;
            content: '';
            opacity: 0;
            display: none;
            pointer-events: none;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            z-index: 0;
            transition: opacity 0.2s ease-in-out;
          }

          &:hover {
            &::before {
              opacity: 0.08;
            }

            border-color: rgba(0, 0, 0, 0.15);
            color: #656565;
            background-color: #ededed;
            background-image: linear-gradient(#ededed, #e8e8e8);
            text-decoration: none;
            outline: 0;
          }

          &:focus {
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.06);
            text-decoration: none;
            outline: 0;
          }

          .k-icon {
            color: inherit;
            align-self: center;
            position: relative;
          }
        }

        .k-button.k-button-icon {
          width: calc(1.4285714286em + 10px);
          height: calc(1.4285714286em + 10px);
          padding: 4px;
          background: #eeeeee !important;
          border-radius: 10px;
        }

        .k-calendar-header {
          padding: 12px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 0 0 auto;
          .k-button {
            border-color: transparent !important;
            color: inherit;
            box-shadow: none !important;
            transition: color 0.2s ease-in-out;
            background: none;

            &:hover {
              color: inherit;

              &:active {
                color: inherit;
              }
            }

            &:active {
              color: inherit;
            }

            &::before {
              display: none;
            }

            &::after {
              display: block;
            }

            &:focus {
              &::after {
                box-shadow: inset 0 0 0 2px currentColor;
                opacity: 0.12;
              }
            }
          }

          .k-button.k-title.k-calendar-title {
            font-weight: 400;
            font-size: 12px;
            padding: 0;
          }

          .k-calendar-nav {
            .k-button.k-button-icon.k-prev-view,
            .k-button.k-button-icon.k-next-view {
              width: 16px;
              height: 16px;
              border-radius: 3px;
              outline: none;
              &:focus {
                outline: none;
              }
            }
          }
        }

        table {
          border-collapse: collapse;
        }

        th {
          text-align: inherit;
          text-align: -webkit-match-parent;
        }

        button {
          border-radius: 0;
          text-transform: none;
          overflow: visible;
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          -webkit-appearance: button;

          &:focus {
            outline: none !important;
          }

          &::-moz-focus-inner {
            padding: 0;
            border-style: none;
          }
        }

        [type='button'] {
          -webkit-appearance: button;

          &::-moz-focus-inner {
            padding: 0;
            border-style: none;
          }
        }

        &::-moz-placeholder {
          padding-left: 0 !important;
          font-weight: 400 !important;
          color: #666 !important;
        }

        &::placeholder {
          padding-left: 0 !important;
          font-weight: 400 !important;
          color: #666 !important;
        }
      }
    }
  }
}
