.kendo-table-container {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  .custom-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 7px;
    height: 100%;
    padding: 0;
    cursor: col-resize;
    border-right: 2px solid #dee2e6;
    background-color: transparent;
    z-index: 1;
    &:hover {
      border-right: 2px solid #080808;
    }
  }

  .export-pdf-container {
    position: absolute;
    top: -10000px;
    .k-grid {
      thead {
        border: 1px solid grey !important;
      }
    }
  }

  table {
    width: 100% !important;
    // col {
    //   width: auto;
    // }
  }

  .show-more-container {
    max-width: 100% !important;
    .showing-container {
      color: $muted;
    }
    .show-more {
      color: #4e80fd;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    ::-moz-selection {
      color: white;
      background: #28529f;
    }

    ::selection {
      color: white;
      background: #28529f;
    }
  }

  .pl-20px {
    padding-left: 35px !important;
  }
  .custom-popup {
    line-height: 10px;
    .tooltip-inner {
      color: #3b3b3b;
      background-color: #fff;
      border: 1px solid #ccc;
    }
  }

  .k-grid-content {
    background: transparent !important;
    overflow: unset !important;
  }

  .k-grid {
    border-radius: 3px;
    border: 0 !important;
    background: transparent !important;
    .k-grid-header-wrap {
      overflow: unset !important;
      border: 0 !important;

      thead {
        border: 0 !important;
        border: 1px solid $gray-300 !important;
      }
    }
    .k-grid-container,
    .k-grid-aria-root {
      overflow: unset !important;
    }

    /*CSS FOR TABLE TOOLBAR*/
    .k-grid-toolbar {
      background: #ffffff;
      padding: 0;
      border-top-left-radius: 5px !important;
      border-top-right-radius: 3px !important;
      .toolbar-container {
        max-width: 100%;
        height: auto;
        .k-button-group {
          height: 50px;
          box-shadow: none;
          .k-button {
            border-radius: 0 !important;
            transition: all 0.3s ease-in-out;
            &:first-child {
              border-top-left-radius: 5px !important;
            }
            &:hover {
              transition: all 0.3s ease-in-out;
            }
          }
        }

        .search-container {
          padding-left: 10px;
        }
        .action-container {
          padding: 10px;

          // .dropdown-menu {
          //   transform: translate(8px, 30px) !important;
          // }

          .delete-btn {
            opacity: 1 !important;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            &:before {
              background-color: #ffb3b3 !important;
            }
            span {
              color: #ffb3b3;
              line-height: 12px;
            }
          }

          .custom-btn {
            line-height: 0;
            opacity: 1 !important;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;
            &:before {
              background-color: #6c757d !important;
              transition: all 0.3s ease-in-out;
            }
            span {
              color: #6c757d;
              line-height: 12px;
            }

            .rotate-45 {
              transform: rotate(45deg);
            }
          }
          .custom-btn.lock-wrapper {
            padding: 0;
            border-radius: unset;
          }
          .custom-btn.lock-wrapper::before {
            background-color: unset !important;
          }
          .k-button:hover::before {
            opacity: 0 !important;
          }
          .action-btn:active,
          .action-btn:focus {
            background: #ffffff !important;
          }
          .action-btn:active::before {
            opacity: 0 !important;
          }
          .action-btn {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            padding: 0;
            span {
              color: #fff;
              line-height: 27px;
              background-color: #3d3d3d;
              height: 28px;
              width: 28px;
              border-radius: 50%;
            }
            span:hover {
              transition: all 0.2s ease-in-out;
              transform: scale(1.2);
              background-color: #28529f;
            }
            /*
            height: 30px;
            width: 30px;
            border: 1px solid #4e80fd;
            opacity: 1 !important;
            border-radius: 50% !important;
            transition: all 0.3s ease-in-out;
            &:before {
              background-color: transparent !important;
            }
            &:hover,
            &:active {
              opacity: 0;
              background-color: #4e80fd !important;
              transition: all 0.3s ease-in-out;
              span {
                color: #ffffff;
              }
              &:before {
                opacity: 0;
              }
            }
            span {
              color: #4e80fd;
              line-height: 12px;
            }*/
          }
        }

        .custom-icon-delete {
          color: #ffb3b3;
          display: flex !important;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;

          &:hover {
            background-color: #ffe6e6;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: $danger;
          }
        }
      }
    }
    /*END CSS FOR TABLE TOOLBAR*/

    .k-state-selected {
      background-color: #deeafc !important;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
      border-bottom-color: #deeafc !important;
    }
    tbody {
      color: #606060;
      background-color: #ffffff;
      tr {
        height: 38px;
        &:hover {
          background-color: #f0f0f5;
        }
        .k-hbox {
          .kendo-driver-avatar {
            border: 1px solid $gray-300;
            border-radius: 6px !important;
            background-color: white;
            transition: all 0.15s;
            cursor: pointer;
            width: 28px !important;
            height: auto !important;
            max-height: 34px;
            margin-right: 10px !important;

            &:hover {
              transform: scale(2);
              z-index: 1;
            }
          }
          .avatar-name {
            line-height: 32px;
          }
        }
      }
    }
    td {
      border: 0;
      outline: 0;
      font-weight: inherit;
      text-align: inherit;
      overflow: unset;
      padding: 0 !important;
      padding-left: 5px !important;
      padding-right: 5px !important;

      .kendo-field-name {
        line-height: 34px;
        color: $primary;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      a,
      .kendo-field {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
      }
    }
    tr.text-muted {
      color: $muted !important;
      background-color: #f8f9fa;
      .kendo-field-name {
        color: #4e80fd99;
      }
    }
    tr.bg-color-muted {
      img {
        opacity: 0.5;
      }
    }
  }

  .k-grid-header {
    background-color: #ffffff;
    padding: 0 !important;
    display: block;
    tr {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .k-column-resizer {
    width: 2px !important;
    background-color: #bdbdbd !important;
    z-index: 1px;
    &:hover {
      color: #000000 !important;
      width: 2px !important;
    }
  }

  .k-header {
    .header-title {
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden !important;
    }
    .k-link {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .k-header.k-drag-clue {
    position: relative !important;
  }

  .custom-kendo-header {
    color: #606060;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    height: 48px;
    padding: 5px;

    height: 48px;
    line-height: 40px;
    // overflow: unset;
    // z-index: 1;

    user-select: none !important;

    .k-i-sort-asc-sm:before {
      font-family: 'Font Awesome 5 Duotone';
      content: '\f15e';
      color: #4e80fd;
    }
    .k-i-sort-asc-sm:after {
      font-family: 'Font Awesome 5 Duotone';
      content: '\10f15e';
      color: #bccffe;
      left: -13px;
      position: relative;
    }

    .k-i-sort-desc-sm:before {
      font-family: 'Font Awesome 5 Duotone';
      content: '\f881';
      color: #4e80fd;
    }
    .k-i-sort-desc-sm:after {
      font-family: 'Font Awesome 5 Duotone';
      content: '\10f881';
      color: #bccffe;
      left: -13px;
      position: relative;
    }

    &.number-sort {
      .k-i-sort-asc-sm:before {
        font-family: 'Font Awesome 5 Duotone';
        content: '\f163' !important;
        color: #4e80fd;
      }
      .k-i-sort-asc-sm:after {
        font-family: 'Font Awesome 5 Duotone';
        content: '\10f163' !important;
        color: #bccffe;
        left: -13px;
        position: relative;
      }

      .k-i-sort-desc-sm:before {
        font-family: 'Font Awesome 5 Duotone';
        content: '\f886' !important;
        color: #4e80fd;
      }
      .k-i-sort-desc-sm:after {
        font-family: 'Font Awesome 5 Duotone';
        content: '\10f886' !important;
        color: #bccffe;
        left: -13px;
        position: relative;
      }
    }
  }

  .user-img-wrapper:hover {
    z-index: 101;
  }
  // .user-img-wrapper {
  //   display: flex !important;
  //   align-items: center;
  //   justify-content: center;
  //   width: 22px;
  //   height: auto;
  //   background-color: white;
  //   border: 1px solid $gray-300;
  //   border-radius: 3px;
  //   transition: all 0.15s;
  //   position: relative;
  //   top: 0;
  //   font-size: 14px;

  //   .driver-avatar {
  //     width: 100%;
  //     height: auto;
  //     border-radius: 2px;
  //     width: 20px;
  //     height: 100%;
  //     cursor: pointer;
  //   }

  //   &:hover {
  //     transform: scale(2.7);
  //   }
  // }

  /*Dropdown Menu*/
  .dropdown {
    &.export-dropdown {
      .dropdown-menu {
        padding: 8px !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        width: 170px;

        .k-switch {
          height: 20px;
        }

        .export-badge {
          cursor: pointer;
        }
      }
    }
    &.columns-dropdown {
      .dropdown-menu {
        columns: 2;
        width: 280px;
        padding: 8px !important;
        padding-top: 6px !important;
        padding-bottom: 6px !important;

        .dropdown-checkbox {
          cursor: pointer;
          padding: 4px 6px;
        }

        .dropdown-action {
          .reset-btn {
            height: 100% !important;
            width: 100% !important;
            cursor: pointer;
            padding: 7px 5px;
            border-radius: 3px;
          }
        }
      }
    }
    .custom-btn {
      opacity: 1 !important;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: transparent !important;
      &:before {
        background-color: transparent !important;
        transition: all 0.3s ease-in-out;
      }
      span {
        color: #6c757d;
        line-height: 12px;
      }
    }
    .dropdown-menu {
      width: 160px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
      padding: 0 !important;
      .dropdown-item {
        cursor: pointer;
        padding: 7px 10px;
        &.k-grid-pdf {
          text-transform: none;
        }
        .icon {
          margin-right: 5px !important;
          padding: 0 !important;
          padding-left: 5px !important;
          padding-right: 5px !important;
          width: 20px;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    // transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    // transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    // transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

div.k-header.k-drag-clue {
  position: absolute !important;
  z-index: 20000;
  background-color: #28529f;
  color: #ffffff;
  border-radius: 0 !important;
  border: 0 !important;
}

// overflow for toggle all/visible rows in kendo grid
.k-grid-header .k-header:first-child {
  overflow: visible !important;
}
