@import '../components/variables';

.k-datetime-picker-wrapper {
  position: relative;

  label {
    position: absolute;
    left: 0;
    top: -9px;
    font-size: 0.75rem;
    color: #666;

    &.required-label:after {
      content: '*';
      display: inline-block;
      margin-left: 0.25rem;
      color: #ff0000;
    }
  }
}

.k-floating-label-container {
  width: 100%;
  padding-top: 0;

  .k-dateinput .k-picker-wrap,
  .k-datepicker .k-picker-wrap,
  .k-datetimepicker .k-picker-wrap,
  .k-timepicker .k-picker-wrap {
    border: none;
    background-color: rgb(234, 234, 234, 0.7) !important;
    transition: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 5px;

    &:hover {
      background-color: rgb(234, 234, 234, 1) !important;
      transition: 0.3s;
    }
    .k-select {
      background-color: #dadada;
      transition: none;
      padding: 8px 5px;
      border-radius: 3px;
      transition: 0.25s;
      &:hover {
        background-color: #ccc;
        transition: 0.25s;
      }
    }
    .k-link.k-link-date {
      background-color: unset !important;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &.k-state-invalid::after,
  &.k-state-focused::after {
    content: none;
  }

  .k-datepicker {
    height: 26px;
  }

  .k-dateinput .k-dateinput-wrap .k-input,
  .k-dateinput .k-picker-wrap .k-input,
  .k-datepicker .k-dateinput-wrap .k-input,
  .k-datepicker .k-picker-wrap .k-input,
  .k-datetimepicker .k-dateinput-wrap .k-input,
  .k-datetimepicker .k-picker-wrap .k-input,
  .k-timepicker .k-dateinput-wrap .k-input,
  .k-timepicker .k-picker-wrap .k-input {
    height: auto;
    padding-left: 6px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
  }

  .k-label {
    width: 100%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #606060;
    top: 4px !important;
    left: 6px;
    font-size: 0.9rem;
  }

  &.k-state-focused > .k-label {
    color: #606060;
    font-weight: 500;
  }

  &.valid-label {
    &.k-state-focused + .k-label {
      color: #606060 !important;
    }

    .k-label {
      color: #606060 !important;
    }

    input {
      &::-moz-selection {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &::selection {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &.invalid-label {
    .k-dateinput .k-picker-wrap,
    .k-datepicker .k-picker-wrap,
    .k-datetimepicker .k-picker-wrap,
    .k-timepicker .k-picker-wrap {
      border-right: 3px solid #ff5d5d;

      .k-select {
        border-radius: 0 6px 6px 0;
      }
    }

    input {
      &::-moz-selection {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &::selection {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &.k-state-focused {
    .k-dateinput .k-picker-wrap,
    .k-datepicker .k-picker-wrap,
    .k-datetimepicker .k-picker-wrap,
    .k-timepicker .k-picker-wrap {
      .k-input {
        color: #fff;
      }

      color: #fff;
      background-color: #606060 !important;
      transition: none;

      .k-i-calendar:before,
      .k-i-calendar:after {
        color: #fff;
        transition: none;
      }

      .k-select .k-link.k-link-date {
        background-color: unset !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .k-select .k-link .k-icon.k-i-calendar:before {
        color: #fff;
      }

      .k-select .k-link .k-icon.k-i-calendar:after {
        color: #fff;
      }
    }

    input {
      &::-moz-selection {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &::selection {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &.k-state-invalid {
    .k-select { background-color: #FF5D5D !important; }
    &.k-state-focused {
      .k-picker-wrap { background-color: #FF5D5D !important; }
      .k-select {
        background-color: #eeeeee !important;
        .k-icon.k-i-calendar:before {
          background-image: url('../../../assets/img/svgs/down-arrow-datepicker-white.svg');
        }
      }
    }
  }

  .k-datepicker.ng-invalid.ng-touched {
    .k-select {
      background-color: #FF5D5D !important;
      opacity: 0.7 !important;
      transition: 0.25s;
      &:hover {
        opacity: 1 !important;
        transition: 0.25s;
      }
    }
    .k-icon.k-i-calendar:before {
      background-image: url('../../../assets/img/svgs/down-arrow-datepicker-white.svg');
    }
  }
}

.load-deliveries-table .k-floating-label-container .k-datetimepicker .k-picker-wrap .k-select {
  padding: 0;
}

kendo-floatinglabel.k-floating-label-container {
  &.valid-label {
    .k-datepicker {
      .k-select {
        background-color: #28529f !important;
        opacity: 0.7 !important;
        transition: 0.25s;
        &:hover {
          opacity: 1 !important;
          transition: 0.25s;
        }
      }
      .k-icon.k-i-calendar:before {
        background-image: url('../../../assets/img/svgs/down-arrow-datepicker-white.svg');
      }
    }
  }
}
kendo-floatinglabel.k-floating-label-container.k-state-focused {
  .k-datepicker.ng-invalid.ng-touched {
    .k-select { background-color: #eeeeee !important; }
    .k-icon.k-i-calendar:before {
      background-image: url('../../../assets/img/svgs/down-arrow-datepicker-invalid.svg');
    }
  }
  &.valid-label {
    .k-datepicker {
      .k-select { background-color: #eeeeee !important; }
      .k-icon.k-i-calendar:before {
        background-image: url('../../../assets/img/svgs/down-arrow-datepicker-valid.svg');
      }
    }
  }
}
.k-floating-label-container {
  &.k-state-focused {
    .k-datetimepicker .k-picker-wrap .k-dateinput .k-dateinput-wrap .k-input {
      color: #fff;
    }
    &.k-state-invalid {
      .k-select {
        background-color: unset !important;
      }
    }
    &.valid-label {
      .k-select {
        background-color: unset !important;
      }
    }
  }

}

.k-floating-label-container.required.k-state-focused.valid-label {
  .k-picker-wrap.k-state-focused {
    background-color: #28529f !important;
  }
}

.k-floating-label-container.k-state-focused input {
  &::placeholder {
    padding-left: 0 !important;
    font-weight: 400 !important;
    color: #28529f !important;
  }
}

kendo-floatinglabel.required .k-label:after {
  content: '*';
  position: relative;
  left: 3px;
  font-size: 0.9rem;
  display: inline-block;
  color: #ff5d5d;
}

.k-floating-label-container.k-state-focused > .k-label {
  color: #606060 !important;
  font-weight: 500 !important;
  transition: none;
}

.k-floating-label-container.k-state-invalid + .k-label,
.k-floating-label-container .k-state-invalid + .k-label,
.k-floating-label-container .ng-invalid.ng-touched + .k-label,
.k-floating-label-container .ng-invalid.ng-dirty + .k-label {
  color: #606060 !important;
}

.k-floating-label-container.k-state-invalid.k-state-focused + .k-label,
.k-floating-label-container.k-state-focused .k-state-invalid + .k-label,
.k-floating-label-container.k-state-focused .ng-invalid.ng-touched + .k-label,
.k-floating-label-container.k-state-focused .ng-invalid.ng-dirty + .k-label {
  color: #606060 !important;
}

.k-floating-label-container.k-state-invalid.valid-label + .k-label,
.k-floating-label-container.valid-label .k-state-invalid + .k-label,
.k-floating-label-container.valid-label .ng-invalid.ng-touched + .k-label,
.k-floating-label-container.valid-label .ng-invalid.ng-dirty + .k-label,
.k-floating-label-container.k-state-invalid.valid-label + .k-label,
.k-floating-label-container.valid-label .k-state-invalid + .k-label,
.k-floating-label-container.valid-label .ng-invalid.ng-touched + .k-label,
.k-floating-label-container.valid-label .ng-invalid.ng-dirty + .k-label {
  color: #606060 !important;
  font-weight: 600 !important;
  transition: none;
}

kendo-floatinglabel:hover {
  .k-label {
    transition: none;
  }
}
.k-floating-label-container .k-label {
  transition: 0.3s;
  transform: none !important;
}

.k-floating-label-container.k-state-focused.k-state-empty > .k-label,
.k-floating-label-container:not(.k-state-empty) > .k-label,
.k-floating-label-container.k-state-focused > .k-label {
  background-color: unset !important;
  top: -17px !important;
  color: #606060 !important;
  font-size: 11px;
  font-weight: 600 !important;
  transition: 0.3s;
  transform: none !important;
}

.k-floating-label-container.k-state-empty > .k-label {
  display: block !important;
}

// margin top 3px >> company factoring > editor > dropdown item
/*.k-dropdown .k-dropdown-wrap .k-input,
.k-dropdowntree .k-dropdown-wrap .k-input {
  font-weight: 500;
  margin-top: 3px;
}*/

.notice-wrapper kendo-toolbar .k-icon.k-i-arrow-s {
  width: 12px;
}

#k-colorpicker-0 .k-select {
  opacity: 0;
}

kendo-editor.notice-wrapper
  kendo-toolbar
  kendo-toolbar-renderer
  kendo-colorpicker
  .k-selected-color {
  width: 16px !important;
  height: 16px !important;
  border-radius: 2px !important;
  margin: 0 !important;
  top: 0 !important;
}

.k-animation-container > * {
  opacity: 1 !important;
  background-color: (255, 255, 255, 1);
}

kendo-editor {
  .k-button-icon {
    opacity: 0.7;
    transition: none;

    &:hover {
      opacity: 1;
      transition: none;
    }

    .k-icon {
      &.k-i-bold::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-bold.svg');
        display: block;
        width: 16px;
        height: 16px;
      }

      &.k-i-italic::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-italic.svg');
        display: block;
        width: 12px;
        height: 16px;
      }

      &.k-i-underline::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-underline.svg');
        display: block;
        width: 16px;
        height: 16px;
      }

      &.k-i-align-left::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-left-align.svg');
        display: block;
        width: 16px;
        height: 16px;
      }

      &.k-i-align-center::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-center-align.svg');
        display: block;
        width: 16px;
        height: 16px;
      }

      &.k-i-align-right::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-right-align.svg');
        display: block;
        width: 16px;
        height: 16px;
      }

      &.k-i-align-justify::before {
        content: '';
        background-image: url('../../../assets/img/svgs/icon-justify-align.svg');
        display: block;
        width: 16px;
        height: 16px;
      }
    }
  }

  .k-state-active {
    opacity: 1;
  }
}

.k-reset {
  margin: 0;
  padding: 0;
  border-width: 0;
  outline: 0;
  text-decoration: none;
  font: inherit;
  list-style: none;
}

.k-link {
  color: inherit;
  text-decoration: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: inherit;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
  }
}

.k-content {
  outline: 0;
  border-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  background-color: #ffffff;
}

.k-animation-container {
  position: absolute;
  overflow: hidden;
  z-index: 100;
  border-radius: 3px;

  > .k-popup {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }
}
.k-button {
  background-clip: padding-box;
  border-radius: 2px;
  padding: 4px 8px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  font-size: 0.9rem;
  line-height: 1.4285714286;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative;
  border-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  background-color: #f6f6f6;
  background-image: linear-gradient(#f6f6f6, #f1f1f1);

  &:disabled {
    outline: none;
    cursor: default;
    opacity: 0.6;
    filter: grayscale(0.1);
    pointer-events: none;
    box-shadow: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    outline: 0;
    border-color: rgba(0, 0, 0, 0.15);
    color: #656565;
    background-color: #ededed;
    background-image: linear-gradient(#ededed, #e8e8e8);

    &::before {
      opacity: 0.08;
    }
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.06);
  }

  &::before {
    border-radius: inherit;
    content: '';
    background: currentColor;
    opacity: 0;
    display: none;
    pointer-events: none;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:active {
    &::before {
      opacity: 0.16;
    }

    border-color: rgba(0, 0, 0, 0.08);
    color: #656565;
    background-color: #f6f6f6;
    background-image: none;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.06);
  }

  &::after {
    border-radius: 2px;
    content: '';
    opacity: 0;
    display: none;
    pointer-events: none;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: 0;
    transition: opacity 0.2s ease-in-out;
  }
}

.k-calendar-header {
  .k-button {
    border-color: transparent !important;
    color: inherit;
    //background: none !important;
    box-shadow: none !important;
    transition: color 0.2s ease-in-out;
    //color: inherit;
    background: none;

    &:hover {
      color: inherit;

      &:active {
        color: inherit;
      }
    }

    &:active {
      color: inherit;
    }

    &::before {
      display: block;
      //display: none;
    }

    &::after {
      display: block;
    }

    &:focus {
      &::after {
        box-shadow: inset 0 0 0 2px currentColor;
        opacity: 0.12;
      }
    }

    /*
        Dugme za mesec u kalendaru
    */
    &.k-title.k-calendar-title {
      //padding: 0;
      font-size: 12px;
      font-weight: 700;
      color: $bw6-2;
      padding: 2px 6px;
      border-radius: 3px;
      transition: $transition;

      &:before {
        display: none;
      }

      &:hover {
        background: $bw2!important;
        transition: $transition;
      }
    }
  }

  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;

  .k-title {
    font-weight: bold;
  }

  .k-calendar-title {
    font-weight: bold;
  }

  .k-today {
    cursor: pointer;
    outline: none;
  }

  .k-calendar-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4px;
  }
}

.k-popup {
  background-clip: padding-box;
  margin: 0;
  padding: 0 0;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.4285714286;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #656565;
  background-color: #f9f9f9;

  > .k-widget {
    border-width: 0;
  }

  .k-calendar {
    height: 100%;
  }

  &.custom-datepick {
    border-radius: 3px;
    overflow: hidden;
  }
}

.k-animation-container-shown {
  overflow: visible;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04);
}

.k-calendar {
  background-clip: padding-box;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  outline: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4285714286;
  position: relative;
  overflow: hidden;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.08);
  color: #656565;
  background-color: #ffffff;

  .k-link {
    outline: 0;
    color: inherit;
    text-decoration: none;
    white-space: normal;
    cursor: pointer;
    overflow: hidden;
  }

  .k-calendar-view {
    table {
      margin: 0;
      border-width: 0;
      border-color: inherit;
      border-spacing: 0;
      border-collapse: separate;
      table-layout: fixed;
      outline: 0;
      position: relative;
      z-index: 1;
    }

    .k-calendar-table {
      margin: 0;
      border-width: 0;
      border-color: inherit;
      border-spacing: 0;
      border-collapse: separate;
      table-layout: fixed;
      outline: 0;
      position: relative;
      z-index: 1;
    }

    td {
      border-width: 0;
      padding: 0;
      text-align: center;
      border-style: solid;
      border-color: inherit;
      font-weight: normal;
      cursor: default;
    }

    th {
      border-width: 0;
      text-align: center;
      border-style: solid;
      border-color: inherit;
      font-weight: normal;
      cursor: default;
      padding: 0.25em 0;
      font-size: 12px;
      line-height: 2;
      text-transform: uppercase;
      opacity: 0.6;
    }

    .k-calendar-td {
      border-width: 0;
      padding: 0;
      text-align: center;
      border-style: solid;
      border-color: inherit;
      font-weight: normal;
      cursor: default;
    }

    .k-calendar-th {
      border-width: 0;
      text-align: center;
      border-style: solid;
      border-color: inherit;

      cursor: default;
      padding: 0.25em 0;
      font-size: 12px;
      line-height: 2;
      text-transform: uppercase;

      opacity: 1;
      font-weight: bold;
      color: $bw4;
    }

    tbody {
      th {
        padding-left: 8px;
        padding-right: 8px;
        height: 2em;
        font: inherit;
        font-weight: bold;
        text-transform: none;
        text-align: left;
      }
    }

    .k-calendar-tbody {
      .k-calendar-th {
        //padding-left: 8px;
        //padding-right: 8px;
        height: 2em;
        font: inherit;

        text-transform: none;
        text-align: left;

        color: #6c6c6c;
        font-size: 12px;
        padding: 0 8px 8px;
      }
    }

    width: 17em;
    box-sizing: content-box;
    height: 17em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: auto;
    padding: 0 4px;
    gap: 16px;
  }

  .k-content {
    width: 100%;
    margin: 0;
    text-align: center;
    flex: 1 1 auto;
    position: relative;

    > table {
      table-layout: fixed;
      margin-right: -17px;
      margin-top: 10px;
    }

    > .k-calendar-table {
      table-layout: fixed;
      margin-right: -17px;
      margin-top: 10px;
    }

    td {
      border-radius: 2px;
      border-color: transparent;
    }

    .k-calendar-td {
      border-radius: 2px;
      border-color: transparent;
    }

    .k-link {
      border-radius: 2px;
      padding: 0.5em 0.5em;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .k-weekend {
      border-radius: 0;
      opacity: 1;
    }
  }

  .k-calendar-content {
    width: 100%;
    margin: 0;
    text-align: center;
    flex: 1 1 auto;
    position: relative;

    > table {
      table-layout: fixed;
      margin-right: -17px;
      margin-top: 10px;
    }

    > .k-calendar-table {
      table-layout: fixed;
      margin-right: -17px;
      margin-top: 10px;
      width: 227px;
    }

    td {
      border-radius: 2px;
      border-color: transparent;
    }

    .k-calendar-td {
      border-radius: 2px;
      border-color: transparent;
    }

    .k-link {
      border-radius: 2px;
      padding: 0.5em 0.5em;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .k-weekend {
      border-radius: 0;
      opacity: 1;
    }
  }

  .k-calendar-monthview {
    td {
      //width: 2.4285714286em;
      //height: 2.4285714286em;
      width: 22px;
      height: 22px;

      span.k-link {
        width: 22px;
        height: 22px;
      }
    }

    .k-calendar-td {
      //width: 2.4285714286em;
      //height: 2.4285714286em;
      width: 22px;
      height: 22px;
      margin: auto;

      span.k-link {
        width: 22px;
        height: 22px;
        margin: auto;
        font-size: 12px;
      }

      &.k-today {
        span.k-link {
          background: rgba(86, 115, 170, 0.10);
          color: rgba(86, 115, 170, 0.70);

          &:hover {
            background: rgba(86, 115, 170, 0.20);
            color: rgba(86, 115, 170);
          }
        }
      }

      &.k-state-focused.k-state-selected {
        span.k-link {
          border-color: $light-blue;
          color: #ffffff;
          background-color: $light-blue;
          transition: $transition;

          &:hover {
            border-color: $light-blue;
            color: #ffffff;
            background-color: $light-blue;
            transition: $transition;
          }
        }
      }
    }

    .k-link {
      width: 2.4285714286em;
      height: 2.4285714286em;
    }
  }

  .k-content.k-scrollable {
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: -100px;
    margin-right: -117px;
  }

  .k-calendar-content.k-scrollable {
    box-sizing: content-box;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding-right: 100px;
    padding-left: 100px;
    margin-left: -100px;
    margin-right: -117px;
  }

  .k-scrollable-placeholder {
    position: absolute;
    z-index: -1;
    width: 1px;
    top: 0;
    right: 0;
  }

  .k-calendar-header {
    .k-today {
      font-size: 12px;
      font-weight: bold;
      color: $light-blue-07;

      &:hover,
      &:focus {
        color: $light-blue;
      }
    }
  }

  .k-weekend {
    color: inherit;
    background-color: transparent;
  }

  td {
    &:hover {
      .k-link {
        border-color: #ededed;
        color: #656565;
        background-color: #ededed;
      }
    }
  }

  .k-calendar-td {
    &:hover {
      .k-link {
        border-color: $bw2;
        color: $bw6-2;
        background-color: $bw2;
      }
    }
  }

  .k-state-selected {
    .k-link {
      border-color: $light-blue;
      color: #ffffff;
      background-color: $light-blue;

      &:hover {
        border-color: $light-blue;
        color: #ffffff;
        background-color: $light-blue;
      }
    }
  }

  .k-calendar-navigation {
    color: #656565;
    background-color: #f6f6f6;
    box-shadow: none;
    width: 53px;

    li {
      &:hover {
        color: $light-blue-07;
      }
    }

    .k-content.k-calendar-content.k-scrollable {
      ul {
        width: 53px;
        margin: auto;
      }
    }
  }

  .k-calendar-navigation-highlight {
    border-color: rgba(0, 0, 0, 0.08);
    color: #656565;
    background-color: #ffffff;
    height: 23px;
  }
}

.k-calendar-infinite {
  .k-calendar-view {
    width: 227px;
    box-sizing: border-box;
    gap: 0;
    padding: 0 16px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    height: 17.428571em;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      content: ' ';
      height: 0;
      line-height: 0;
      z-index: 1;
      width: 150%;
      left: -25%;
      box-shadow: 0 0 2.4285714286em 1.2142857143em #ffffff;
    }

    &.k-calendar-yearview,&.k-calendar-decadeview{
      .k-calendar-td{
        max-width: 45px !important;
        width: 100%;
        height: 30px !important;

        &:hover {
          .k-link {
            background: #EEEEEE;
          }
        }

        &.k-today {
          .k-link {
            background: rgba(86, 115, 170, 0.1);
            color: rgba(86, 115, 170, 0.7);
            &:hover{
              background: rgba(86, 115, 170, 0.2);
              color: #5673AA;
            }
          }
        }

        &.k-state-focused{
          .k-link {
            background: rgba(86, 115, 170);
            color: white;
            &:hover{
              background: rgba(86, 115, 170, 0.2);
              color: #5673AA;
            }
          }
        }

        .k-link {
          color: #919191;
          // 1274 tr td.k-calendar-td
          width: 100%!important;
          height: 30px!important;
        }
      }
      .k-calendar-table{
        width: 100%;
      }
    }
  }

  box-sizing: content-box;
  width: auto;
  display: inline-flex;
  vertical-align: bottom;

  .k-calendar-monthview {
    padding: 0 14px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    overflow: hidden;
    box-sizing: content-box;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      content: ' ';
      height: 0;
      line-height: 0;
      z-index: 1;
      width: 150%;
      left: -25%;
      box-shadow: 0 0 2.4285714286em 1.2142857143em #ffffff;
    }
  }

  .k-calendar-header {
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 16px;
  }

  .k-calendar-weekdays {
    width: 100%;
    flex: 0 0 auto;
  }
}

.k-calendar-container {
  padding: 0;

  .k-calendar {
    border-width: 0;
  }
}

.k-calendar-navigation {
  width: 5em;
  flex: 0 0 auto;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;

  &::before {
    display: block;
    position: absolute;
    content: ' ';
    height: 0;
    line-height: 0;
    z-index: 1;
    width: 200%;
    left: -50%;
    box-shadow: 0 0 6em 3em #f6f6f6;
    top: 0;
  }

  &::after {
    display: block;
    position: absolute;
    content: ' ';
    height: 0;
    line-height: 0;
    z-index: 1;
    width: 200%;
    left: -50%;
    box-shadow: 0 0 6em 3em #f6f6f6;
    bottom: 0;
  }

  * {
    box-shadow: none !important;
  }

  .k-content {
    background: transparent;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    ul {
      width: 5em;
    }

    li {
      cursor: pointer;
      padding: 0 1em;
      height: 22px;
      line-height: 22px;
    }
  }

  .k-calendar-content {
    background: transparent;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    ul {
      width: 5em;
    }

    li {
      cursor: pointer;
      padding: 0;
      height: 22px;
      line-height: 22px;
      font-size: 12px;
    }
  }

  .k-calendar-navigation-marker {
    font-weight: 400;
  }

  .k-calendar-navigation-highlight {
    width: 100%;
    height: 22px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: white;
    border: none;
  }
}

.k-calendar-yearview {
  .k-content.k-calendar-content.k-scrollable {
    table.k-calendar-table {
      width: 100%;

      tr td.k-calendar-td {
        span.k-link {
          //width: 3em !important;
        }
      }
    }
  }
}

/** Lista kendo */
.k-popup.k-list-container.k-reset {
  border-radius: 5px;
  overflow: hidden;

  * {
    border-radius: unset;
  }

  .k-list-optionlabel.k-state-disabled {
    display: none;
  }

  kendo-list {
    .k-list-scroller {
      background: white;
    }

    .k-dropdown .k-dropdown-wrap .k-input {
      color: $bw6-2;
    }
  }

  kendo-list {
    ul.k-list.k-reset {
      li:hover {
        cursor: pointer !important;
      }

      li.k-item.k-state-focused.k-state-selected {
        background: $light-blue-07;
        color: white;

        span {
          color: white;
        }

        &:hover {
          background: $light-blue;
        }
      }
    }
  }
}
kendo-datepicker {
  .k-select {
    opacity: 1 !important;
    &:hover {
      opacity: 1 !important;
    }
  }
  .k-picker-wrap {
    .k-icon.k-i-calendar {
      &:before {
        content: '';
        background-image: url('../../../assets/img/svgs/down-arrow-datepicker-dark.svg');
        transition: 0.25s;
        width: 12px;
        height: 7px;
        display: block;
        background-size: 12px 7px;
        background-repeat: no-repeat;
      }
    }
    &.k-state-focused {
      .k-select {
        background-color: #919191 !important;
        .k-icon.k-i-calendar:before {
          transform: rotate(180deg);
          transition: 0.25s;
          background-image: url('../../../assets/img/svgs/down-arrow-datepicker-white.svg');
        }
      }
    }
  }
}
