// THIN
.ta-font-thin {
  font-weight: 100 !important; 
  color: #919191 !important;
}
// EXTRA LIGHT
.ta-font-extra-light {
  font-weight: 200 !important;
  color: #919191 !important;
}
// LIGHT
.ta-font-light {
  font-weight: 300 !important;
  color: #919191 !important;
}
// REGULAR
.ta-font-regular {
  font-weight: 400 !important;
  color: #919191 !important;
}
// MEDIUM
.ta-font-medium {
  font-weight: 500 !important;
  color: #919191 !important;
}
// SEMI-BOLD
.ta-font-semi-bold {
  font-weight: 600 !important;
  color: #919191 !important;
} 
// BOLD
.ta-font-bold {
  font-weight: 700 !important;
  color: #919191 !important;
}
// EXTRA-BOLD
.ta-font-extra-bold {
  font-weight: 800 !important;
  color: #919191 !important;
}
// BLACK
.ta-font-black {
  font-weight: 900 !important;
  color: #919191 !important;
}
