<div class="ta_status_main_holder">
    <div @shadowAnimation class="shadow_item" [class.active]="openedStatus == statusMainIndex" ></div>
    <div 
        class="ta_status_switch_holder hoverItem" 
        [class.closedItem]="openedStatus != statusMainIndex"
        [class.otherStatusOpened]="openedStatus > -1  && openedStatus != statusMainIndex"
    >
        <div 
            class="status_change_wrapper" 
            [class.active]="openedStatus == statusMainIndex" 
            [ngStyle]="{ top: '-'+((statusMainSignal * statusHeight)+(!statusMainSignal ? 1 : 0))+'px', height: ((items.length * statusHeight)+(!statusMainSignal ? 0 : 1))+ 'px'}">
            <div 
                class="switch_statuses" 
                (click)="openedStatus != statusMainIndex ? openMainIndex() : changeStatus(item.id, indx)" 
                [ngStyle]="{ color: item.color + ( hoverItem == indx ? '' : '70') }"
                (mouseover)="hoverItem = indx"
                (mouseleave)="hoverItem = -1"
                [class.active]="item.id == changeIndex && openedStatus == statusMainIndex"
                [class.withAgo]="withStatusAgo"
                *ngFor="let item of items; let indx = index">
                <div class="load-repear-item" *ngIf="item.load_repear"> L </div>
                 {{item.name}}
                 <span class="time_ago" *ngIf="withStatusAgo">{{statusAgo}}</span>
                <div 
                    class="load-count-number"
                    [ngStyle]="{ color: (item.id >= 5100 ? '#ff5d5d' : '#24C1A1') + ( hoverItem == indx ? '' : '70') }"
                    *ngIf="item.load_count">
                   {{item.load_count}}
                </div>
            </div>
        </div>
    </div>
</div>