@import '../../../assets/scss/components/variables.scss';

.custom_editor_holder{
    flex-wrap: wrap;
    .custom_select_holder{
        min-width: 52px;
        height: 26px;
        margin-right: 4px;
        &.font-family{
            min-width: 100px;
            flex: 1;
        }

        &.text-align-holder{
            margin: 0 0 0 12px;
        }
    }
}

@keyframes heightChange {
    0% {
        max-height: 0px;
        overflow: hidden;
    }
    100% {
        max-height: 224px;
        overflow: hidden;
    }
}

.custom_select_holder{
    user-select: none;
    ::ng-deep{
        ng-dropdown-panel{
            position: absolute !important;
            width: 100% !important;

            .ng-dropdown-panel-items{
                height: 100%;
                overflow: auto;
                animation: heightChange ease-in-out 300ms;
            }
        }
    
        .ng-select-container{
            height: 26px;
            align-items: center !important;
            border-radius: 3px;
    
            background-color: rgba(238, 238, 238, 0.7);

            cursor: pointer;
    
            &:after{
                display: none;
            }
        }
    
        .options_img{
            svg{
                rect{
                    fill: #919191;
                }
    
                &:hover{
                    rect{
                        fill: #6c6c6c;
                    }
                }
            }   
        }
    
        .selected_img{
            svg{
                rect{
                    fill: #6c6c6c;
                }
            }   
        }
    
        ng-select{
            .ng-arrow-wrapper{
                &:after{
                    top: 2px;
                }
            }
            &.ng-select-opened{
                .ng-select-container{
                    background-color: #6C6C6C;
                }
    
                .ng-value{
                    color: #fff;
                }
    
                .selected_img{
                    svg{
                        rect{
                            fill: #fff;
                        }
                    }   
                }
    
                .ng-arrow-wrapper{
                    &:after{
                        color: #fff;
                        top: 6px;
                    }
                }
            }
        }
    }
}

.wysiwyg_color_picker{
    position: relative;
    width: 26px;
    height: 26px;
    margin: 0px 4px 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    .wysiwyg_choosen_color{
        position: relative;
        width: 22px;
        height: 22px;
        
        background-color: #5673AA;
        border-radius: 3px;
        cursor: pointer;

        &.active{
            &:after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid rgba(0, 0, 0, 0.3);
                border-radius: 3px;
            }
        }
    }

    .wysiwyg_color_dropdown{
        position: absolute;
        top: calc(100% + 8px);
        width: 204px;
        left: -5px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15) !important;

        z-index: 100;

        .text-color{
            padding: 5px 5px;

            font-size: 14px;
            color: rgba(96, 96, 96, 0.7);
        }

        .color_holder{
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            div{
                position: relative;
                width: 22px;
                height: 22px;
                border-radius: 3px;
                margin: 6px;
                cursor: pointer;

                &:hover{
                    &:after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 2px solid rgba(0, 0, 0, 0.3);
                        border-radius: 3px;
                    }
                }
    
                &:nth-child(1) {
                    background-color: #D1D1D1;
                }
                &:nth-child(2) {
                    background-color: #919191;
                }
                &:nth-child(3) {
                    background-color: #3D3D3D;
                }
                &:nth-child(4) {
                    background-color: #9842D8;
                }
                &:nth-child(5) {
                    background-color: #7040A1;
                }
                &:nth-child(6) {
                    background-color: #442265;
                }
    
                &:nth-child(7) {
                    background-color: #F84D9F;
                }
                &:nth-child(8) {
                    background-color: #CF3991;
                }
                &:nth-child(9) {
                    background-color: #873565;
                }
                &:nth-child(10) {
                    background-color: #FF7B1D;
                }
                &:nth-child(11) {
                    background-color: #FF5C50;
                }
                &:nth-child(12) {
                    background-color: #E61D0D;
                }
    
                &:nth-child(13) {
                    background-color: #FFE567;
                }
                &:nth-child(14) {
                    background-color: #FFD400;
                }
                &:nth-child(15) {
                    background-color: #FFAA00;
                }
                &:nth-child(16) {
                    background-color: #50DC96;
                }
                &:nth-child(17) {
                    background-color: #00C76E;
                }
                &:nth-child(18) {
                    background-color: #009E61;
                }
    
                &:nth-child(19) {
                    background-color: #31E5DD;
                }
                &:nth-child(20) {
                    background-color: #00C4BB;
                }
                &:nth-child(21) {
                    background-color: #008C8F;
                }
                &:nth-child(22) {
                    background-color: #49CBFF;
                }
                &:nth-child(23) {
                    background-color: #00ACF0;
                }
                &:nth-child(24) {
                    background-color: #0093CE;
                }

                &.active{
                    background-image: url('../../../assets/img/svgs/editor-selected-color.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &:after {
            @include triangletop;
            content: '';
            top: -4px;
            left: 8px;
        }
    }

}

.wysiwyg_button_group{
    align-items: center;

    .sysiwyg_button_item{
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg-icon{
            display: flex;
            svg{
                path{
                    fill: #919191;
                }
            }
        }

        &:hover{
            cursor: pointer;
            svg{
                path{
                    fill: #6C6C6C;
                }
            }
        }

        &.active{
            background-color: #B7B7B7;
            border-radius: 2px;
            svg-icon{
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }
        }
    }
}

.wysiwyg-text-transform-buttons{
    &.small_width{
        padding-top: 5px;
    }
    .text-align-buttons{
        align-items: center;
    }
    .align-buttons{
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;

        svg{
            display: flex;
            rect{
                fill: #919191;
            }

            &:hover{
                cursor: pointer;
                rect{
                    fill: #6c6c6c;
                }
            }
        }

        &.active{
            background-color: #B7B7B7;
            svg{
                rect, path{
                    fill: #fff;
                }
            }
        }
    }

    .paragraph-buttons{
        margin-left: 12px;
    }
}