<div class="container-fluid">
  <div class="create-password-wrapper d-flex justify-content-center">
    <div
      class="create-password d-flex flex-column align-items-center"
      [class.justify-content-center]="congrats"
    >

      <ng-container *ngIf="!congrats">
        <div class="create-password-icon d-flex align-items-center justify-content-center">
          <svg-icon
            class="d-flex align-items-center justify-content-center"
            src="assets/img/svgs/truck-assist-logo-icon.svg"></svg-icon>
        </div>
        <div class="create-password-text" *ngIf="!congrats">
          <p>Create New Password</p>
          <p>
            Your new password must be different form <br />
            previously used password
          </p>
        </div>
        <div class="create-password-form" >
          <form [formGroup]="newPasswordForm">
            <div class="form-label-group input-icon">
              <input
                id="newPassword"
                type="password"
                appInputFocus
                class="form-control input-control required"
                placeholder="New Password"
                formControlName="newPassword"
                appAutoFocus
              />
              <label class="required-label" for="newPassword">New Password</label>
              <app-required-label
                [control]="newPasswordForm.controls.newPassword"
              ></app-required-label>
            </div>
            <div class="form-label-group input-icon">
              <input
                id="confirmPassword"
                type="password"
                appInputFocus
                class="form-control input-control required"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
              <label class="required-label" for="confirmPassword">Confirm Password</label>
              <app-required-label
                [control]="newPasswordForm.controls.confirmPassword"
              ></app-required-label>
              <p
                *ngIf="newPasswordForm?.errors?.notSame == true"
                style="position: absolute; font-size: 10px; color: #ff5d5d;"
              >
                Passwords not same
              </p>
            </div>
            <button (click)="confirmPassword()">
              <p>Confirm Password</p>
            </button>
          </form>
        </div>
      </ng-container>

      <ng-container *ngIf="congrats">
        <svg-icon
          class="d-flex align-items-center justify-content-center"
          src="assets/img/svgs/reset-password-congratulations.svg"
        ></svg-icon>
        <div class="create-password-text" >
          <p>Congratulations!</p>
          <p>Your password has been successfully changed</p>
        </div>
        <button id="login" routerLink="/login">
          <p>Login</p>
        </button>
      </ng-container>

    </div>
  </div>
  <div class="row">
    <div class="copyright">
      <p>Copyright © TruckAssist 2021.</p>
    </div>
  </div>
</div>
