<div class="modal-container" cdkDrag>
  <div class="modal-header" cdkDragHandle>
  <h5 class="modal-title">{{ headerFirst }}</h5>
  <app-modal-close></app-modal-close>
</div>

<div class="body">
  <div class="d-flex justify-content-center payment-date">
    <div>{{ markedTitle }} {{ markedData }}</div>
  </div>

  <div class="d-flex justify-content-center">
    <svg-icon
      class="d-flex justify-content-center"
      src="assets/img/svgs/cardlogo.svg"
      [svgStyle]="{ 'width.px': 32, 'height.px': 22 }"
    ></svg-icon>
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center text-bold">{{ textUnderlogoFirst }}</div>
    <div class="d-flex justify-content-center text-normal">{{ textUnderlogoSecond }}</div>
  </div>

  <form
    [formGroup]="paymentDetailsForm"
    class="form-container"
    (keydown)="keyDownFunction($event)"
  >
    <div class="box-field">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between box-size">
          <svg-icon
            class="circle-style"
            src="assets/img/svgs/circle.svg"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
          ></svg-icon>
          <svg-icon
            class="logo d-flex justify-content-center"
            src="assets/img/svgs/bank_house.svg"
            [svgStyle]="{ 'width.px': 32, 'height.px': 32 }"
          ></svg-icon>
          <div class="d-flex justify-content-left flex-column vlues-box">
            <div class="box-bold "><span>Denis Rodman</span></div>
            <div class="box-normal">*******045</div>
          </div>
        </div>

        <div class="d-flex justify-content-between box-size">
          <svg-icon
            class="circle-style"
            src="assets/img/svgs/circle.svg"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
          ></svg-icon>
          <svg-icon
            class="logo d-flex justify-content-left"
            src="assets/img/svgs/bank_house.svg"
            [svgStyle]="{ 'width.px': 32, 'height.px': 32 }"
          ></svg-icon>
          <div class="d-flex flex-column justify-content-left vlues-box">
            <div class="box-bold">Steve Kerr</div>
            <div class="box-normal">*******222</div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between box-size">
          <svg-icon
            class="circle-style"
            src="assets/img/svgs/circle.svg"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
          ></svg-icon>
          <svg-icon
            class="logo-card d-flex justify-content-left"
            src="assets/img/svgs/cardlogo.svg"
            [svgStyle]="{ 'width.px': 32, 'height.px': 22 }"
          ></svg-icon>
          <div class="d-flex flex-column vlues-box">
            <div class="box-bold">Scottie Pippen</div>
            <div class="box-normal">**** **** *775</div>
          </div>
        </div>
        <div class="d-flex justify-content-between box-size">
          <svg-icon
            class="circle-style"
            src="assets/img/svgs/circle.svg"
            [svgStyle]="{ 'width.px': 18, 'height.px': 18 }"
          ></svg-icon>
          <svg-icon
            class="logo-card d-flex justify-content-left"
            src="assets/img/svgs/cardlogo.svg"
            [svgStyle]="{ 'width.px': 32, 'height.px': 22 }"
          ></svg-icon>
          <div class="d-flex flex-column vlues-box">
            <div class="box-bold">Michael Jordan</div>
            <div class="box-normal">**** **** *238</div>
          </div>
        </div>
      </div>
    </div>
    <div class="titles">
      <div class="styles">{{ headerSecond }}</div>
    </div>
    <div class="input-field">
      <div class="form-label-group label-control">
        <input
          id="name"
          class="form-control input-control"
          placeholder="name"
          formControlName="name"
          appInputrestriction="[A-Za-z]"
          value="Denis Rodman"
        />
        <label class="required-label" for="name">Name</label>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-label-group label-control input-icon phone-field-wrapper {{ manageInputValidation(paymentDetailsForm.controls.phoneNumber) }}">
          <input
            id="phone"
            class="form-control input-control"
            placeholder="phone"
            formControlName="phoneNumber"
            appInputFocus
            appAutoFocus
            [modalType]="inputData.data.type"
            value="(621) 321-2232"
          />
          <label for="phone">Phone</label>
          <span *ngIf="formSubmitted" class="required-notice">Required</span>
        </div>

        <div class="form-label-group label-control input-icon email-field-wrapper {{ manageInputValidation(paymentDetailsForm.controls.email) }}">
          <input
            id="email"
            appInputFocus
            class="form-control input-control style-email"
            placeholder="email"
            formControlName="email"
            value="denisrodman@gmail.com"
          />
          <label for="email">Email</label>
          <span *ngIf="formSubmitted" class="required-notice">Required</span>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div
          class="d-flex justify-content-between form-label-group label-control input-icon address-field-wrapper"
        >
          <input
            id="address"
            class="form-control input-control style-address"
            placeholder="Address, City, State Zip"
            formControlName="address"
            appInputFocus
            ngx-google-places-autocomplete
            [options]="options"
            #placesRef="ngx-places"
            value="Chicago Heights, IL, USA"
          />
          <label for="address">Address, City, State Zip</label>

          <span *ngIf="formSubmitted" class="required-notice">Required</span>
        </div>

        <div class="form-label-group label-control">
          <input
            id="addressUnit"
            class="form-control input-control"
            placeholder="Unite #"
            formControlName="addressUnit"
            value="3252"
          />
          <label for="addressUnit"><span>Unit#</span></label>
        </div>
      </div>

      <div class="form-label-group label-control" *ngIf="!newBankVisible">
        <ng-select
          placeholder="Bank name"
          [items]="bankData"
          formControlName="bank"
          bindLabel="bankName"
          class="bank-name-select has-add-new{{ (bankSearchItems == 1) ? ' has-one-result' : '' }}"
          (search)="onSearch($event)"
          (close)="onClose($event)"
          (clear)="onClose($event)"
          (change)="onBankChange($event)"
          [searchFn]="customSearch"
          appendTo="body"
        >
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <span class="bank-image dropdown-image" *ngIf="item.bankLogo !== null">
              <svg-icon src="assets/img/svgs/bank-logos/{{ item.bankLogoWide }}.svg"></svg-icon>
            </span>
            <span *ngIf="item.bankLogo == null" [ngOptionHighlight]="search">{{ item.bankName }}</span>
            <svg-icon class="delete-record-icon" *ngIf="item.id !== 0 && item.protected !== null && item.protected !== 1" src="assets/img/trash.svg" (click)="deleteBank(item.id)" appTaTooltip="Delete" position="bottom-left"></svg-icon>
          </ng-template>

          <ng-template ng-label-tmp let-item="item">
            <span class="value-label-container bank-image" *ngIf="item.bankLogo !== null">
              <svg-icon src="assets/img/svgs/bank-logos/{{ item.bankLogoWide }}.svg"></svg-icon>
            </span>
            <span class="value-label-container bank-image" *ngIf="item.bankLogo == null">
              {{ item.bankName }}
            </span>
          </ng-template>
        </ng-select>
      </div>

      <div class="add-new-form add-new-bank" *ngIf="newBankVisible">
        <div class="form-label-group">
          <input
            id="newBank"
            class="form-control input-control"
            placeholder="New bank"
            [(ngModel)]="newBank"
            [ngModelOptions]="{standalone: true}"
            (keypress)="onBankKeyPress($event)"
            appInputFocus
          >
          <label for="newBank">New bank</label>
          <span class="save-new-record" (click)="saveNewBank()" *ngIf="newBank !== '' && newBank !== null" appTaTooltip="Save" position="bottom-right">
            <svg-icon src="assets/img/svgs/add-save.svg"></svg-icon>
          </span>
          <span class="close-new-record" (click)="closeNewBank()" appTaTooltip="Cancel" position="bottom-right">
            <svg-icon src="assets/img/svgs/add-cancel.svg"></svg-icon>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <app-truckassist-checkbox
        id="saveBillingInfo"
        [text]="checkedFirst"
        (change)="changeBillingInfo()"
        [checked]="true"
      >
      </app-truckassist-checkbox>
      <!-- checkedFirst -->
    </div>

    <div class="titles">
      <div class="styles">{{ headerthird }}</div>
    </div>

    <div class="col-12">
      <app-truckassist-checkbox
        id="achConfirmation"
        (change)="changeAchConfirmation()"
        [text]="checkedSecond"
        [checked]="false"
      >
      </app-truckassist-checkbox>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-center button">
  <a class="btn btn-control">{{ buttonText }}</a>
</div>
</div>
