option_settings:
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-2:365291885935:certificate/d4a0793a-0261-4d5f-81f9-e23c33dc9846
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:listener:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP