<div class="lists" [ngClass]="{ addExpendList: !rotateSVG }">
  <div
    class="title"
    [ngClass]="{
      'dropdowna-active': !rotateSVG,
      styleOfList: !changeStyleList,
      chnageStyleOfList: changeStyleList
    }"
  >
    <span (click)="onShowShopList()">{{ titleOfList }}</span>
    <svg-icon
      (click)="onShowShopList()"
      src="../../../../assets/img/svgs/shop-map/arrow.svg"
      class="arrow-down"
      [ngClass]="{ addRotation: rotateSVG }"
    ></svg-icon>
  </div>
  <div
    class="list-shops"
    [ngClass]="{
      addList: rotateSVG,
      remuveOverflow: expendShop !== -1 || reveiwFListActive
    }"
  >
    <virtual-scroller
      *ngIf="!emptyList"
      #shopScroll
      [items]="shopList"
      [ngStyle]="{
        'max-height': countOfShops < 20 ? countOfShops * 32 + 2 + 'px' : 20 * 32 + 2 + 'px',
        width: expendShop === -1 && !reveiwFListActive ? '578px' : '578x',
        height: rotateSVG ? '0px' : 'calc(100vh - 335px)',
        overflow: 'visible'
      }"
      [ngClass]="{ shopListsScrollStylingOnExpend: expendShop !== -1 || reveiwFListActive }"
    >
      <div
        [ngStyle]="{
          height: !rotateSVG ? '32px' : '0px',
          width: expendShop === i ? '1433px' : '100%'
        }"
        *ngFor="let shop of shopScroll.viewPortItems; let i = index"
      >
        <div
          (click)="onShopExpend(i, shop)"
          class="list"
          [ngClass]="{
            expendShopList: expendShop === i,
            addVisibleList: rotateSVG
          }"
        >
          <div
            appSelectionColor
            class="shop-name"
            [ngStyle]="{ opacity: expendShop === i ? 1 : '0.7', 'font-weight': 'bold' }"
            [innerHtml]="shop.report | taHighlight: highlightingWords"
          >
            {{ shop.report }}
          </div>
          <div
            appSelectionColor
            class="shop-name"
            [ngStyle]="{ opacity: expendShop === i ? 1 : '0.7', 'padding-left': '10px' }"
            [innerHtml]="shop.driverFullName | taHighlight: highlightingWords"
          >
            {{ shop.driverFullName }}
          </div>
          <div
            appSelectionColor
            class="shop-name"
            [ngStyle]="{ opacity: expendShop === i ? 1 : '0.7' }"
            [innerHtml]="shop.eventDate | taHighlight: highlightingWords"
          >
            {{ shop.eventDate }}
          </div>
          <div
            appSelectionColor
            class="shop-name"
            [ngStyle]="{ opacity: expendShop === i ? 1 : '0.7' }"
            [innerHtml]="shop.hm | taHighlight: highlightingWords"
          >
            {{ shop.hm }}
          </div>
          <div
            appSelectionColor
            class="shop-name"
            [ngStyle]="{ opacity: expendShop === i ? 1 : '0.7' }"
            [innerHtml]="'Alcorn County, MS' | taHighlight: highlightingWords"
          >
            Alcorn County, MS
          </div>

          <div
            *ngIf="expendShop === i"
            class="hidenInfo"
            [ngClass]="{ addShowHInfo: expendShop === i }"
            [ngStyle]="{
              width: true ? '798px' : '556px'
            }"
          >
            <div class="number">
              <span
                ><span [ngStyle]="{ 'font-weight': 'bold' }">Truck</span>
                {{ shop.truckNumber }}</span
              >
            </div>
            <div class="meil">
              <span
                ><span [ngStyle]="{ 'font-weight': 'bold' }">Trailer</span>
                {{ shop.trailerNumber }}</span
              >
            </div>
            <div class="address">
              <div class="out_of_service">
                <span
                  *ngFor="let item of shop.oos"
                  [ngStyle]="{
                    background: item.active ? '#5673AA' : '#ffffff00',
                    color: item.active ? '#fff' : '#b5b5b5'
                  }"
                >
                  {{ item.value }}
                </span>
              </div>
            </div>
            <div class="body">
              <div class="body_box" *ngFor="let box of violationIconData">
                <div
                  class="body_box_icon"
                  [ngClass]="{
                    'body_box_icon-active': +box.weight > 0
                  }"
                >
                  <svg-icon
                    src="assets/img/svgs/table/violation-{{ box.iconUrl }}.svg"
                    [svgStyle]="{ 'width.px': '19', 'height.px': '21' }"
                  ></svg-icon>
                </div>
                <div
                  class="body_box_value"
                  [ngClass]="{
                    'body_box_value-active': box.weight !== '0'
                  }"
                >
                  <span appSelectionColor>
                    {{ box.weight }}
                  </span>
                </div>
              </div>
            </div>
            <div class="citation">
              <svg-icon
                class="citation_off"
                *ngIf="shop.citation === '0'; else citation"
                src="assets/img/svgs/table/citation-ticket.svg"
                [svgStyle]="{ 'width.px': '48', 'height.px': '20' }"
              ></svg-icon>
              <ng-template #citation>
                <svg-icon
                  class="citation_on"
                  src="assets/img/svgs/table/citation-ticket-on.svg"
                  [svgStyle]="{ 'width.px': '48', 'height.px': '20' }"
                ></svg-icon>
              </ng-template>
              <span appSelectionColor> {{ shop.citation }} </span>
            </div>
          </div>

          <div class="delete-edit" [ngClass]="{ addVisibleDelEdit: expendShop === i }">
            <button
              tooltipBackground="#FFFFFF"
              tooltipColor="#28529F"
              appTaTooltip="Edit Violation"
              position="bottom-right"
            >
              <svg-icon
                class="edit-shop"
                (click)="onEditShop(shop.id)"
                [ngClass]="{ addIcons: expendShop === i }"
                src="../../../../assets/img/edit-new.svg"
              ></svg-icon>
            </button>
            <button
              class="delete-shop"
              tooltipBackground="#FF5D5D"
              position="bottom-right"
              appTaTooltip="Delete Violation"
            >
              <svg-icon
                class="delete"
                (click)="onDeleteShop(shop.id)"
                [ngClass]="{ addIcons: expendShop === i }"
                src="../../../../assets/img/delete-new.svg"
              ></svg-icon>
            </button>
          </div>
        </div>
      </div>
    </virtual-scroller>
    <div
      class="listFEmpty"
      *ngIf="shopList.length === 0"
      [ngClass]="{ showListFEmpty: !rotateSVG }"
    >
      <p>Your list is empty</p>
    </div>
  </div>
</div>
