svg-icon {
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.map-control-container {
  position: relative;
  width: 100%;
  height: 100%;
  .fullscreen {
    cursor: pointer;
    &:hover {
      svg {
        rect {
          opacity: 1;
          transition: all 0.25s;
        }
        g {
          path {
            fill: #5673aa;
            transition: all 0.25s;
          }
        }
      }
    }
  }
  .zoom-control {
    position: absolute;
    right: 0;
    width: 22px;
    height: 100%;
    .zoom-control-container {
      position: relative;
      width: 100%;
      height: 100%;
      svg-icon {
        width: 22px;
        height: 15px;
        cursor: pointer;
        &:hover {
          svg {
            path {
              opacity: 1;
              transition: all 0.25s;
            }
            #Plus-2,
            #Minus-2 {
              fill: #5673aa;
              transition: all 0.25s;
            }
          }
        }
      }
      .minus-svg {
        position: absolute;
        bottom: 0;
      }
    }
  }
}
