<div class="pickers_holder">
    <div class="date_picker">
        <div class="month-years-size">
            <div class="month-year-item">2021</div>
            <div class="month-year-item">Feb</div>
            <div class="month-year-item">Mar</div>
            <div class="month-year-item">Apr</div>
            <div class="month-year-item">May</div>
            <div class="month-year-item">Jun</div>
            <div class="month-year-item">Jul</div>
            <div class="month-year-item">Aug</div>
            <div class="month-year-item">Sep</div>
            <div class="month-year-item">Oct</div>
            <div class="month-year-item">Nov</div>
            <div class="month-year-item">Dec</div>
        </div>
        <div class="full-calendars-list">
            <div class="full_list">
                <virtual-scroller 
                    [bufferAmount]="11"
                    #scroll
                    [items]="calendarYears"
                >
                    <div class="date_holder" *ngFor="let item of scroll.viewPortItems; let ind = index">
                        <div class="calendar_view" *ngFor="let calendars of calendarData[item]; let indx = index">
                            <div class="calendar_view_head">
                                <div class="month_name">
                                    <span class="year_hold" (click)="setListPreview()">{{monthNames[indx]}}</span>
                                    <span *ngIf="listPreview == 'full_list'"></span>{{item}}
                                </div>
                                <div class="today" *ngIf="currentYear == item && indx == currentMonth">Today</div>
                            </div>
                            <div class="calendars_list_view" *ngIf="listPreview == 'full_list'">
                                <div class="calendar_month_days d-flex">
                                    <div class="cal_day">SU</div>
                                    <div class="cal_day">MO</div>
                                    <div class="cal_day">TU</div>
                                    <div class="cal_day">WE</div>
                                    <div class="cal_day">TH</div>
                                    <div class="cal_day">FR</div>
                                    <div class="cal_day">SA</div>
                                </div>
                                <div class="calendar_days">
                                    <div class="calendar_day" [class.not_empty]="!days.additionalClass" [class.current_day]="currentYear == item && indx == currentMonth && currentDay == days.day" *ngFor="let days of calendarData[item][indx]">
                                        <span *ngIf="!days.additionalClass">{{days.day}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="month_list" *ngIf="listPreview == 'month_list'">
                                <div class="month_list_item" [class.current_month]="currentYear == item && 0 == currentMonth">JAN</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 1 == currentMonth">FEB</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 2 == currentMonth">MAR</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 3 == currentMonth">APR</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 4 == currentMonth">MAY</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 5 == currentMonth">JUN</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 6 == currentMonth">JUL</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 7 == currentMonth">AUG</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 8 == currentMonth">SEP</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 9 == currentMonth">OCT</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 10 == currentMonth">NOV</div>
                                <div class="month_list_item" [class.current_month]="currentYear == item && 11 == currentMonth">DEC</div>
                            </div>
                        </div>
                    </div>
                </virtual-scroller>
            </div>
        </div>
    </div>
</div>