<div class="container-fluid verify-container">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <div class="logo d-flex flex-column align-items-center justify-content-center">
      <img src="assets/img/svgs/truck-assist-logo-icon.svg" style="margin-top: 80px;margin-bottom: 40px">
      <h1 style="font-size: 32px;font-weight: bold;line-height: 39px;color: #5673AA">Welcome to Truck Assist</h1>
      <p style="font-weight: 300;font-size: 20px;line-height: 24px;color: #919191">Please choose password to continue
      </p>
    </div>
    <form [formGroup]="verifyPasswordForm" id="passwordConfrm" class="d-flex flex-column align-items-center"
      tabindex="500">
      <div class="pt-3 register-form">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="form-label-group input-icon ">
                <input id="name" appInputFocus class="form-control input-control required" placeholder="Name" disabled
                  formControlName="name" appAutoFocus>
                <label class="required-label" for="name">Name</label>
                <app-required-label [control]="verifyPasswordForm.controls.name"></app-required-label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-label-group input-icon ">
                <input id="lastName" appInputFocus class="form-control input-control required" placeholder="Last name" disabled
                  formControlName="lastName">
                <label class="required-label" for="lastName">Last name</label>
                <app-required-label [control]="verifyPasswordForm.controls.lastName"></app-required-label>
              </div>
            </div>
          </div>
          <!---->
          <div class="row">
            <div class="col-5">
              <div class="form-label-group input-icon phone-field-wrapper">
                <input id="phone" appInputFocus class="form-control input-control" placeholder="Phone"
                  formControlName="phone" mask="(000) 000-0000">
                <label for="phone">Phone</label>
              </div>
            </div>
            <div class="col-7">
              <div class="form-label-group input-icon email-field-wrapper">
                <input id="email" appInputFocus class="form-control input-control required" placeholder="Email"
                  formControlName="email" disabled>
                <label class="required-label" for="email">Email</label>
                <app-required-label [control]="verifyPasswordForm.controls.email"></app-required-label>
              </div>
            </div>
          </div>
          <!--address-->
          <div class="row">
            <div class="col-9">
              <div class="form-label-group input-icon address-field-wrapper">
                <input id="address" appInputFocus class="form-control input-control" placeholder="Address"
                  formControlName="address">
                <label for="address">Address</label>
              </div>
            </div>
            <div class="col-3">
              <div class="form-label-group input-icon ">
                <input id="addressunit" appInputFocus class="form-control input-control" placeholder="#Unit"
                  formControlName="addressUnit">
                <label for="addressunit">#Unit</label>
              </div>
            </div>
          </div>

          <!--          password-->
          <div class="row">
            <div class="col-12">
              <div class="form-label-group input-icon ">
                <input id="password" appInputFocus type="password" class="form-control input-control required"
                  placeholder="Address" formControlName="password">
                <label class="required-label" for="password">Password</label>
                <app-required-label [control]="verifyPasswordForm.controls.password"></app-required-label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-label-group input-icon ">
                <input id="confirmpassword" appInputFocus type="password" class="form-control input-control"
                  placeholder="Confirm password" formControlName="confirmPassword">
                <label class="required-label" for="confirmpassword">Confirm password</label>
                <app-required-label [control]="verifyPasswordForm.controls.confirmPassword"></app-required-label>
                <p *ngIf="verifyPasswordForm?.errors?.notSame == true"
                   style="position: absolute; font-size: 10px; color: #ff5d5d;">
                  Passwords not same </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <button (click)="setUserPassword()">
        <p class="m-0">Confirm password</p>
      </button>
    </form>

  </div>
</div>
