.modal-header {
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom: none;
  height: 42px;
  background-color: #f9f9f9;
  color: #606060;
  h5 {
    font-size: 16px;
    z-index: 1;
    font: Bold 16px/19px Montserrat;
  }
  i {
    font-weight: 600;
    color: #9e9e9e;
    transition: 0.15s;
    &:hover {
      color: #606060;
      transition: 0.15s;
    }
  }

  .modal-close-btn {
    svg {
      path {
        fill: $bw6;
        opacity: 0.7;
      }
    }

    &:hover {
      path {
        fill: $bw6;
        opacity: 1;
      }
    }
  }
}
.close {
  font-size: 42px;
  outline: 0 !important;
  margin-top: -26px !important;
  color: white;
  &:hover {
    color: white;
  }
}
.modal-footer {
  border-top: none;
  padding: 0;
  display: block;

  button {
    width: 50%;
    margin: 0 !important;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border: none;
    transition-duration: 0.2s !important;
    background-color: #f9f9f9;
    transition: 0.3s;
  }
  .save-btn {
    color: rgba(40, 82, 159, 0.6);
    border-bottom-right-radius: 3px;

    &:hover {
      background-color: #28529f;
      color: white;
      transition: 0.3s;
    }
  }
  .cancel-btn {
    color: #919191;
    border-bottom-left-radius: 3px;

    &:hover {
      background-color: #eeeeee;
      transition: 0.3s;
    }
  }
  .close-label-btn {
    color: #28529f;
    background-color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    &:hover {
      background-color: #28529f;
      color: white;
    }
  }

  &.footer-payment {
    height: 40px;

    button {
      color: $light-blue-07;
      background: $bw1;
      transition: 0.3s;
      font-size: 16px;
      font-weight: bolder;
      line-height: 19px;
      height: 100%;
      width: 100%;

      &:hover {
        color: white;
        background: $light-blue;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}

.modal-content {
  border: none;
  top: 75px;
  background-color: transparent;
  .modal-container {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: none; // 1px solid rgba(0, 0, 0, 0.2)
    background-color: #fff;
  }
  .modal-header {
    cursor: grab;
  }
}
.cdk-drag-dragging .cdk-drag-handle {
  cursor: grabbing;
}
.modal {
  z-index: 1951;
}
ng-select {
  .ng-value-label {
    // position: relative;
    // top: 4px;
    font-weight: 500;
  }
}
.modal-body {
  // padding: 20px 10px 20px 10px;
  padding: 12px;
  overflow-y: hidden;
  &.import-modal-body {
    height: auto;
  }
  &.add-truck,
  &.edit-truck {
    padding-top: 0;
  }
  overflow-x: hidden;
  &.customer-edit {
    min-height: 335px;
  }
  &.shipper-edit {
    min-height: 351px;
  }
  &.add-driver {
    min-height: 315px;
    padding-top: 0;
  }
  &.quick-driver-edit {
    min-height: 210px;
  }
  &.quick-trailer-edit {
    min-height: 395px;
  }
  &.trailer-detail-edit {
    //min-height: 248px;
    padding-top: 0;
    transition: 0.15s;
    &.company-owner-visible {
      min-height: 304px;
      transition: 0.15s;
    }
  }
  &.truck-quick-edit {
    min-height: 368px;
  }
  &.contact-edit {
    min-height: 207px;
  }
  &.driver-detail-edit {
    min-height: 275px;
    padding-top: 0;
  }
  &.edit-drivers-licence {
    min-height: 202px;
  }
  &.edit-driver-drug {
    min-height: 105px;
  }
  &.edit-driver-mvr {
    min-height: 90px;
  }
  &.edit-driver-medical {
    min-height: 105px;
  }
  &.edit-truck {
    min-height: 235px;
    transition: 0.15s;
    &.company-owner-visible {
      min-height: 385px;
      transition: 0.15s;
    }
  }
  &.edit-truck-licence.modal-body,
  &.truck-inspection {
    height: 90px;
  }
  &.edit-repair-shop {
    min-height: 145px;
  }
  &.edit-company-info,
  &.add-trailer-modal {
    padding-top: 0;
  }
  &.edit-company-office {
    min-height: 140px;
  }
  &.load-edit-modal {
    min-height: 477px;
  }
  &.add-owner {
    //min-height: 323px;
    padding-top: 0;
    &.add-owner {
      min-height: 299px;
    }
  }
  &.add-customer-modal {
    min-height: 255px;
  }
  &.profile-update {
    padding-top: 0;
  }
  &.manage-customer-modal {
    min-height: 225px;
  }
  &.manage-work-modal {
    min-height: 133px;
  }
  &.add-maintenance {
    min-height: 290px;
  }
  &.edit-owner {
    min-height: 266px;
    padding-top: 0;
  }
  &.accounts-edit {
    min-height: 210px;
  }
  &.manage-truck-maintanence {
    min-height: 207px;
  }
  .mat-tab-label-container {
    .mat-tab-list {
      .mat-tab-labels {
        .mat-tab-label {
          background-color: white;
          height: 25px;
          padding: 0 24px;
          cursor: pointer;
          box-sizing: border-box;
          opacity: 0.6;
          min-width: 160px;
          text-align: center;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          position: relative;
          font-weight: bold;
          margin-top: 1rem;
        }
        .mat-tab-label:not(.mat-tab-label-active) {
          color: rgba(0, 0, 0, 0.3);
          opacity: 1;
          transition: 0.3s;
        }

        .mat-tab-label:hover:not(.mat-tab-label-active) {
          opacity: 1 !important;
          border-bottom: 2px solid rgba(0, 0, 0, 0.5);
          transition: 0.3s;

          .mat-tab-label-content {
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
  form .row {
    margin: 0 -6px;
  }
}
.mat-slider.mat-accent.mat-slider-horizontal {
  position: relative;
  top: 0;
  height: 50px;
}
.modal {
  height: 100%;
}

.modal-dialog {
  margin-top: 75px;
  &.modal-xxl {
    max-width: 1360px;
  }
}

#modalExpand {
  width: 70%;
  transition: all 1.5s ease;
}
.modal-body .mat-tab-body-wrapper,
.modal-body .mat-tab-body-content,
.modal-body .mat-tab-body-active {
  overflow: visible !important;
}
.modal-small {
  max-width: 480px !important;
}
.modal-ultra-small {
  max-width: 240px !important;
}
.medium-modal .modal-dialog {
  max-width: 600px;
}
#btn-ifta {
  font-size: 15px;
  cursor: pointer;
}
.modal-expired {
  max-width: 760px;
  width: max-content;
}
.single-tab-container {
  display: inline-block;
  vertical-align:top;
}
.has-tabs.tabs-2 {
  .single-tab-container { width: calc(50% - 12px); }
  .single-tab-container + .single-tab-container { margin-left: 24px; }
}
.has-tabs.tabs-3 {
  .single-tab-container { width: calc(33.33% - 16px); }
  .single-tab-container + .single-tab-container { margin-left: 24px; }
}

.modal-body {
  app-loading-modal {
    height: 250px;
    display: block;
  }
}
