//@import url('../../fonts/');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700, light');

// Color variables

$white: #ffffff;
$black: #000000;
$brown: #c0c0c0;
$primary: #28529f;
$primary-light: #7690be;
$secondary: #ea5d33;
$success: #18da35;
$info: #01b8ff;
$warning: #ffc107;
$danger: #f87566;
$pink: #e618f2;
$orange: #f47b25;
$orange-2: #ffbd4a;
$muted: #919191;
$dark: #191919;
$light: #e7eff7;
$indigo: #6574cd;
$cyan: #1891f2;
$blue: #2e5fe4;
$darkblue: #1d3f9c;
$light-blue: #5673aa;
$light-blue-07: rgba(86, 115, 170, 0.71);
$gray: #f1f2f3;
$silver: #c0c0c0;
$olive: #808000;
$purple: #800080;
$green: #008000;
$input-bg: #f5f5f9;
$icons-bg: #3d3d3d;
$icons-bg-empty: #cfcfcf;
$icons-avatar: #d8d8d8;
$progress-orange: #ffb35d;
$progress-danger: #ff5d5d;

// Gray Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Overlay Colors
$overlay-black-70: #00000070;

// Body Background
$bg-body: #f5f5f9;

// Font variables
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$main-font: 'Montserrat';
/*-------------------------------------------------*/

// Box Shadow
$box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);

// New Color Variables
$text-color: #656565;
$transition: all 0.3s ease-in-out;

// modal box-shadow
$modal-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

$app-main-blue: #28529f;
$app-main-gray: #606060;
$app-menu-border: #f1f2f5;

//Scale size
$scaleSize: 1.1;

// Black&White pallete
$bw1: #f9f9f9;
$bw2: #eeeeee;
$bw3: #d1d1d1;
$bw4: #b7b7b7;
$bw5: #919191;
$bw6: #606060;
$bw6-2: #6c6c6c;
$bw7: #3d3d3d;
$bw8: #dbdbdb;

@mixin triangletop {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 6px solid $white;
  //-webkit-filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.1));
  //filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px -2px 1px rgba(0, 0, 0, 0.1));
  position: absolute;
  top: -6px;
  left: calc(50% - 10px);
}

// chips pallete
$chip-0: #30c862;
$chip-0-20: #30c86220;
$chip-1: #ffad43;
$chip-1-20: #ffad4320;
$chip-2: #ff5d5d;
$chip-2-20: #ff5d5d20;

$input-color: #a7a7a7;

// table pallete
$row-hover: #dfdfdf;
$row-select: #7f7f7f;
$th-color: #b7b7b7;
$tb-border: #cfcfcf;
$th-start-date: #b93636;

$trash-icon-color: #ff5d5d;

// Truck type colors ///////////////////////////////////////////////////////////
$semi-truck: #90BC6F;
$semi-w-sleeper: #FFC061;
$box-truck: #EF6E6E;
$cargo-van: #78C7FC;
$tow-truck: #90659B;
$truck-hauler: #668888;
$bus: #eed070;
$motorcycle: #7081DB;
$pars-vehicle: #78D1B5;
////////////////////////////////////////////////////////////////////////////////

// Trailer type colors /////////////////////////////////////////////////////////
$reefer: #EF6E6E;
$dry-van: #5673AA;
$side-kit: #76A77D;
$conestog: #484848;
$dumper: #8FDEE1;
$container: #FFBE7D;
$tanker: #81CCFF;
$trailer-hauler: #668888;
$flat-bed: #AF88EA;
$low-boy: #955FA2;
$chassis: #547556;
$step-deck: #F2DD75;
////////////////////////////////////////////////////////////////////////////////

// mixins
@mixin border($direction, $width: 1px, $style: solid, $color: $gray-300) {
  border-#{$direction}: $width $style $color;
}

@mixin downAnimation {
  animation: dropdown 0.3s;
}

@keyframes dropdown {
  0% {
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
    visibility: visible !important;
  }
}

@mixin AnimationUp {
  animation: dropup ease-out 0.15s;
}

@keyframes dropup {
  0% {
    // opacity: 0.6;
    margin-top: -19px;
    visibility: hidden;
    opacity: 0;
  }
  100% {
    // opacity: 0.95;
    margin-top: inherit;
    visibility: visible !important;
  }
}

// TODO: proveriti da li cemo koristit ovaj font jer se ne prikazuje lepo
// @font-face {
//   font-family: Montserrat-RegularMono;
//   src: url('../../Fonts/Montserrat-RegularMono.ttf') format('opentype');
// }

// .custom-font {
//   font-family: Montserrat-RegularMono !important;
// }
