.sort-type {
  position: absolute;
  width: 10px;
  height: 16px;
  top: 0px;
  svg-icon {
    width: 10px;
    height: 16px;
    svg {
      width: 8px;
      height: 16px;
      path {
        fill: #b7b7b7;
      }
    }
  }
}

/* NG CLASS */
.sort-type-a {
  svg {
    #one {
      fill: #28529f !important;
    }
  }
}

.sort-type-b {
  svg {
    #two {
      fill: #28529f !important;
    }
  }
}
