<div class="modal-container" cdkDrag>
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{ modalTitle }}</h5>
    <div class="multiple-choises-wrapper" style="left: 110px;">
      <div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
          <input
            type="checkbox"
            ngbButton
            [(ngModel)]="companyOwnedStateControl"
            (change)="companyOwned()"
          >
          Company owned
        </label>
      </div>
    </div>
    <app-modal-close></app-modal-close>
  </div>
  <div class="modal-body">
    <app-loading-modal *ngIf="!loaded"></app-loading-modal>
    <app-ta-tab-switch
      (switchClicked)="tabChange($event)"
      [tabs]="tabs"
      *ngIf="loaded"
    ></app-ta-tab-switch>

    <form
      [formGroup]="truckForm"
      class="form-container has-tabs tabs-2{{ ' tab-' + selectedTab }}"
      (keydown)="keyDownFunction($event)"
      *ngIf="loaded"
    >
      <div class="form-group d-flex align-items-center absolute-status mt-lg-3" *ngIf="inputData.data.type == 'edit'">
        <kendo-switch [checked]="truck?.status" formControlName="status"></kendo-switch>
      </div>

      <div class="single-tab-container">
        <div class="row">
          <div class="col-3">
            <div class="form-label-group">
              <input
                id="truckNumber"
                class="form-control input-control required"
                placeholder="Unit#"
                formControlName="truckNumber"
                maxLength="6"
                (paste)="onPaste($event, 'truckNumber', 6)"
                (keypress)="onUnitTyping($event)"
                appAutoFocus
                [modalType]="inputData.data.type"
              />
              <label class="required-label" for="truckNumber">Unit#</label>
              <app-required-label [control]="truckForm.controls.truckNumber"></app-required-label>
            </div>
          </div>
          <div class="col-9">
            <div class="form-label-group">
              <ng-select
                [items]="truckTypes"
                formControlName="type"
                bindLabel="name"
                placeholder="Type"
                class="no-padding-dropdown required-field"
                id="truck-type-dropdown"
                (change)="onTruckTypeChange($event)"
                appendTo="body"
              >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div class="truck-type-dropdown-item {{ item.class }}">
                    <span class="type-image">
                      <svg-icon src="assets/img/svgs/truck/gray-icons/{{ item.file }}"></svg-icon>
                    </span>
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </div>
                </ng-template>

                <ng-template ng-label-tmp let-item="item">
                  <div class="value-label-container truck-type-dropdown-item {{ item.class }}">
                    <span class="type-image">
                      <svg-icon src="assets/img/svgs/truck/gray-icons/{{ item.file }}"></svg-icon>
                    </span>
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>

              </ng-select>
              <app-required-label [control]="truckForm.controls.type"></app-required-label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <!-- appInputrestriction="[A-Za-z0-9]" -->
              <input
                id="vin"
                class="form-control uppercase input-control required"
                placeholder="VIN"
                [ngClass]="{ 'vin-loading': isVinLoading }"
                formControlName="vin"
                minlength="17"
                maxlength="17"
                (keyup)="vinAutoComplete($event)"
                (keypress)="onVinTyping($event)"
                oninput="this.value = this.value.replace(/[ ]|^ /g,'')"
                (paste)="onPaste($event, 'vin', 17)"
                appInputFocus
              />
              <div class="icon-container">
                <i class="input-loader"></i>
              </div>
              <label class="required-label" for="vin">VIN</label>
              <app-required-label [control]="truckForm.controls.vin"></app-required-label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="truckMakers"
                formControlName="make"
                bindLabel="name"
                placeholder="Make"
                class="required-field"
                appendTo="body"
              >
                <ng-template ng-option-tmp let-item="item">
                  <span class="make-image">
                    <svg-icon src="assets/img/svgs/truck/makers/{{ item.file }}" ></svg-icon>
                  </span>
                </ng-template>

                <ng-template ng-label-tmp let-item="item">
                  <span class="value-label-container make-image">
                    <svg-icon src="assets/img/svgs/truck/makers/{{ item.file }}" ></svg-icon>
                  </span>
                </ng-template>
              </ng-select>
              <app-required-label [control]="truckForm.controls.make"></app-required-label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <input
                id="model"
                class="form-control input-control"
                placeholder="Model"
                formControlName="model"
                [ngClass]="{ 'vin-loaded': isVinLoading }"
                appInputFocus
                maxlength="22"
                (paste)="onPaste($event, 'model', 22)"
                (keypress)="onModelTyping($event)"
              />
              <label for="model">Model</label>
              <app-required-label [control]="truckForm.controls.model"></app-required-label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-label-group">
              <input
                id="year"
                class="form-control input-control required"
                placeholder="Year"
                formControlName="year"
                [ngClass]="{ 'vin-loaded': isVinLoading }"
                (ngModelChange)="checkYear($event)"
                maxlength="4"
              />
              <label class="required-label" for="year">Year</label>
              <app-required-label [control]="truckForm.controls.year"></app-required-label>
            </div>
          </div>
          <div class="col-4">

            <div class="form-label-group">
              <ng-select
                [items]="colors"
                formControlName="color"
                bindLabel="key"
                placeholder="Color"
                (change)="onColorChange($event)"
                class="no-padding-dropdown"
                id="colors-dropdown"
                appendTo="body"
              >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <div class="color-dropdown-item {{ item.key.replace(' ', '-').toLowerCase() }}">
                    <span [ngOptionHighlight]="search">{{ item.key }}</span>
                  </div>
                </ng-template>
              </ng-select>
              <app-required-label [control]="truckForm.controls.color"></app-required-label>
            </div>

          </div>
        </div>

        <div class="mb-0" *ngIf="!companyOwnedStateControl">
          <div class="row">
            <div class="col-12">
              <div class="form-label-group">
                <ng-select
                  [items]="owners"
                  formControlName="owner"
                  (change)="changeOwner($event)"
                  bindLabel="ownerName"
                  placeholder="Owner"
                  class="required-field has-add-new{{ (ownerSearchItems == 1) ? ' has-one-result' : '' }}"
                  (search)="onSearch($event)"
                  (clear)="onClose($event)"
                  (close)="onClose($event)"
                  [searchFn]="customSearch"
                  appendTo="body"
                >
                  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [class]="{ 'd-none': !item.divisionFlag }">DC - </span>
                    <span [ngOptionHighlight]="search">{{ item.ownerName }}</span>
                  </ng-template>
                </ng-select>
                <app-required-label [control]="truckForm.controls.owner"></app-required-label>
              </div>
            </div>
            <div class="col-12 slider-wrapper truck-slider-wrapper" *ngIf="!division">
              <label class="mat-slider-label">Commission</label>
              <ngx-slider
                formControlName="commission"
                thumbLabel
                [options]="sliderOptions"
              ></ngx-slider>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 ote-wrapper{{ showNote ? ' visible-note' : ' hidden-note' }}">
            <div class="note-label-wrapper" (click)="openNote()">
              <span class="note-label">Note</span>
              <svg-icon
                src="assets/img/svgs/down-arrow.svg"
                class="down-icon"
              ></svg-icon>
            </div>
            <div class="example-full-width note-input{{ showNote ? ' note-visible' : ' note-hidden' }}">
                <textarea
                  cdkTextareaAutosize
                  #note
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="5"
                  formControlName="note"
                  class="input-custom-textarea form-textarea"
                ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="single-tab-container">
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <input
                id="insurancePolicyNumber"
                class="form-control input-control"
                placeholder="Insurance Policy"
                formControlName="insurancePolicyNumber"
              />
              <label for="insurancePolicyNumber">Insurance Policy</label>
            </div>
          </div>
          <div class="col-2">
            <div class="form-label-group">
              <input
                id="axises"
                class="form-control input-control"
                placeholder="Axles"
                appInputFocus
                formControlName="axises"
                mask="0"
              />
              <label for="axises">Axles</label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-label-group">
              <input
                id="emptyWeight"
                class="form-control input-control"
                placeholder="Empty Weight"
                formControlName="emptyWeight"
                min="0"
                maxlength="6"
                appInputFocus
                mask="separator.2"
                thousandSeparator=","
              />
              <label for="emptyWeight">Empty Weight</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="truckEngines"
                formControlName="engine"
                bindLabel="value"
                placeholder="Engine type"
                appendTo="body"
              >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.value }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-label-group">
              <ng-select
                [items]="tireSizes"
                formControlName="tireSize"
                bindLabel="value"
                placeholder="Tire size"
                appendTo="body"
              >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.value }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-label-group">
              <input
                id="mileage"
                class="form-control input-control"
                placeholder="Mileage"
                formControlName="mileage"
                mask="separator.2"
                appInputFocus
                thousandSeparator=","
                maxlength="8"
                min="0"
              />
              <label for="mileage">Mileage</label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-label-group">
              <input
                id="ipasEzpass"
                class="form-control input-control"
                placeholder="IPAS / EZPASS"
                formControlName="ipasEzpass"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                oninput="this.value = this.value.replace(/[ ]|^ /g,'')"
                (paste)="onPaste($event, 'ipasEzpass', 14)"
                maxlength="14"
                min="0"
              />
              <label for="ipasEzpass">IPAS / EZPASS</label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="cancel-btn" (click)="closeModal()">
      Cancel
    </button>
    <button class="save-btn" (click)="saveTruck()">Save</button>
  </div>
</div>
