.btn {
    color: white;
}
.btn-light {
    color:black!important;
}
.btn-purple {
    color:purple!important;
    background: rgb(135, 209, 175)!important;
}
.btn-yellow {
    color:rgb(255, 255, 21)!important;
    background: rgb(8, 64, 109)!important;
}