<a class="btn btn-primary" (click)="openExpiredModal()">Expired Modal</a>

<a class="btn btn-secondary" (click)="openAccountModal()">Account Modal</a>

<a class="btn btn-danger" (click)="openPaymentDetailsModalComponent()">PaymentDetailsModalComponent</a>

<a class="btn btn-success" (click)="openPaymentDetailsSecondComponent()">PaymentDetailsSecondModalComponent</a>

<a class="btn btn-warning" (click)="openExpiredSecondModalComponent()">ExpiredSecondModalComponent</a>

<a class="btn btn-dark" (click)="openSuccessfulSubscibingModalComponent()">SuccessfulSubscibingModalComponent</a>

<a class="btn btn-info" (click)="openPaymentFaliModalComponent()">PaymentFailModalComponent</a>

<a class="btn btn-light" (click)="openAddCardAccountModalComponent()">AddCardAccountModalComponent</a>

<a class="btn btn-link btn-purple" (click)="openAddCardModalComponent()">AddCardModalComponent</a>

<a class="btn btn-link btn-yellow" (click)="openPaymentUnsuccesfulModalComponent()">PaymentUnsuccesfulModalComponent</a>

<a class="btn btn-link btn-yellow" (click)="openProcessingModalComponent()">ProcessingModalComponent</a>

<div class="row mt-3">
  <a class="btn btn-danger mr-2" (click)="openExpiredNew()">Expired new #1</a>
  <a class="btn btn-danger mr-2" (click)="openPaymentDetail()">Payment Detail #3</a>
</div>
