<div class="container-fluid forgot-password-container">
  <div class="forgot-password-wrapper d-flex justify-content-center" *ngIf="!passwordEmailSent">
    <div class="forgot-password d-flex flex-column align-items-center">
      <div class="forgot-password-icon">
        <svg-icon src="assets/img/svgs/truck-assist-logo-icon.svg"></svg-icon>
      </div>
      <div class="forgot-password-text">
        <p>Forgot Password</p>
        <p>Please enter the email you used at the time of registration to get the password reset instructions</p>
      </div>
      <div class="forgot-password-form">
        <form [formGroup]="forgotPasswordForm">
          <div class="form-label-group input-icon email-field-wrapper {{ manageInputValidation(forgotPasswordForm.controls.email) }}">
            <input id="email"
                   appInputFocus
                   class="form-control input-control required"
                   placeholder="Email" formControlName="email" appAutoFocus>
            <label class="required-label" for="email">Email</label>
            <app-required-label [control]="forgotPasswordForm.controls.email"></app-required-label>
          </div>
          <p [routerLink]="'/login'">Back to login</p>
          <button [disabled]="forgotPasswordForm.invalid" (click)="resetPassword()"><p>Submit</p></button>
        </form>
        <p id="another-email">Did not receive the email? Check your spam filter
          <br>or <span>try another email address</span></p>
      </div>
    </div>
  </div>

  <div class="check-email d-flex flex-column justify-content-center align-items-center" *ngIf="passwordEmailSent">
    <svg-icon src="assets/img/svgs/forgot-password.svg"></svg-icon>
   <div class="d-flex flex-column justify-content-center align-items-center">
     <p>Please check your email</p>
     <p>Instructions to reset your password will be sent to you</p>
   </div>
  </div>

  <div class="row">
    <div class="copyright">
      <p>Copyright © TruckAssist 2021.</p>
    </div>
  </div>
</div>
