@import 'src/assets/scss/components/variables';

.container-fluid.forgot-password-container {
  background: white;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    padding: 0;
    margin: 0;
  }

  .forgot-password-wrapper {
    min-height: calc(100vh - 46px);

    .forgot-password {
      max-width: 574px;

      &-icon {
        margin-top: 50px;
        // icon size
        max-height: 129px;
        height: 100%;
      }

      &-text {
        margin-top: 80px;
        margin-bottom: 40px;
        text-align: center;

        p {
          color: $bw5;
          font-size: 20px;
          line-height: 24px;
          margin: 0;
          padding: 0;
          font-weight: 300;

          &:first-of-type {
            color: $light-blue;
            font-size: 32px;
            line-height: 39px;
            font-weight: 700;
          }
        }
      }

      &-form {
        max-width: 456px;
        width: 100%;

        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form-label-group {
            width: 100%;
          }

          p {
            transition: $transition;
            cursor: pointer;
            color: $bw5;

            &:hover {
              color: $light-blue;
              transition: $transition;
            }
          }

          button {
            margin-top: 40px;
            max-width: 160px;
            width: 100%;
            height: 34px;
            border-radius: 3px;

            background: rgba(145, 145, 145, 0.4);
            border: none;
            outline: none;
            transition: $transition;

            p {
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
              color: white;
              transition: $transition;
              cursor: inherit;
            }

            &:hover:not(:disabled) {
              transition: 0.3s;
              background: $light-blue;
            }

            &:disabled {
              cursor: default;
            }
          }

        }

        p#another-email {
          margin: 22px 0;
          text-align: center;
          font-size: 14px;
          line-height: 18px;
          color: $bw5;

          span {
            color: rgba(145, 145, 145, 0.7);
            cursor: pointer;
            font-weight: 700;
            transition: $transition;

            &:hover {
              color: $light-blue;
              transition: $transition;
            }
          }
        }
      }
    }
  }

  .check-email {
    min-height: calc(100vh - 46px);

    svg-icon {
      max-width: 385px;
    }

    p {
      padding: 0;
      margin: 0;
    }

    p:first-of-type {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: #5673AA;
    }

    p:nth-of-type(2) {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #919191;
    }
  }

  .copyright {
    background: $light-blue;
    height: 46px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
      padding: 0;
    }
  }
}
