<div class="doppler-legend">
  <div class="doppler_header">
    <span>Light</span>
    <span>Heavy</span>
  </div>
  <div class="doplay_body">
    <div class="quantity-text">
      <p 
        style="color: #b7b7b7;"
        appSelectionColor
        class="light"
      >Raining</p>
      <div class="quantity-rain"></div>
    </div>
    <div class="quantity-text">
      <p 
        style="color: #b7b7b7;"
        appSelectionColor
        class="light"
      >Sleeting</p>
      <div class="quantity-rain-snow"></div>
    </div>
    <div class="quantity-text">
      <p 
        style="color: #b7b7b7;"
        appSelectionColor
        class="light"
      >Snowing</p>
      <div class="quantity-snow"></div>
    </div>
  </div>
</div>
