<div class="trial-wrapper" id="trial-wrapper"
     *ngIf="userCompany && trialVisible && companySubscribed!=1"
     [class.expired-trial]="companyTrialExpired == 1">
      {{ userCompany.trialRemainingDays > 0 ? userCompany.trialRemainingDays + ' days left in trial' : 'expired' }}
</div>
<div class="app-wrapper{{ fixedHeader ? ' fixed-header' : '' }}"> <!-- {{ lowResMode ? ' hidden' : '' }} -->
  <router-outlet></router-outlet>
</div>
<div class="low-res-wrapper hidden"> <!-- {{ !lowResMode ? ' hidden' : '' }} -->
  <div class="low-res-logo">
    <svg-icon src="assets/img/svgs/login-icon.svg"></svg-icon>
  </div>
  <br />
  <h3>The screen size is too low for this app to run.</h3>
  <br />
  <h4>Minimum screen width requirement: 1280px.</h4>
</div>
<app-preloads></app-preloads>
