<div class="container mt-6 mb-5">
  <!--row open-->
  <div class="row">
    <div class="single-page">
      <div class=" wrapper">
        <form class="card-body" tabindex="500">
          <h3 class="text-dark text-center">Reset Password</h3>
          <div class="mail">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="submit mt-1 mb-0">
            <a class="btn btn-primary btn-block" href="#">Reset Password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--row closed-->
</div>
