<div class="modal-container" cdkDrag>
  <!--<div class="modal-header" cdkDragHandle>
  <h5 class="modal-title"></h5>
  <app-modal-close></app-modal-close>
</div>-->

  <div class="modal-body">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <svg-icon
        src="assets/img/svgs/warning.svg"
        [svgStyle]="{ 'width.px': 95.32, 'height.px': 96.96 }"
      ></svg-icon>
      <p class="returned">Returned payment (NFS)</p>
      <p class="returned-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore</p>
    </div>
  </div>

  <div class="modal-footer footer-payment">
    <button>Authorize another payment</button>
  </div>
</div>
