@import '../../../assets/scss/components/variables.scss';

.body {
  width: 480px;
  background: $white;
  padding: 0px;
  margin: 0;
}
.payment-date {
  background-color: $bw4;
  color: $white;
  font-size: 14px;
  width: 100%;
  border-radius: 0;
  padding-bottom: 3px;
  padding-top: 3px;
}
.under-text-bold {
  font-size: 14px;
  color: $muted;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 0px !important;
}
.under-text {
  font-size: 14px;
  color: $muted;
  margin: 0;
  padding: 0;
  padding-bottom: 0px !important;
  margin-bottom: 12px;
  margin-top: 6px;
}
.logo {
  padding-top: 13px !important;
  margin-left: 12px;
  margin-right: 12px;
}
.logo-card {
  padding-top: 18px !important;
  margin-left: 12px;
  margin-right: 12px;
}
.circle-style {
  padding-top: 18px;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.box-size-muted {
  width: 222px;
  height: 58px;
  background: $bw4;
  color: $bw7 !important;
  opacity: 0.2;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;

  font-weight: bold;
  border-radius: 5px !important;
  .logo {
    padding-top: 13px !important;
    margin-left: 12px;
    margin-right: 12px;

    ::ng-deep svg {
      path,
      rect {
        fill: $bw7 !important;
      }
    }
  }
}
.box-size {
  width: 222px;
  height: 58px;
  background:  rgba(234, 234, 234, 0.7);
  color: $bw5 !important;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: bold;
  border-radius: 5px !important;
  &:hover {
    background-color: #28529f;
    color: $white !important;
    font-weight: bold;

    .circle-style {
      padding-top: 18px !important;
      fill: $white !important;
      visibility: visible;
      width: 18px;
      height: 18px;
      margin-left: 12px;
      margin-right: 0px;
      transition: all ease 0.3s;
    }
    .logo {
      padding-top: 13px !important;
      margin-left: 12px;
      margin-right: 12px;

      ::ng-deep svg {
        path,
        rect {
          fill: $white !important;
        }
      }
    }
    .logo-card {
      padding-top: 18px !important;
      margin-left: 12px;
      margin-right: 12px;
      g {
        .card-path-1 {
          fill: #28529f !important;
        }
        .card-path-2 {
          fill: $white !important;
        }
        .card-path-3 {
          fill: $white !important;
        }
        .card-path-4 {
          fill: $white !important;
        }
      }
    }
  }
}
.values {
  width: 100%;
}
.values-box {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
}
.values-box-bold {
  padding-top: 8px;
  padding-bottom: 6px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold !important;
}
.billing-header {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
}
.input-text-checked {
  font-size: 14px;
  color: $app-main-gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
}
.label-control {
  padding-bottom: 0px;
  margin-bottom: 22px;
  margin-left: 8px;
  margin-right: 8px !important;
}
.style-card {
  width: 306px;
}
// .style-mmyy {
//   width: 73px;
// }
.style-CVC {
  width: 45px;
}
.style-address {
  width: 380px;
}
.checked-style {
  color: $app-main-gray;
  border: $white;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
}
.check-style {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal !important;
  color: $app-main-gray;
  margin-left: 5px;
  padding-bottom: 5px;
}
.styles {
  font-size: 16px;
  color: $app-main-gray;
  font-weight: bold;
  margin-left: 12px;
 }
.titles {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 22px;
  margin-bottom: 22px;
  background: rgba(234, 234, 234, 0.7);
}
.button {
  width: 100%;
  height: 40px;
  font-weight: bold !important;
  font-size: 16px !important;
  opacity: 0.7;
  background-color: $bw1;
  margin-top: 20px;
  border-radius: 0px 0px 5px 5px !important;
  &:hover {
    background-color: $primary;
    opacity: 0.7;
    margin-top: 20px;
    transition-duration: 0.2s!important;
    .btn-control {
      border: none;
      font-weight: bold !important;
      font-size: 16px !important;
      width: 100%;
      color: $bw1;
    }
  }
}
.btn-control {
  border: none;
  font-weight: bold !important;
  font-size: 16px !important;
  width: 100%;
  color: $primary;
}
.account-txt {
  font-weight: bold !important;
  font-size: 16px !important;
  color: $bw6;
  opacity: 0.3;
  margin-right: 22px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-txt {
  font-weight: bold !important;
  font-size: 16px !important;
  color: $bw6;
}

::ng-deep .mat-checkbox {
  .mat-checkbox-checked {
    .mat-checkbox-layout {
      .mat-checkbox-background {
        background-color: #250303 !important;
        border: 0 !important;
      }
    }
  }

  .mat-checkbox-layout {
    cursor: pointer;

    .mat-checkbox-background {
      background-color: #b7b7b7 !important;
      border: 0 !important;
    }

    .mat-checkbox-checkmark-path {
      stroke: $white !important;
    }

    .mat-checkbox-layout {
      margin-bottom: 0.1rem;
      .mat-checkbox-frame {
        border: 0 !important;
      }
    }

    .mat-checkbox-frame {
      border: 0 !important;
    }

    &:hover {
      .mat-checkbox-frame {
        border: 0 !important;
      }

      .mat-ripple-element {
        background-color: transparent !important;
        opacity: 1 !important;
      }
    }
  }

  .mat-checkbox-layout {
    margin-bottom: 0.1rem;
    .mat-checkbox-frame {
      border: 0 !important;
    }
  }

  .mat-checkbox-frame {
    border: 0 !important;
  }
  &:hover {
    .mat-checkbox-frame {
      border: 0 !important;
    }

    .mat-ripple-element {
      background-color: transparent !important;
      opacity: 1 !important;
    }
  }

  &.mat-checkbox-disabled {
    cursor: pointer !important;
    .mat-checkbox-frame {
      border: 0 !important;
    }
    &:hover {
      .mat-checkbox-frame {
        border: 0 !important;
      }
      .mat-ripple-element {
        opacity: 0.04 !important;
      }
    }
  }
}
.input-field {
  margin-left:4px;
  margin-right:4px;
}
.mat-style {
  margin-left: 12px;
}
.box-field {
  margin: 0px 6px 0px 6px;
}
