<div class="acounting_details">
  <div class="expand_row_item detail_info">
    <div class="detail_item">#0408</div>
    <div class="detail_item">{{ selectedUser.firstName }} {{ selectedUser.lastName }}</div>
    <div class="detail_item">01/03/20  -  01/10/20</div>
    <div class="d-flex">
      <div class="accounting_widgets">
        <div class="widget_download" appTaTooltip="Download" position="bottom-right">
          <svg-icon src="assets/img/accounting_download.svg"></svg-icon>
        </div>
        <div class="widget_print" appTaTooltip="Print Selected" position="bottom-right">
          <svg-icon src="assets/img/accounting_pring.svg"></svg-icon>
        </div>
        <div class="widget_letter" appTaTooltip="Email Selected" position="bottom-right">
          <svg-icon src="assets/img/accounting_email.svg"></svg-icon>
        </div>
      </div>
      <!-- Rounded switch -->
      <label class="accounting_switch">
        <input disabled type="checkbox" [(ngModel)]="accountingChecbox" />
        <span
          class="slider round"
          [ngbPopover]="checkboxPopover"
          #t2="ngbPopover"
          triggers="manual"
          [autoClose]="false"
          [placement]="'bottom'"
          (click)="toggleCheckbox(t2)"
        >
          <span *ngIf="!accountingChecbox">Ready</span>
          <span *ngIf="accountingChecbox">Closed</span>
        </span>
      </label>
    </div>
  </div>
  <div class="card transparent-col">
    <div class="card-body px-3 no-padd">
      <div class="row accounting_details_row">
        <!-- Toolbar -->
        <div class="container toolbar-container dispatcher-search-wrap">
          <div class="expand_row">
            <table class="account_details_table big_details_table">
              <thead>
                <tr class="transparent_rows">
                  <th>Stops</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Leg</th>
                  <th class="loaded_group">Loaded</th>
                  <th class="loaded_group">Empty</th>
                  <th class="loaded_group">Total</th>
                </tr>
              </thead>
              <tbody
                cdkDropList
                (cdkDropListDropped)="onDrop($event, 'truckData')"
                [cdkDropListSortPredicate]="containerPredictPosition"
              >
                <ng-template ngFor let-items [ngForOf]="selectedUser.route" let-i="index">
                  <tr
                    class="dragg_row"
                    *ngIf="items.draggable"
                    cdkDrag
                    cdkDragHandle
                    cdkDragBoundary=".account_details_table"
                    [cdkDragPreviewClass]="'line-drag-row'"
                    (cdkDropListEntered)="enterDropList($event)"
                    cdkDragLockAxis="y"
                  >
                    <td colspan="3">
                      {{ items.name }} - {{ items.start_period }} - {{ items.end_period }}
                    </td>
                    <td></td>
                    <td class="loaded_group loaded_group_th border_bottom">
                      {{ items.loaded }} mi.
                    </td>
                    <td class="loaded_group loaded_group_th">{{ items.empty }} mi.</td>
                    <td class="loaded_group loaded_group_th">{{ items.total }} mi.</td>
                  </tr>
                  <tr
                    cdkDrag
                    cdkDragLockAxis="y"
                    [class.low_opacity]="tableCurrentIndex < i"
                    cdkDragHandle
                    [cdkDragDisabled]="true"
                    (cdkDropListEntered)="enterDropList($event)"
                    *ngIf="!items.draggable"
                  >
                    <td
                      [ngClass]="{
                        normal_items: true,
                        delivery_items: items.PointType == 'delivery',
                        pickup_items: items.PointType == 'pickup'
                      }"
                    >
                      <span class="table_td_type_delivery" [ngSwitch]="items.PointType">
                        <span *ngSwitchCase="'delivery'">Delivery</span>
                        <span *ngSwitchCase="'pickup'">Pickup</span>
                        <span *ngSwitchDefault>Start</span>
                      </span>
                      <div class="load_name">
                        {{ items.PointCity }}, {{ items.PointState }} {{ items.PointZip }}
                      </div>
                    </td>
                    <td>{{ items.PointDateTime | date: 'HH:mm aa' }}</td>
                    <td>{{ items.PointDateTime | date: 'HH:mm aa' }}</td>
                    <td>
                      <span *ngIf="items.distanceMiles">{{ items.distanceMiles }} mi.</span>
                    </td>
                    <td class="loaded_group loaded_group_td">
                      <span>0 mi.</span>
                    </td>
                    <td class="loaded_group loaded_group_td">
                      <span>0 mi.</span>
                    </td>
                    <td class="loaded_group loaded_group_td">
                      <span>0 mi.</span>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
            <div class="accounting_tables_details">
              <div class="accounting_table_item color_white">
                <div class="row">
                  <div class="col-6">
                    <app-accounting-tables
                      [dataItem]="tableData[1].data"
                      [tableName]="tableData[1].name"
                      [columns]="tableData[1].columns"
                      [options]="tableData[1].options"
                    ></app-accounting-tables>
                    <div class="table_item_holder accounting_map" [ngClass]="{'table-item-holder-fullscreean': fullscreenActive}">
                      <div class="load-map-wrapper">
                        <agm-map
                          [streetViewControl]="false"
                          [clickableIcons]="false"
                          [controlSize]="20"
                          [styles]="styles"
                          [restriction]="mapRestrictions"
                          (mapReady)="getMapInstance($event)"
                          [zoom]="1"
                        >
                          <!-- *ngIf="origin !== undefined && destination !== undefined" -->
                          <agm-direction
                            *ngFor="let dir of directionRoutes"
                            [origin]="dir.origin"
                            [destination]="dir.destination"
                            [optimizeWaypoints]="false"
                            [renderOptions]="dir.renderOptions"
                          ></agm-direction>
                          <div *ngFor="let mark of waypointMarkers; let j = index">
                            <agm-marker
                              [latitude]="mark.lat"
                              [longitude]="mark.lng"
                              [agmFitBounds]="true"
                              [visible]="false"
                            >
                              <agm-snazzy-info-window
                                [latitude]="mark.lat"
                                [longitude]="mark.lng"
                                [openOnMarkerClick]="false"
                                [closeOnMapClick]="false"
                                [maxWidth]="26"
                                [maxHeight]="32"
                                [isOpen]="true"
                                [closeWhenOthersOpen]="false"
                                placement="bottom"
                              >
                                <ng-template class="marker-tool-tip">
                                  <svg
                                    class="routing_marker"
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="26"
                                    height="32"
                                    viewBox="0 0 32.999 48.234"
                                  >
                                    <g
                                      id="Group_11810"
                                      data-name="Group 11810"
                                      transform="translate(-509.694 -364.016)"
                                    >
                                      <g id="Group_11809" data-name="Group 11809">
                                        <path
                                          id="Path_10542"
                                          [ngStyle]="{ fill: mapCollors[mark.type].bottom }"
                                          data-name="Path 10542"
                                          d="M526.194,399.25a6.5,6.5,0,1,0,6.5,6.5A6.5,6.5,0,0,0,526.194,399.25Zm0,10a3.5,3.5,0,1,1,3.5-3.5A3.5,3.5,0,0,1,526.194,409.25Z"
                                        />
                                        <circle
                                          id="Ellipse_1439"
                                          data-name="Ellipse 1439"
                                          cx="3.5"
                                          cy="3.5"
                                          r="3.5"
                                          transform="translate(522.694 402.25)"
                                          fill="#fff"
                                        />
                                      </g>
                                      <g id="Locator">
                                        <path
                                          id="Path_10543"
                                          [ngStyle]="{ fill: mapCollors[mark.type].marker }"
                                          data-name="Path 10543"
                                          d="M526.2,364.016a16.637,16.637,0,0,0-16.5,16.769,16.879,16.879,0,0,0,3.229,9.966c3,4.127,13.3,15.265,13.3,15.265s10.231-11.138,13.237-15.265a16.865,16.865,0,0,0,3.229-9.966A16.636,16.636,0,0,0,526.2,364.016Zm0,28.246a11.631,11.631,0,0,1,0-23.262h0a11.631,11.631,0,1,1,0,23.262Z"
                                        />
                                        <path
                                          id="Path_2808"
                                          data-name="Path 2808"
                                          d="M526.2,369a11.631,11.631,0,1,1-11.631,11.631h0A11.631,11.631,0,0,1,526.194,369Z"
                                          fill="#fff"
                                        />
                                      </g>
                                      <text
                                        *ngIf="j > 0"
                                        id="_1"
                                        data-name="1"
                                        transform="translate(520.195 366.25)"
                                        [ngStyle]="{ fill: mapCollors[mark.type].marker }"
                                        font-size="14"
                                        font-family="Montserrat"
                                        font-weight="Bold"
                                        startOffset="50%"
                                        text-anchor="middle"
                                        alignement-baseline="middle"
                                      >
                                        <tspan x="5.8" y="19">{{ j + 1 }}</tspan>
                                      </text>
                                    </g>
                                  </svg>
                                </ng-template>
                              </agm-snazzy-info-window>
                            </agm-marker>
                          </div>
                        </agm-map>
                        <div class="map-control">
                            <app-map-control (mapMode)="onFullScreen($event)" [fullscreenOnly]="true"></app-map-control>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <app-accounting-tables
                      [dataItem]="tableData[0].data"
                      [tableName]="tableData[0].name"
                      [columns]="tableData[0].columns"
                      [options]="tableData[0].options"
                    ></app-accounting-tables>
                    <div class="pt-4">
                      <app-accounting-tables
                        [dataItem]="tableData[2].data"
                        [tableName]="tableData[2].name"
                        [columns]="tableData[2].columns"
                        [options]="tableData[2].options"
                      ></app-accounting-tables>
                    </div>
                    <div class="calculate_table">
                      <div class="first_flex calc_left">
                        <div>$0.6 / loaded</div>
                        <div>$0.5 / empty</div>
                      </div>
                      <div class="first_flex calc_right">
                        <div>
                          <span>Milage Pay:</span>
                          <span>$900.50</span>
                        </div>
                        <div>
                          <span>Bonus Pay:</span>
                          <span>$300</span>
                        </div>
                        <div class="salary">
                          <span>Salary:</span>
                          <span>$1,020.50</span>
                        </div>
                        <div class="credits">
                          <span>Credits:</span>
                          <span>$480.50</span>
                        </div>
                        <div class="deduction">
                          <span>Deductions:</span>
                          <span>$460.50</span>
                        </div>
                        <div class="total">
                          <span>Total:</span>
                          <span>$1,200.50</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Popover for Toogle -->
<ng-template #checkboxPopover let-data="data">
  <div class="checkbox_pop">
    <div class="top-header">Are you sure?</div>
    <div class="modal-footer">
      <button type="button" class="cancel-btn" (click)="toggleCheckbox(checkboxPopover)">No</button>
      <button type="button" class="save-btn" (click)="acceptCheckbox()" ngbAutofocus>Yes</button>
    </div>
  </div>
</ng-template>
