<div class="truckassist-history-data-panel">
  <div class="truckassist-data-form">
    <div class="container truckassist-data-form-item p-0" *ngFor="let gi of items; let i = index">
      <div class="row header-panel m-0" *ngIf="i === 0">
        <div class="col-sm p-0 ta-font-bold">
          Start Date
        </div>
        <div class="col-sm p-0 ta-font-bold">
          End Date
        </div>
        <div class="col-auto history-delete-container p-0"></div>
      </div>
      <div class="row m-0" *ngIf="gi.header">
        <div class="col-sm header-label ta-font-bold p-0">
          {{ gi.header }}
        </div>
      </div>
      <div
        class="row m-0 row-container"
        *ngFor="let item of gi.data; let j = index"
        (mouseover)="item.showDelete = true;"
        (mouseout)="item.showDelete = false;"
      >
        <div
          class="col-auto p-0"
          (mouseover)="item.showStartDateAction = true"
          (mouseout)="item.showStartDateAction = false"
        >
          <div
            class="row-item item-left"
            [ngClass]="{ 'row-item-edit': item.editStartDate, 'hover-disable': !status }"
          >
            <span [class]="{ 'd-none': item.editStartDate }" class="date-span ta-font-regular">
              {{ item.startDate | date: 'shortDate' }}</span
            >
            <kendo-datepicker
              #startDate
              [class]="{
                'd-none': !item.editStartDate,
                'custom-datepicker': true
              }"
              (keyup.enter)="saveData(i, j, true)"
              name="check-in"
              [(ngModel)]="item.startDate"
              [format]="format"
              [formatPlaceholder]="{
                year: 'yy',
                month: 'mm',
                day: 'dd'
              }"
              [max]="endDate.value ? endDate.value : null"
              [popupSettings]="{ popupClass: 'custom-datepick' }"
            >
            </kendo-datepicker>
            <div class="row-tools">
              <button
                class="action-btn action-btn-left"
                appTaTooltip="Cancel"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#6C6C6C"
                [class]="{
                  'd-none': !item.editStartDate || !status,
                  'custom-datepicker': true
                }"
                (click)="item.editStartDate = false"
              >
                <svg-icon
                  src="assets/img/svgs/table/element-close.svg"
                  [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                ></svg-icon>
              </button>
              <button
                class="action-btn"
                appTaTooltip="Save"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#5673AA"
                [class]="{
                  'd-none': !item.editStartDate || !status,
                  'custom-datepicker': true
                }"
                (click)="saveData(i, j, true)"
              >
                <svg-icon
                  src="assets/img/svgs/table/element-check.svg"
                  [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                ></svg-icon>
              </button>

              <button
                class="action-btn action-btn-left"
                appTaTooltip="Edit"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#5673AA"
                [class]="{
                  'd-none': !item.showStartDateAction || item.editStartDate || !status
                }"
                (click)="editStartDate(i, j)"
              >
                <svg-icon
                  [src]="'assets/img/svgs/edit-pencil.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </button>
            </div>
          </div>
        </div>
        <div
          class="col-auto p-0"
          (mouseover)="item.showEndDateAction = true"
          (mouseout)="item.showEndDateAction = false"
        >
          <div
            class="row-item"
            [ngClass]="{ 'row-item-edit': item.editEndDate, 'hover-disable': !status }"
          >
            <span [class]="{ 'd-none': item.editEndDate }" class="date-span ta-font-regular">
              {{ item.endDate | date: 'shortDate' }}</span
            >
            <kendo-datepicker
              #endDate
              (keyup.enter)="saveData(i, j, false)"
              [class]="{ 'd-none': !item.editEndDate, 'custom-datepicker': true }"
              name="check-in"
              [(ngModel)]="item.endDate"
              [min]="startDate.value ? startDate.value : null"
              [format]="format"
              [formatPlaceholder]="{
                year: 'yy',
                month: 'mm',
                day: 'dd'
              }"
            >
            </kendo-datepicker>
            <div class="row-tools">
              <button
                class="action-btn close-btn"
                appTaTooltip="Cancel"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#6C6C6C"
                [class]="{ 'd-none': !item.editEndDate || !status, 'custom-datepicker': true }"
                (click)="item.editEndDate = false"
              >
                <svg-icon
                  src="assets/img/svgs/table/element-close.svg"
                  [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                ></svg-icon>
              </button>
              <button
                class="action-btn"
                appTaTooltip="Save"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#5673AA"
                [class]="{ 'd-none': !item.editEndDate || !status, 'custom-datepicker': true }"
                (click)="saveData(i, j, false)"
              >
                <svg-icon
                  src="assets/img/svgs/table/element-check.svg"
                  [svgStyle]="{ 'width.px': '16', 'height.px': '16' }"
                ></svg-icon>
              </button>
              <button
                class="action-btn"
                appTaTooltip="Edit"
                position="bottom-right"
                tooltipColor="#FFFFFF"
                tooltipBackground="#5673AA"
                [class]="{
                  'd-none': !item.showEndDateAction || item.editEndDate || !status
                }"
                (click)="editEndDate(i, j)"
              >
                <svg-icon
                  [src]="'assets/img/svgs/edit-pencil.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col history-delete-container p-0">
          <button
            class="action-btn remove-btn p-0 m-0"
            appTaTooltip="Delete"
            position="bottom-right"
            tooltipColor="#FFFFFF"
            tooltipBackground="#FF5D5D"
            [class]="{
              'd-none':
                gi.data.length === 1 ||
                !item.showDelete ||
                item.editEndDate ||
                item.editStartDate ||
                !status
            }"
            (click)="hideDialog(i, j)"
          >
            <svg-icon
              [src]="'assets/img/svgs/table/element-trash.svg'"
              [svgStyle]="{ 'width.px': '12.83', 'height.px': '14', fill: 'rgb(255, 93, 93)' }"
            ></svg-icon>
            <div
              class="popup-delete-history-item"
              [ngClass]="{
                'animation-dropdown-dialog-delete-history': item.showDialog
              }"
            >
              <app-delete-dropdown-dialog
                [dialog]="'Are you sure you want to delete?'"
                (actionEvent)="removeData($event, i, j)"
              ></app-delete-dropdown-dialog>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
