.main-container {
  position: relative;
  display: inline-block;

  p {
    margin: 0;
  }

  .copied-text-container {
    position: absolute !important;
    width: 0px;
    height: 100%;
    background: #5673AA;
    top: 0;
    border-radius: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    visibility: hidden;
    transition: 0.3s;
    cursor: pointer;

    .copied-text {
      width: 0%;
      color: #ffffff;
      font-size: 10px;
      font-weight: bold;
      display: inline;
      line-height: 10px;
      visibility: hidden;
    }
  }

  .add-on-copy {
    width: 100% !important;
    visibility: visible !important;
    transition: 0.3s;

    .copied-text {
      width: 100% !important;
      visibility: visible !important;
    }

  }

}
