@import '../../../../assets/scss/components/variables';

::-webkit-scrollbar-thumb {
  background-color: #606060 !important;
}
.custom-clustericon {
  opacity: 0;
}
/* Bar top */
.point-bar-background {
  position: absolute;
  height: 32px;
  width: 981px;
  background: #ffffff;
  border-radius: 3px;
  right: 38px;
}

.point-bar {
  position: relative;
  width: 1440px;
  height: 32px;
  border-radius: 3px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto auto 201px 6px 201px 6px 1fr 32px;

  .go-back-tabel-container {
    margin-right: 6px !important;
  }

  .truck-count-conatiner,
  .trailer-count-conatiner,
  .shop-count-conatiner {
    width: 99px;
    height: 32px;
    background: #dadada;
    border-radius: 3px;
    position: relative;
    user-select: none;
    margin-right: 6px;
    p {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      position: absolute;
      color: white;
      width: 99px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .shop-count-conatiner {
    background: white;
    p {
      color: #6c6c6c;
    }
  }

  .white-space {
    background: white;
    height: 32px;
    border-radius: 3px;
    margin-right: 6px;
  }

  .add-icon {
    cursor: pointer;
    position: relative;
    button {
      margin-left: 0 !important;
    }
  }
}

/* Map */

.map-conteiner {
  agm-map {
    height: 829px;
  }
  overflow: hidden;
  position: relative;
  left: 15px;
  margin-top: 12px;
  width: 1440px;
  height: calc(100vh - 235px);
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  .grup-of-shops {
    position: relative;
    top: 15px;
  }

  .start-end-container {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 435px;
    height: 32px;
    display: grid;
    grid-template-columns: 1fr 0px 6px 1fr 0px;

    textarea {
      border-radius: 3px;
      z-index: 200;
      background: #ffffff;
      border: none;
      width: auto;
      height: 32px;
      resize: none;
      outline: none;
      color: rgba(145, 145, 145, 1);
      opacity: 0.7;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      line-height: 29px;
      &:hover {
        opacity: 1;
        transition: 0.3s;
      }
    }

    textarea.ng-dirty,
    textarea.ng-touched {
      opacity: 1 !important;
      color: white !important;
      background: rgba(218, 218, 218, 0.8);
      &:hover {
        background: rgba(218, 218, 218, 1);
      }
    }

    .start-point,
    .end-point {
      border: none;
      padding-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .start-point {
      border-left: 4px solid rgba(36, 193, 161, 1);
    }

    .end-point {
      border-left: 4px solid rgba(255, 93, 93, 1);
    }

    .delete-start,
    .delete-end {
      height: 50px;
      position: relative;
      top: 5px;
      left: -22px;
      z-index: 1000;
      svg-icon {
        cursor: pointer;
        &:hover {
          svg {
            path {
              opacity: 1 !important;
              transition: 0.3s;
            }
          }
        }
      }

      &:hover {
        svg-icon {
          visibility: visible !important;
        }
      }
    }

    .delete-points {
      height: 50px;
      svg-icon {
        visibility: hidden;
        cursor: pointer;
        position: relative;
        top: 14px;
        left: 0px;
        &:hover {
          svg {
            path {
              fill: #28529f;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }
  .map-option-bar {
    position: absolute;
    z-index: 100;
    top: 12px;
    left: 12px;
    width: 435px;
    height: 32px;
    background: white;
    border-radius: 3px;
    display: flex;
    .option {
      user-select: none;
      cursor: pointer;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      height: 20px;
      display: inline-block;
      padding: 6px;
      margin: 0 6.4px 0 0;
      background: #dadada;
      opacity: 0.7;
      border-radius: 3px;
      transition: 0.3s;
      p {
        color: white;
        font-size: 11px;
        font-weight: bold;
        line-height: 8px;
        margin: 0;
      }
      &:hover {
        color: #b7b7b7;
        opacity: 1;
        transition: 0.3s;
      }
    }
    .option:first-of-type {
      margin-left: 12px;
    }
  }

  .shop-list-container {
    width: 536px;
    height: auto;
    position: relative;
    left: 8px;
    top: 8px;
  }

  .map-control {
    width: 60px;
    height: 32px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    cursor: pointer;
  }

  .fullscreen-truckassist-logo {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 45.5px;
    height: 42px;
    opacity: 0.5;
  }
}

.colored-triangle {
  -webkit-filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.1));

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 6px solid white;
  position: fixed;
  top: 8px;
  left: calc(50% - 10px);
  transition: 0.3s;
}

/* Class to add after event */
.grup-of-shops .shop-count {
  height: 32px;
  p {
    color: #919191 !important;
    font-size: 14px !important;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
.grup-of-shops .shop-names {
  display: grid;
  grid-template-columns: 115px 60px 59px;
}
.violation-map-tooltip {
  max-height: 221px;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.cluster-shop-count {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: #f9f9f9 !important;
}

.cluster-last-element {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fullscreen-map-mode {
  margin: 0;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-map-optins-mode {
  top: 59px !important;
}

.fullscreen-list-mode {
  top: 103px !important;
}

.fullscreen-point-bar-mode {
  position: fixed !important;
  left: 12px !important;
  width: 100% !important;
  z-index: 100 !important;
  grid-template-columns: 201px 6px 201px 6px 1443px 6px 32px !important;
}

.fullscreen-point-bar-backgrond-mode {
  z-index: 100;
  top: 15px;
  width: 1371px;
  right: -186px;
}

.normal-screen-svg {
  top: -1px !important;
  right: 0px !important;
}

.whenPined {
  svg {
    path {
      fill: rgb(40, 82, 159) !important;
    }
  }
}
.whenUnPin {
  svg {
    path {
      fill: #dadada !important;
    }
  }
}
.addOverflow {
  overflow-y: scroll;
  overflow-x: hidden;
}
.addAnimationPin {
  svg {
    transform: scale(1.5);
    transition: 0.2s;
  }
}
.chnageStyleOfList {
  &:hover {
    opacity: 1 !important;
    transition: 0.2s;
  }
}
.styleOfList {
  &:hover {
    background: #919191 !important;
    color: white !important;
    transition: 0.3s;
    .arrow-down {
      svg {
        path {
          fill: white !important;
          stroke: white !important;
          transition: 0.3s;
        }
      }
    }
  }
}
.regularListMargin {
  margin-top: 12px;
}

.listShopsStyle {
  height: 288px !important;
}

.shopListsScrollStylingOnExpend {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.shopListsScrollStylingOnExpend::-webkit-scrollbar {
  display: none;
}

.addTextareaCliked {
  border: none !important;
  background: #6c6c6c !important;
  opacity: 1 !important;
}
.addShadowToBadgesDown {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  transition: 1s;
}
.addShadowToDropDown {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  transition: 1s;
}
.addAddresMargin {
  margin: 12px 0 0 1px !important;
}
.addMarkerInfoHight {
  height: 75px !important;
}
.servisePointTypeThree {
  border-bottom-color: #5673aa !important;
}
.servisePointTypeTwo {
  border-bottom-color: #4b7ee3 !important;
}
.servisePointTypeOne {
  border-bottom-color: #81afff !important;
}
.servisePointTypeNone {
  border-bottom-color: #a3b5d4 !important;
}
.serviseTypeThree {
  background: #5673aa !important;
}
.serviseTypeTwo {
  background: #4b7ee3 !important;
}
.serviseTypeOne {
  background: #81afff !important;
}
.serviseTypeNone {
  background: #a3b5d4 !important;
}
.remuveZIndex {
  z-index: unset !important;
}
.moveReveiw {
  left: 200px !important;
}
.addCopyAddressDrop {
  width: 85% !important;
  visibility: visible !important;
  transition: 0.3s;
}
.addCopyEmailDrop {
  width: 70% !important;
  visibility: visible !important;
  transition: 0.3s;
}
.addCopyPhoneDrop {
  width: 50% !important;
  visibility: visible !important;
  transition: 0.3s;
}

@keyframes animateShopConteiner {
  0% {
    height: 50px;
  }
  100% {
    height: 130px;
  }
}

.shop-conteiner-animation {
  visibility: visible !important;
  animation: animateShopConteiner 0.3s ease-in-out;
}

.addBorderToDropMarker {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 3px !important;
}
.showListFEmpty {
  visibility: visible !important;
  transition: 0.3s;
}
.showEmptyShopList {
  visibility: visible !important;
  transition: 0.3s;
}
.addIcons {
  opacity: 1 !important;
  transition: opacity 1s !important;
}
.addVisibleDelEdit {
  opacity: 1 !important;
  transition: opacity 1s !important;
}
.addOpasatyToType {
  svg {
    opacity: 0.2 !important;
  }
}
.addDeletePoints {
  visibility: visible !important;
  transition: 0.3s;
}
.addActiveType {
  background: #919191 !important;
  color: white !important;
  opacity: 1 !important;
}
.addPin {
  svg {
    path {
      fill: rgb(40, 82, 159) !important;
    }
  }
}
.addCurser {
  cursor: pointer !important;
}
.addBorderRadius {
  border-radius: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 3px !important;
}

.addExpendList {
  height: auto !important;
  transition: 0.3s;
}

.showInfoNoMail {
  width: 985px !important;
  background: #f3f3f3 !important;
  color: #919191;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
  transition: 0.3s;
}
.addShowHInfo {
  visibility: visible !important;
  transition: visibility 0.1s;
}

.addList {
  height: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
  transition: 0.3s !important;
}
.addVisibleList {
  display: none !important;
}
.addRotation {
  svg {
    transform: rotate(-90deg) !important;
    transition: 0.3s;
  }
}
.expendShopList {
  width: 1204px !important;
  background: #f3f3f3 !important;
  color: #919191;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);
  transition: 0.3s;
}
.grup-of-shops {
  width: 240px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 15%);

  .shop-count {
    width: 100%;
    height: 23.3px;
    background: #344566;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 6px;
    p {
      width: 100%;
      height: 100%;
      margin: 0;
      line-height: 22.3px;
      color: white;
      font-weight: bold;
      font-size: 10px;
    }
  }
  .shop-names {
    width: 100%;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
    padding-left: 6px;
    &:hover {
      background: #f7f7f7;
      transition: 0.25s;
      p {
        color: #6c6c6c;
      }
    }
    p {
      width: 228px;
      height: 100%;
      margin: 0;
      line-height: 24px;
      color: #6c6c6cc7;
      font-weight: 400;
      font-size: 12px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.single_violation_map_tooltip {
  width: 351px;
  box-shadow: 0px 0px 3px #00000040;
  border-radius: 3px;
  &_header {
    background: #f9f9f9;
    height: 32px;
    display: grid;
    width: 100%;
    padding: 7px 12px;
    grid-template-columns: 186px 75px 65px;
    span {
      color: #919191;
      font-size: 14px;
      &:nth-of-type(1) {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
  &_body {
    background: #fff;
    padding: 12px;
    position: relative;
    &_header {
      width: 100%;
      span {
        color: #919191;
        font-size: 14px;
      }
      &_name {
        font-weight: bold;
      }
      &_right {
        float: right;
      }
      &_title {
        float: right;
        margin-right: 3px;
        font-weight: bold;
      }
      &:nth-of-type(1) {
        margin-bottom: 4px;
      }
      &:nth-of-type(2) {
        margin-bottom: 7px;
      }
    }
    &_body {
      display: flex;
      width: 250px;
      justify-content: space-between;
      transition: $transition;
      &_box {
        height: 50px;
        width: 27px;
        text-align: center;
        &_icon {
          width: 27px;
          height: 27px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2px;
          svg-icon {
            svg {
              path {
                fill: #91919166;
              }
            }
          }
        }
        &_icon-active {
          background: #5673aac0;
          svg-icon {
            svg {
              path {
                fill: white;
              }
            }
          }
        }
        &_value {
          color: #919191;
          font-size: 14px;
          margin-top: 4px;
        }
        &_value-active {
          font-weight: bold;
        }
      }
      &_citation {
        position: absolute;
        right: 12px;
        margin-top: 3px;
        width: 48px;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 14px;
          font-weight: 800;
          color: white;
          &:nth-of-type(2) {
            top: 38px;
            font-weight: bold;
            color: #919191;
          }
        }
        &_regular {
          font-weight: 500 !important;
        }
        &_off {
          svg {
            path {
              fill: #d2d2d1c0;
            }
          }
        }
        &_on {
          svg {
            path {
              fill: #5673aac0;
            }
          }
        }
      }
    }
  }
}
