<!-- <div class="stat_holder">
    <div class="stat_color" [ngClass]="{ 'monthly_stat': type == 'MTD', 'year_stat': type == 'YTD', 'all_stat': type == 'AllTime' }">
        <div class="stat_top first_stat_top">
            <div class="stat_fields wide_field">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                    {{587 | currency}}
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                ><span appSelectionColor>4</span>Fuel</div>
            </div>
            <div class="stat_fields wide_field">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                    {{0 | currency}}
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                ><span appSelectionColor>4</span>Fuel</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                    4
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Shop</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                    0
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Accident</div>
            </div>
        </div>
        <div class="stat_top">
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                    {{ data['customers' + type] ? (data['customers' + type]) : 0 }}
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Broker</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                {{ data['load' + type] ? (data['load' + type]) : 0 }}
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Load</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >
                {{ data['drivers' + type] ? (data['drivers' + type]) : 0 }}
                </div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Driver</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >{{ data['trucks' + type] ? (data['trucks' + type]) : 0 }}</div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Truck</div>
            </div>
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >{{ data['trailers' + type] ? (data['trailers' + type]) : 0 }}</div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Trailer</div>
            </div>
        </div>
        <div class="stat_bottom">
            <div class="stat_fields">
                <div
                    style="color: #fff;"
                    appSelectionColor 
                    class="stat_field_count"
                >{{ data['dispatchers' + type] ? (data['dispatchers' + type]) : 0 }}</div>
                <div
                    style="color: #fff;"
                    appSelectionColor  
                    class="stat_field_name"
                >Shipper</div>
            </div>
            <div class="stat_numbers">
                <div 
                    [ngStyle]="{color: ( type == 'MTD' ? '#5673aa' : type == 'YTD' ? '#fa9952' : type == 'AllTime' ? '#a16caf' : '#24c1a1')}"
                    appSelectionColor  
                    class="total_stat"
                >{{ data['revenue' + type] ? (data['revenue' + type] | currency ) : 0 | currency }}</div>
                <div
                    [ngStyle]="{color: ( type == 'MTD' ? '#5673aa' : type == 'YTD' ? '#fa9952' : type == 'AllTime' ? '#a16caf' : '#24c1a1')}"
                    appSelectionColor   
                    class="ravenue_item d-flex">
                    Revenue 
                    <span
                    [ngStyle]="{color: ( type == 'MTD' ? '#5673aa' : type == 'YTD' ? '#fa9952' : type == 'AllTime' ? '#a16caf' : '#24c1a1')}"style="color: #fff;"
                        appSelectionColor   
                        class="percentage_sum" *ngIf="type != 'AllTime'">
                        <svg-icon 
                                    [class.down-svg]="data['difference' + type] < 0" 
                                    [class.visibility-hidden]="!data['difference' + type]" 
                                    src="assets/img/svgs/dashboard_sort.svg"
                        ></svg-icon>
                        {{ data['difference' + type] ? (data['difference' + type] | currency ) : 0 | currency }} <span appSelectionColor>{{ data['percentageDifference' + type] ? data['percentageDifference' + type].toFixed(2) : 0 }}%</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="text_behind" *ngIf="type">{{type != 'AllTime' ? type : 'ALL'}}</div>
    </div>
</div> -->
<div class="new_stat_holder">
    <div class="stat_header d-flex">
        <div class="stat_header_item">Scorecards</div>
        <div class="stat_header_item p-0">
            <div class="stat_inside_item">Appl</div>
            <div class="stat_inside_item">Driver</div>
            <div class="stat_inside_item">Truck</div>
            <div class="stat_inside_item">Trailer</div>
            <div class="stat_inside_item">Owner</div>
            <div class="stat_inside_item">User</div>
        </div>
        <div class="stat_header_item p-0">
            <div class="stat_inside_item">Miles</div>
            <div class="stat_inside_item">Gallons</div>
            <div class="stat_inside_item size-72">Fuel</div>
        </div>
        <div class="stat_header_item p-0">
            <div class="stat_inside_item">Insp</div>
            <div class="stat_inside_item">Acdnt</div>
            <div class="stat_inside_item">Viol.</div>
        </div>
        <div class="stat_header_item p-0">
            <div class="stat_inside_item">Shop</div>
            <div class="stat_inside_item size-72">Repair</div>
        </div>
        <div class="stat_header_item p-0">
            <div class="stat_inside_item">Broker</div>
            <div class="stat_inside_item">Shipp.</div>
            <div class="stat_inside_item">Load</div>
            <div class="stat_inside_item long_width">Revenue</div>
        </div>
    </div>
    <div class="stat_body">
        <div class="stat_body_item d-flex" *ngFor="let item of dataItems">
            <div class="stat_item_group">
                <span class="stat_main_group" [ngSwitch]="item.name">
                    <span *ngSwitchCase="'todayObject'">Today</span>
                    <span *ngSwitchCase="'wtdObject'">WTD</span>
                    <span *ngSwitchCase="'mtdObject'">MTD</span>
                    <span *ngSwitchCase="'ytdObject'">YTD</span>
                    <span *ngSwitchDefault>All time</span>
                </span>
                <div class="percentage_item" [ngStyle]="{ width: (dayOfPercentage[item.name] + '%') }" *ngIf="item.name != 'todayObject' && item.name != 'allTimeObject'"></div>
            </div>
            <div class="other_groups d-flex">
                <div class="group_item">0</div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['drivers' + item.sufix] : 0"></div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['trucks' + item.sufix] : 0"></div>
                <div class="group_item average">
                    <span class="real_value" [innerHTML]="data[item.name] ? data[item.name]['trailers' + item.sufix] : 0"></span>
                    <span class="changed_value">
                        <div class="avrg_items">0</div>
                        <div class="avrg_items">Avg.</div>
                    </span>
                </div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['owners' + item.sufix] : 0"></div>
                <div class="group_item addition">
                    <span class="real_value">0</span>
                    <span class="changed_value">+1</span>
                </div>
            </div>
            <div class="other_groups d-flex">
                <div class="group_item">0</div>
                <div class="group_item">0</div>
                <div class="group_item size-72" [innerHTML]="data[item.name] ? data[item.name]['fuelItem' + item.sufix] : 0"></div>
            </div>
            <div class="other_groups d-flex">
                <div class="group_item">0</div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['accidents' + item.sufix] : 0"></div>
                <div class="group_item deduction">
                    <span class="real_value">0</span>
                    <span class="changed_value">-10</span>
                </div>
            </div>
            <div class="other_groups d-flex">
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['shop' + item.sufix] : 0"></div>
                <div class="group_item size-72" [innerHTML]="data[item.name] ? data[item.name]['repair' + item.sufix] : 0"></div>
            </div>
            <div class="other_groups d-flex">
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['customers' + item.sufix] : 0"></div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['shippers' + item.sufix] : 0"></div>
                <div class="group_item" [innerHTML]="data[item.name] ? data[item.name]['load' + item.sufix] : 0"></div>
                <div class="group_item long_width deduction">
                    <span class="real_value" [innerHTML]="data[item.name] ? (data[item.name]['revenue' + item.sufix] | currency) : 0"></span>
                    <span class="changed_value">-{{3678 | currency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>