<div
  class="container driver-details-container"
  *ngIf="!loading && driverTabDate && { driversLoading: driversLoading$ | async } as observables"
  [class]="{ 'driver-details-muted': !driver?.status }"
>
  <div class="row d-flex justify-content-between">
    <div class="column-1">
      <app-unit-switch
        [options]="options"
        [keywordPasted]="keyword"
        [type]="'drivers'"
      ></app-unit-switch>
      <div class="details-card card-info-holder mt-3">
        <div
          class="driver-details-container d-flex flex-row custom-padding"
          *ngIf="!showUploadZone"
        >
          <div class="avatar-container">
            <span class="profile-icon" aria-hidden="true">
              <div class="driver-avatar-container" *ngIf="!avatarError">
                <img
                  class="cursor-pointer driver-avatar"
                  [ngClass]="{ 'd-none': avatarError }"
                  [src]="additionalData.avatar?.src"
                  (error)="avatarError = true"
                />
              </div>
              <svg-icon
                *ngIf="avatarError"
                class="cursor-pointer"
                [src]="'assets/img/svgs/table/profile.svg'"
                [svgStyle]="{ 'width.px': '65', 'height.px': '77' }"
              ></svg-icon>

              <button
                class="avatar-edit-btn"
                aria-label="Edit Avatar"
                appTaTooltip="Edit Profile Picture"
                (click)="editAvatar()"
                position="bottom-right"
              >
                <svg-icon
                  class="cursor-pointer"
                  [src]="'assets/img/svgs/edit-avatar-icon.svg'"
                  [svgStyle]="{ 'width.px': '26', 'height.px': '26' }"
                ></svg-icon>
              </button>
            </span>
          </div>

          <div class="driver-data">
            <!--PHONE ROW-->
            <div class="d-flex mb-2">
              <div
                class="col-auto driver-data-icon p-0 text-center cursor-pointer"
                [ngClass]="{ 'icon-enabled': copiedPhone }"
                (click)="copy($event, 'phone')"
              >
                <svg-icon
                  class="phone-dark"
                  src="assets/img/svgs/table/phone-1.svg"
                  [svgStyle]="{ 'width.px': '18', 'height.px': '18' }"
                ></svg-icon>
              </div>
              <div class="col-8 p-0 text-left">
                <span
                  class="driver-phone cursor-pointer position-relative"
                  (click)="copy($event, 'phone')"
                >
                  <div
                    class="copy-text"
                    [ngClass]="{ 'copy-enabled': copiedPhone }"
                    (click)="copiedElement = ''"
                  >
                    COPIED
                  </div>
                  {{ additionalData.phone ? (additionalData.phone | mask: '(000) 000-0000') : '' }}
                </span>
              </div>
            </div>

            <!--EMAIL ROW-->
            <div class="d-flex mb-2">
              <div
                class="col-auto driver-data-icon p-0 text-center cursor-pointer"
                [ngClass]="{ 'icon-enabled': copiedEmail }"
                (click)="copy($event, 'email')"
              >
                <svg-icon
                  src="assets/img/svgs/table/email.svg"
                  [svgStyle]="{ 'width.px': '18', 'height.px': '14' }"
                ></svg-icon>
              </div>
              <div class="col-8 p-0 text-left">
                <span
                  class="f-gray-600 email-field cursor-pointer position-relative"
                  (click)="copy($event, 'email')"
                >
                  <div
                    class="copy-text"
                    [ngClass]="{ 'copy-enabled': copiedEmail }"
                    (click)="copiedElement = ''"
                  >
                    COPIED
                  </div>
                  {{
                    additionalData.email.length > 19
                      ? additionalData.email.substring(0, 19) + '...'
                      : additionalData.email
                  }}</span
                >
              </div>
              <div class="col-2 p-0 text-right"></div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="ssn-container d-flex">
                <div
                  class="col-auto driver-data-icon p-0 text-center cursor-pointer"
                  [ngClass]="{ 'icon-enabled': copiedSSN }"
                  (click)="copy($event, 'ssn')"
                >
                  <svg-icon
                    src="assets/img/svgs/SSN.svg"
                    [svgStyle]="{ 'width.px': '18.43', 'height.px': '6.59' }"
                  ></svg-icon>
                </div>
                <div class="col-auto p-0 text-left">
                  <span
                    class="f-gray-600 cursor-pointer position-relative"
                    (click)="copy($event, 'ssn')"
                  >
                    <div
                      class="copy-text"
                      [ngClass]="{ 'copy-enabled': copiedSSN }"
                      (click)="copiedElement = ''"
                    >
                      COPIED
                    </div>
                    {{ driver.ssn | mask: '000-00-0000' }}</span
                  >
                </div>
              </div>
              <div class="dob-container d-flex" *ngIf="additionalData.birthDateShort">
                <div class="col-auto driver-data-icon p-0 text-left">
                  <svg-icon
                    src="assets/img/svgs/DOB.svg"
                    [svgStyle]="{ 'width.px': '21.21', 'height.px': '6.59' }"
                  ></svg-icon>
                </div>
                <div class="col-auto p-0 text-left">
                  <span
                    class="f-gray-600 cursor-pointer position-relative"
                    (click)="copy($event, 'dob')"
                  >
                    <div
                      class="copy-text"
                      [ngClass]="{ 'copy-enabled': copiedDOB }"
                      (click)="copiedElement = ''"
                    >
                      COPIED
                    </div>
                    {{ additionalData.birthDateShort }}</span
                  >
                </div>
              </div>
            </div>

            <!--SSN ROW-->
            <!-- <div class="d-flex">
              <div
                class="col-auto driver-data-icon p-0 text-center cursor-pointer"
                [ngClass]="{ 'icon-enabled': copiedSSN }"
                (click)="copy($event, 'ssn')"
              >
                <svg-icon
                  src="assets/img/svgs/SSN.svg"
                  [svgStyle]="{ 'width.px': '20.48', 'height.px': '7.32' }"
                ></svg-icon>
              </div>
              <div class="col-6 p-0 text-left">
                <span
                  class="f-gray-600 cursor-pointer position-relative"
                  (click)="copy($event, 'ssn')"
                >
                  <div
                    class="copy-text"
                    [ngClass]="{ 'copy-enabled': copiedSSN }"
                    (click)="copiedElement = ''"
                  >
                    COPIED
                  </div>
                  {{ driver.ssn | mask: '000-00-0000' }}</span
                >
              </div>
              <div
                class="col-6 driver-data-icon p-0 text-left"
                *ngIf="
                  additionalData.birthDateShort !== null &&
                  additionalData.birthDateShort !== undefined
                "
              >
                <svg-icon
                  src="assets/img/svgs/DOB.svg"
                  [svgStyle]="{ 'width.px': '21.21', 'height.px': '6.6' }"
                ></svg-icon>
                <span
                  class="f-gray-600 cursor-pointer position-relative"
                  (click)="copy($event, 'dob')"
                >
                  <div
                    class="copy-text"
                    [ngClass]="{ 'copy-enabled': copiedDOB }"
                    (click)="copiedElement = ''"
                  >
                    COPIED
                  </div>
                  {{ additionalData.birthDateShort }}</span
                >
              </div>
            </div> -->
          </div>
          <div class="action-container">
            <app-truckassist-dropdown
              (actionEvent)="openAction($event)"
              [identificator]="driver.id"
              [mainActions]="dropdownOptions.mainActions"
              [otherActions]="dropdownOptions.otherActions"
              [deleteAction]="dropdownOptions.deleteAction"
              [category]="'driver'"
            ></app-truckassist-dropdown>
          </div>
        </div>

        <div class="edit-image-wrapper d-flex flex-row" *ngIf="showUploadZone">
          <app-edit-image
            (saveAvatar)="callSaveAvatar($event)"
            (cancel)="callCancel($event)"
          ></app-edit-image>
        </div>

        <div class="tools-group">
          <div class="details-card-header top-header p-0 d-flex justify-content-between">
            <div class="tool-panel d-flex justify-content-start align-items-left">
              <button
                [appTaTooltip]="driver.status ? 'Deactivate Selected' : 'Activate Selected'"
                position="bottom-right"
                class="switch-btn"
                [ngClass]="driver.status ? 'active-btn' : 'inactive-btn'"
                aria-hidden="true"
                [disabled]="statusLoading"
                (click)="changeStatus(driver.id)"
              >
                <svg-icon
                  [src]="'assets/img/svgs/table/activate.svg'"
                  [svgStyle]="{ 'width.px': '18', 'height.px': '18' }"
                ></svg-icon>
              </button>
              <button
                class="print-btn"
                (click)="printProfile()"
                [appTaTooltip]="'Print'"
                position="bottom-right"
              >
                <svg-icon
                  [src]="'assets/img/svgs/table/print.svg'"
                  [svgStyle]="{ 'width.px': '18', 'height.px': '17' }"
                ></svg-icon>
              </button>
              <button
                class="email-btn"
                (click)="printProfile()"
                [appTaTooltip]="'Email'"
                position="bottom-right"
              >
                <svg-icon
                  [src]="'assets/img/svgs/table/email.svg'"
                  [svgStyle]="{ 'width.px': '18', 'height.px': '14' }"
                ></svg-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="panel-group" id="accordion">
          <!--Address-->
          <div class="panel panel-default" *ngIf="additionalData.address?.address">
            <div
              class="panel-heading accordion-toggle d-flex align-items-center justify-content-between"
              data-toggle="collapse"
              data-parent="#accordion"
              data-target="#collapseOne"
              aria-expanded="true"
            >
              <span class="panel-title">
                Address
              </span>
              <span class="panel-arrow">
                <svg-icon
                  class="arrow-down-up"
                  [src]="'assets/img/svgs/down.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </span>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <div class="d-flex align-items-start">
                  <span class="card-value font-12 p-0">
                    <p class="d-block m-0" style="color: #919191;" appSelectionColor>
                      {{
                        formatAddress(
                          additionalData.address.address,
                          additionalData.address.addressUnit
                            ? additionalData.address.addressUnit
                            : '',
                          0
                        )
                      }}
                    </p>
                    <p class="d-block m-0" style="color: #919191;" appSelectionColor>
                      {{
                        formatAddress(
                          additionalData.address.address,
                          additionalData.address.addressUnit
                            ? additionalData.address.addressUnit
                            : '',
                          1
                        ) +
                          ', ' +
                          formatAddress(
                            additionalData.address.address,
                            additionalData.address.addressUnit
                              ? additionalData.address.addressUnit
                              : '',
                            2
                          )
                      }}
                    </p>
                    <!-- <p class="d-block m-0">
                      {{
                        formatAddress(
                          additionalData.address.address,
                          additionalData.address.addressUnit,
                          3
                        )
                      }}
                    </p> -->
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!--Employment History-->
          <div class="panel panel-default" *ngIf="driver.doc.workData?.length">
            <div
              class="panel-heading accordion-toggle collapsed d-flex align-items-center justify-content-between"
              data-toggle="collapse"
              data-parent="#accordion"
              data-target="#collapseTwo"
              aria-expanded="false"
            >
              <span class="panel-title">
                Employment History
              </span>
              <span class="panel-arrow">
                <svg-icon
                  class="arrow-down-up"
                  [src]="'assets/img/svgs/down.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </span>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body pr-0">
                <div class="d-flex flex-column">
                  <!-- Activity History -->
                  <app-truckassist-history-data
                    [status]="driver.status"
                    [data]="activityHistory"
                    (actionEvent)="saveHistoryData($event)"
                    (removeEvent)="removeHistoryData($event)"
                  ></app-truckassist-history-data>
                </div>
              </div>
            </div>
          </div>

          <div
            class="panel panel-default"
            *ngIf="driver.doc.additionalData && driver.doc.additionalData.bankData?.id"
          >
            <div
              class="panel-heading accordion-toggle collapsed d-flex align-items-center justify-content-between"
              data-toggle="collapse"
              data-parent="#accordion"
              data-target="#collapseThree"
            >
              <span class="panel-title">
                Bank Info
              </span>
              <span class="panel-arrow">
                <svg-icon
                  class="arrow-down-up"
                  [src]="'assets/img/svgs/down.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </span>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="flex-row justify-content-between">
                  <div class="my-flex-item">
                    <span class="card-label font-12">
                      <div
                        class="d-flex justify-content-between bank-info{{
                          additionalData.bankData !== null &&
                          additionalData.bankData.bankLogo !== null
                            ? ' mb-2'
                            : ''
                        }}"
                      >
                        <div class="bank-img d-flex {{ driver.status ? '' : ' deactivated' }}">
                          <svg-icon
                            *ngIf="
                              additionalData.bankData !== null &&
                              additionalData.bankData.bankLogo !== null
                            "
                            [src]="
                              'assets/img/svgs/bank-logos/' +
                              additionalData.bankData.bankLogoWide +
                              '.svg'
                            "
                          ></svg-icon>
                          <div
                            class="random-bank-container"
                            *ngIf="
                              additionalData.bankData !== null &&
                              additionalData.bankData.bankLogo == null
                            "
                          >
                            <div class="col-12 p-0">
                              <svg-icon
                                [src]="'assets/img/svgs/no-bank.svg'"
                                [svgStyle]="{ 'width.px': '28', 'height.px': '28' }"
                              ></svg-icon>
                            </div>
                            <div class="col-12 p-0">
                              <span class="gray-label fs-16 f-gray-600 bank-info-title">{{
                                additionalData.bankData.bankName
                              }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between bank-info">
                        <div class="bank-info-holder d-flex">
                          <div class="d-flex align-items-center">
                            <span
                              *ngIf="additionalData.bankData?.accountNumber"
                              class="gray-label fs-16 f-gray-600 bank-info-title"
                              >Account</span
                            >
                            <span
                              *ngIf="additionalData.bankData?.accountNumber"
                              class="account-number"
                              style="color: #919191;"
                              appSelectionColor
                            >
                              {{ additionalData.bankData.accountNumber }}</span
                            >
                          </div>
                          <div class="d-flex align-items-center">
                            <span
                              *ngIf="additionalData.bankData?.routingNumber"
                              class="gray-label fs-16 f-gray-600 bank-info-title"
                              >Routing</span
                            >
                            <span
                              *ngIf="additionalData.bankData?.routingNumber"
                              class="account-number"
                              style="color: #919191;"
                              appSelectionColor
                            >
                              {{ additionalData.bankData.routingNumber }}</span
                            >
                          </div>
                        </div>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Note-->
          <div
            class="panel panel-default"
            *ngIf="driver.doc.additionalData && driver.doc.additionalData.note"
          >
            <div
              class="panel-heading accordion-toggle collapsed d-flex align-items-center justify-content-between"
              data-toggle="collapse"
              data-parent="#accordion"
              data-target="#collapseFour"
              aria-expanded="false"
            >
              <span class="panel-title">
                Note
              </span>
              <span class="panel-arrow">
                <svg-icon
                  class="arrow-down-up"
                  [src]="'assets/img/svgs/down.svg'"
                  [svgStyle]="{ 'width.px': '12', 'height.px': '12' }"
                ></svg-icon>
              </span>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <div
                  class="example-full-width note-input{{
                    showNote ? ' note-visible' : ' note-hidden'
                  }}"
                >
                  <textarea
                    style="color: #919191;"
                    appSelectionColor
                    #note
                    cdkTextareaAutosize
                    (blur)="updateDriverNote($event.target.value)"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="5"
                    [formControl]="noteControl"
                    class="input-custom-textarea form-textarea"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CDL Column-->
    <div class="column-2">
      <div class="d-flex justify-content-between">
        <div
          class="details-card-header long-header d-flex justify-content-start align-items-center"
          [ngClass]="{ 'full-header': !driver?.status }"
        >
          <span
            class="header-title d-flex justify-content-around align-items-center"
            style="color: #919191;"
            appSelectionColor
            >CDL</span
          >
        </div>
        <button
          class="plus-svg-container"
          (click)="addNewLicence()"
          appTaTooltip="Add CDL"
          position="bottom-right"
          *ngIf="driver?.status"
        >
          <svg-icon src="assets/img/svgs/table/add.svg"></svg-icon>
        </button>
      </div>
      <app-driver-license-card [driver]="driver"></app-driver-license-card>
    </div>

    <!--Drug and Alcohol Column-->
    <div class="column-3">
      <div class="d-flex justify-content-between">
        <div
          class="details-card-header short-header d-flex justify-content-start align-items-center"
          [ngClass]="{ 'full-header': !driver?.status }"
        >
          <span
            class="header-title d-flex justify-content-around align-items-center"
            style="color: #919191;"
            appSelectionColor
            >Drug and Alcohol</span
          >
        </div>
        <button
          class="plus-svg-container"
          (click)="addNewDrug()"
          appTaTooltip="Add Test"
          position="bottom-right"
          *ngIf="driver?.status"
        >
          <svg-icon src="assets/img/svgs/table/add.svg"></svg-icon>
        </button>
      </div>
      <app-driver-drug-card [driver]="driver"></app-driver-drug-card>
    </div>

    <!--Medical Data Column-->
    <div class="column-4">
      <div class="d-flex justify-content-between">
        <div
          class="details-card-header short-header d-flex justify-content-start align-items-center"
          [ngClass]="{ 'full-header': !driver?.status }"
        >
          <span
            class="header-title d-flex justify-content-around align-items-center"
            style="color: #919191;"
            appSelectionColor
            >Medical</span
          >
        </div>
        <button
          class="plus-svg-container"
          (click)="addNewMedical()"
          appTaTooltip="Add Medical"
          position="bottom-right"
          *ngIf="driver?.status"
        >
          <svg-icon src="assets/img/svgs/table/add.svg"></svg-icon>
        </button>
      </div>
      <app-driver-medical-card [driver]="driver"></app-driver-medical-card>
    </div>
    <!--MVR Data Column-->
    <div class="column-5">
      <div class="d-flex justify-content-between">
        <div
          class="details-card-header short-header d-flex justify-content-start align-items-center"
          [ngClass]="{ 'full-header': !driver?.status }"
        >
          <span
            class="header-title d-flex justify-content-around align-items-center"
            style="color: #919191;"
            appSelectionColor
            >MVR</span
          >
        </div>
        <button
          class="plus-svg-container"
          (click)="addNewewMvr()"
          appTaTooltip="Add MVR"
          position="bottom-right"
          *ngIf="driver?.status"
        >
          <svg-icon src="assets/img/svgs/table/add.svg"></svg-icon>
        </button>
      </div>
      <app-driver-mvr-card [driver]="driver"></app-driver-mvr-card>
    </div>
  </div>
</div>
