@import '../../applicant.component.scss';

.reviewer-slideShow {
  position: relative;
  &__firstrow {
    position: absolute;
    bottom: 174px;
    left: 664px;
  }
}

.pad {
  margin-top: -20px !important;
  position: relative;

  @media only screen and (max-width: 414px) {
    margin-left: 21px !important;
  }
  @media only screen and (max-width: 376px) {
    margin-left: 2px !important;
  }
  @media only screen and (max-width: 361px) {
    margin-left: 2px !important;
  }
  &_signature {
    margin-top: 9px !important;
  }
}

.empty-box {
  content: ''; 
  margin: 34px 0px;
}

.checkText {
  margin-bottom: 18px;
}

.positionText {
  position: relative;
  top: 2px;
}

// Screen mobile
@media only screen and (max-width: 414px) {
  .btn_mobile {
    margin-left: -296px;
  }
  .btns {
    margin-left: 0px !important;
    &_back {
      margin-left: 0px !important;
    }
  }
}

@media only screen and (max-width: 376px) {
  .btn_mobile {
    margin-left: -317px;
  }
}
@media only screen and (max-width: 361px) {
  .btn_mobile {
    margin-left: -342px;
  }
}
