<form [formGroup]="driverRight" (ngSubmit)="onSubmit()" class="my-2">
  <div class="slideShow">
    <h1>
      Driver rights
    </h1>
    <p class="firstParagraf">
      As a driver you are provided with certain rights under the Federal Motor Carrier Safety
      Regulation in Part 391.23. These rights are:
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(I)(1)</p>
    <p class="secondParagraf">
      <span style="font-weight: bold;"> (I)</span> The right to review information provided by
      previous employers <br />
      <br />
      <span style="font-weight: bold;">(II) </span> The right to have errors in the information
      corrected by the previous employer and for that previous employer to re-send the corrected
      information to the prospective employer
      <br />
      <br />
      <span style="font-weight: bold;">(III) </span> The right to have a rebuttal statement attached
      to the alleged erroneous information, if the previous employer and the driver cannot agree on
      the accuracy of the information. <br />
      <br />
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(I)(2)</p>
    <p class="secondParagraf">
      Drivers who have previous Department of Transportation regulated employment history in the
      preceding three years, and wish to review previous employer-provided investigative information
      must submit a written request to the prospective employer, which may be done at any time,
      including when applying, or as late 30 days after being employed or being notified of denial
      of employment. The prospective employer must provide this information to the applicant within
      five (5) business days of receiving the written request. If the prospective employer has not
      yet received the requested information from previous employer(s), then the five-business day’s
      deadline will begin when the prospective employer receives the requested safety performance
      history information. If the driver has not arranged to pick up or receive the request record
      within thirty (30) days of the prospective employer making them available, the prospective
      motor carrier may consider the driver to have waived his/her request to review the record.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(1)</p>
    <p class="secondParagraf">
      Drivers wishing to request correction of erroneous information in record received pursuant to
      paragraph (I) of this section must send the request for the correction to the previous
      employer that provide the records to the prospective employer.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(2)</p>
    <p class="secondParagraf">
      After October 29, 2004 the previous employer must correct and forward the information to the
      prospective motor carrier employer, on notify the driver within 15 days of receiving a
      driver’s request to correct the data that it does not agree to correct the data. If the
      previous employer corrects and forwards the data as requested, that employer must also retain
      the corrected information. <br /><br />
      As part of the driver’s safety performance history record and provide it to subsequent
      prospective employers when requests for this information are received. If the previous
      employer corrects the data and forwards it to the prospective motor carrier employer, there is
      no need to notify the driver.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(3)</p>
    <p class="secondParagraf">
      Drivers wishing to rebut information in records pursuant to paragraph (I) of this section must
      send rebuttal to the previous employer with instructions to include the rebuttal in that
      driver’s safety performance history.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(4)</p>
    <p class="secondParagraf">
      After October 29, 2004, within five business days of receiving a rebuttal from a driver, the
      previous employer must: <br /><br />
      <span class="font-weight: bold">(I)</span> Forward a copy of the rebuttal to the prospective
      motor carrier employer <br /><br />
      <span class="font-weight: bold">(II)</span> Append the rebuttal to the driver’s information in
      the carrier’s appropriate file, to be included as part of the response for any subsequent
      investigating prospective employers for the duration of the three-year data retention
      requirement. <br /><br />
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(5)</p>
    <p class="secondParagraf">
      The driver may submit a rebuttal initially without a request for correction, or subsequent to
      request for correction.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(j)(6)</p>
    <p class="secondParagraf">
      The driver may report failures of previous employers to correct information or include the
      driver’s rebuttal as part of the safety performance information, to the FMCSA following
      procedures specified at Sec. 386.12.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(k)(1)</p>
    <p class="secondParagraf">
      The prospective motor carrier employer must use the information described in paragraphs (d)
      and (e) of this section only as part of deciding whether to hire the driver.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(k)(2)</p>
    <p class="secondParagraf">
      The prospective motor carrier employer, its agents and insurers must take all precautions
      reasonably necessary to protect the record from disclosure to any person not directly involved
      in deciding whether to hire the driver. The prospective motor carrier employer may not provide
      any alcohol or controlled substances information to the prospective motor carrier employer’s
      insurer.
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(I)(1)</p>
    <p class="secondParagraf">
      No action or proceeding for defamation, invasion of privacy, or interference with a contract
      that is based on the furnishing or use information in accordance with this section may be
      brought against
      <br /><br />

      <span style="font-weight: bold;">(I)</span> A motor carrier investigation the information,
      described in paragraphs (d) and (e) of this section, of an individual under consideration for
      employment as a commercial motor vehicle driver <br /><br />

      <span style="font-weight: bold;">(II)</span> A person who has provide such information or
      <br /><br />
      <span style="font-weight: bold;">(III)</span>The agents or insurers of a person described in
      paragraph (1) (1) (I) or (ii) of this section, except insurers are not granted a limitation on
      liability for any alcohol and controlled substance information. <br /><br />
    </p>
    <p class="firstParagraf" style="font-weight: bold;">391.23(I)(2)</p>
    <p class="secondParagraf" style="margin-bottom: 10px;">
      The protections in paragraph (1) (1) of this section do not apply to person who knowingly
      furnish false information, or who are not in compliance with the procedures specified for
      these investigations.
    </p>
    <span [ngClass]="{ 'disable-review-fields': isCompanyReview }">
      <app-truckassist-checkbox
        id="isCheckdriverRights"
        formControlName="isCheckdriverRights"
        [checked]="isCheckdriverRight"
        (change)="(isCheckdriverRight != isCheckdriverRight)"
      >
      </app-truckassist-checkbox>
    </span>
    <span class="checkBox" style="font-size: 12px !important;">
      I read and understand the above-mentioned rights</span
    >
  </div>
  <div class="btn_mobile">
    <button type="button" class="btns btns_back mx-2" (click)="stepBack()">
      Back
    </button>
    <button *ngIf="!isCompanyReview" type="submit" class="btns btns_next mx-2">Next</button>
    <button *ngIf="isCompanyReview" type="submit" class="btns btns_next mx-2 btns_reviewConfirm">
      <svg-icon src="../../../../assets/img/applicants/review_check_true.svg"></svg-icon>
      <span class="btns_reviewConfirm-text">Confirm All</span>
    </button>
  </div>
  <div class="reviewConfirmAll" *ngIf="isCompanyReview">
    <app-reviewConfirmAll (allCorrectly)="isAllCorrectly($event)"></app-reviewConfirmAll>
  </div>
</form>
