<h2>GPS Last Positions SignalR</h2>
<table class="table table-hover mb-0 signalr_table">
  <thead>
    <tr class="text-nowrap no-hover">
      <th>Event Date Time</th>
      <th>Device</th>
      <th>Truck</th>
      <th>Driver</th>
      <th>Trailer</th>
      <th>Latitude</th>
      <th>Longitude</th>      
      <th>Altitude</th>
      <th>Speed</th>
      <th>Course</th>
      <th>Motion</th>
    </tr>
  </thead>
  <!--<tbody (load)="gpsLoad($event)"> -->     
  <tbody>
    <tr *ngFor="let item of signalRService.gps" class="cursor-pointer">  
      <td>{{ item.eventDateTime }}</td>
      <td>{{ item.uniqueId }}</td>
      <td>{{ item.truckNumber }}</td>
      <td>{{ item.driverFullName }}</td>
      <td>{{ item.trailerNumber }}</td>
      <td>{{ item.latitude }}</td>
      <td>{{ item.longitude }}</td>
      <td>{{ item.altitude }}</td>
      <td>{{ item.speed }}</td>
      <td>{{ item.course }}</td>
      <td>{{ item.motion }}</td>
    </tr>
  </tbody>
</table>