<div class="applicant-content">
  <header class="header">
    <span class="header_text">Date of application: {{ appDate }}</span>
  </header>

  <div class="company py-2">
    <div class="company_up">
      <span class="company_name">{{ company[0].name }} </span>
      <span class="company_usdot"> USDOT # {{ company[0].usdot }} </span>
      <span class="company_contact">
        <span class="company_contact_svg">
          <svg-icon src="../../../assets/img/applicants/phone.svg"></svg-icon>
        </span>
        {{ company[0].phoneContact }}
      </span>
    </div>
    <div class="company_down">
      <span class="company_location">
        <span class="company_location_icon">
          <svg-icon src="../../../assets/img/applicants/location.svg"></svg-icon>
        </span>
        {{ company[0].location.street }},
      </span>
      <span class="company_city"> {{ company[0].location.city }}</span>
      <span class="company_postalCode">, {{ company[0].location.postalCode }}, </span>
      <span class="company_country">{{ company[0].location.country }}</span>
    </div>
  </div>

  <!------------------------------------------- Navigation bar Mobile--------------------------------------------------------------------->
  <div class="navmobile" id="navmobile">
    <a
      (click)="openNavbar = false"
      style="position: relative;"
      class="navmobile_link navmobile_header"
      [attr.disabled]="applicantDone !== 'yes'"
      [routerLink]="['application']"
      routerLinkActive="navmobile_header"
      [routerLinkActiveOptions]="{ exact: true }"
      >Application</a
    >
    <button
      (click)="wrapNavbar()"
      class="menu"
      [ngClass]="openNavbar == false ? '' : 'opened'"
      aria-label="Main Menu"
    >
      <svg width="50" height="30" viewBox="0 0 100 100">
        <path
          class="line line1"
          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
        />
        <path class="line line2" d="M 20,50 H 80" />
        <path
          class="line line3"
          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
        />
      </svg>
    </button>

    <div *ngIf="openNavbar" class="navmobile_content">
      <a
        (click)="openNavbar = false"
        aria-expanded="false"
        class="navmobile_link"
        [routerLink]="['medical-certificate']"
        routerLinkActive="link_active"
        >Medical Cert.</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link"
        [routerLink]="['mvr-authorization']"
        routerLinkActive="link_active"
        >MVR Auth.</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link"
        [routerLink]="['psp-authorization']"
        routerLinkActive="link_active"
        >PSP Auth.</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link"
        [routerLink]="['sph']"
        routerLinkActive="link_active"
        >SPH</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link"
        [routerLink]="['hos-rules']"
        routerLinkActive="link_active"
        >HOS Rules</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link"
        [routerLink]="['ssn-card']"
        routerLinkActive="link_active"
        >SSN Card</a
      >
      <a
        (click)="openNavbar = false"
        class="navmobile_link navmobile_link-last"
        [routerLink]="['cdl-card']"
        routerLinkActive="link_active"
        >CDL Card</a
      >
    </div>
  </div>

  <!------------------------------------------- Navigation bar Desktop--------------------------------------------------------------------->
  <nav>
    <ul>
      <li>
        <a
          [attr.disabled]="applicantDone !== 'yes'"
          [ngClass]="
            applicantDone !== 'yes'
              ? isActive('application')
                ? 'nav_active'
                : 'nav_inactive'
              : isActive('application')
              ? 'nav_complete'
              : 'nav_completed'
          "
          [routerLink]="['application']"
          routerLinkActive="nav_active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Application</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isMedicalReviewer !== null
              ? isMedicalReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : medicalDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['medical-certificate']"
          routerLinkActive="nav_active"
          >Medical Cert.</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isMVRReviewer !== null
              ? isMVRReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : mvrDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          class="nav_inactive"
          [routerLink]="['mvr-authorization']"
          routerLinkActive="nav_active"
          >MVR Auth.</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isPSPReviewer !== null
              ? isPSPReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : pspDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['psp-authorization']"
          routerLinkActive="nav_active"
          >PSP Auth.</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isSPHReviewer !== null
              ? isSPHReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : sphDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['sph']"
          routerLinkActive="nav_active"
          >SPH</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isHOSReviewer !== null
              ? isHOSReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : hosDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['hos-rules']"
          routerLinkActive="nav_active"
          >HOS Rules</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isSSNReviewer !== null
              ? isSSNReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : ssnDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['ssn-card']"
          routerLinkActive="nav_active"
          >SSN Card</a
        >
      </li>
      <li>
        <a
          [ngClass]="
            isCDLReviewer !== null
              ? isCDLReviewer === true
                ? 'correct_review'
                : 'denided_review'
              : cdlDone !== 'yes'
              ? 'nav_inactive'
              : 'nav_completed'
          "
          [routerLink]="['cdl-card']"
          routerLinkActive="nav_active"
          >CDL Card</a
        >
      </li>
    </ul>
  </nav>

  <div id="applicants-wrapper" class="routeContainerNavbar" [@navAnimation]="getDepth(myOutlet)">
    <router-outlet #myOutlet="outlet"></router-outlet>
  </div>
</div>

<div class="footer">
  Copyright &#169; TruckAssist 2021.
</div>
