<div class="container-fluid thanks-container m-0 p-0">
  <div class="container d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <svg-icon src="../../../../../assets/img/svgs/thank-you.svg" ></svg-icon>
      <div class="thank-you-text d-flex flex-column justify-content-center">
        <p>Thank you for choosing us!</p>
        <p>Confirmation email has been sent to:</p>
        <p><b>{{email}}</b></p>
        <p>Click on the button in the email to activate your account</p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © TruckAssist 2021.</p>
  </div>
</div>


