<div #fullcalendar id='custom-calendar'></div>
<div class="dashboard_history_holder ml-0">
    <div class="dashboar_hist_header weather_holder load_holder_dash">
        <div class="dashb_white_part">
            <span
                style="color: #919191b3;"
                appSelectionColor    
            >Calendar</span>
        </div>
        <div class="dashboard_calendar_buttons">
            <div 
                class="dashboard_cal_button"
                (click)="handleCalendarArrowsClick('prev')">
                <svg-icon src="../../assets/img/svgs/left.svg"></svg-icon>
            </div>
            <div class="dashboard_cal_picker">
                <div class="datePickerButtonText">{{calendarTitle}}</div>
                <kendo-floatinglabel text="" class="calendarDatePicker">
                <!-- (valueChange)="goToDate()" -->
                <kendo-datepicker
                    [popupSettings]="{ popupClass: 'custom-datepick' }"
                    [format]="format"
                    [formatPlaceholder]="{
                    year: 'yy',
                    month: 'mm',
                    day: 'dd'
                    }"
                    [(ngModel)]="selectedDate"
                    (valueChange)="goToDate()"
                >
                </kendo-datepicker>
                </kendo-floatinglabel>
            </div>
            <div 
                class="dashboard_cal_button"
                (click)="handleCalendarArrowsClick('next')">
                <svg-icon src="../../assets/img/svgs/right.svg"></svg-icon>
            </div>
        </div>
        <div 
            style="color: #B7B7B7;"
            appSelectionColor 
            class="todayBtn" 
            (click)="goToTodayDate()"
        >Today</div>
    </div>
    <div class="dashboard_calendar">
       <div class="custom_calendar_top d-flex">
            <div class="calendar_day_head">Sun</div>
            <div class="calendar_day_head">Mon</div>
            <div class="calendar_day_head">Tue</div>
            <div class="calendar_day_head">Wed</div>
            <div class="calendar_day_head">Thu</div>
            <div class="calendar_day_head">Fri</div>
            <div class="calendar_day_head">Sat</div>
       </div>
       <div class="cusom_calendar_days">
           <div 
                appSelectionColor
                class="calendar_day"
                [class.six_sizes]="(monthDays.length / 7) == 5"
                *ngFor="let day of monthDays; let ind = index"
                (mouseleave)="toggleShowMoreEvents(ind, false)"
                [ngClass]="day.additionalClass && day.additionalClass.join(' ')"
            >
                {{day.day}}
                <div *ngIf="day.events.length > 0" class="custom_calendar_dropdown">
                    <div class="custom_event_show" *ngFor="let evnt of (day.showedMore ? day.events : day.events.slice(0 ,3))">
                        <div *ngIf="!evnt.def.allDay" class="all-day-event d-flex">
                            <div class="all_day_bubble"></div>
                            <div class="all_day_info" >{{evnt.def.recurringDef?.typeData.rruleSet._dtstart | date : 'h:maaaaa'}} {{evnt.def.title}}</div>
                        </div>
                        <div *ngIf="evnt.def.allDay" class="all-day-event d-flex">
                            <div class="repeat_event">{{evnt.def.title}}</div>
                        </div>
                    </div>
                    <div *ngIf="day.events.slice(3).length > 0 && !day.showedMore" (click)="toggleShowMoreEvents(ind, true)" class="additional_more">{{day.events.slice(3).length}} more</div>
                </div>
            </div>
       </div>
    </div>
</div>