<div class="modal-container" cdkDrag>
  <div class="modal-body">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <svg-icon
        src="assets/img/svgs/successSubscribe.svg"
        [svgStyle]="{ 'width.px': 95.26, 'height.px': 96.9 }"
      ></svg-icon>
      <p class="subscribed">Thank you for subscribing</p>
      <p class="subscribed-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore</p>
    </div>
  </div>
  <div class="modal-footer footer-payment">
    <button (click)="backToHome()">Back to home</button>
  </div>
</div>
