<div class="row fixed_margin">
    <div class="col-4 d-flex no-padd">
      <div class="accounting_header">
      <div class="table_head d-flex">
        <span>1689</span>
        <div>Payroll</div>
      </div>
      <div class="table_head d-flex active">
          <span>14</span>
          <div>Open</div>
      </div>
      <div class="table_head d-flex">
          <span>1682</span>
          <div>Closed</div>
      </div>
      <div class="table_head d-flex flexFirst">
    </div>
  </div>
</div>
</div>
<div class="row fixed_margin">
    <div class="col-4 d-flex no-padd">
        <div class="flexOne">
          <div class="card transparent-col">
            <div class="card-body px-3 no-padd">
              <app-accounting-list 
                [listTitle]="'Drivers'" 
                [userList]="driversList" 
                (selectFromList)="selectFromList($event)">
              </app-accounting-list>
            </div>
          </div>
          <div class="card transparent-col">
            <div class="card-body px-3 no-padd">
              <app-accounting-list [listTitle]="'Owners'"></app-accounting-list>
            </div>
          </div>  
        </div>
      </div>
    <div class="col-8 margin_min">
        <app-accounting-details *ngIf="selectedUser" [selectedUser]="selectedUser"></app-accounting-details>
    </div>
</div>
