<div class="container acounting_table">
    <div class="row accounting_list_row">
        <!-- Toolbar -->
        <div class="container toolbar-container dispatcher-search-wrap p-0">
            <div class="expand_row header_hold" [class.active]="listExpanded">
                <div class="custom_search">
                  <app-custom-search [stateName]="'state_' + listTitle" [gridNameTitle]="listTitle"></app-custom-search> 
                </div>  
                <div class="columnName" (click)="listExpanded = !listExpanded">{{listTitle}}</div>
            </div>
          </div>
          <div class="accounting-table" *ngIf="listExpanded" @pickupAnimation>
            <table width="100%">
                <thead>
                  <tr>
                    <th width="35%">Name</th>
                    <th width="35%">Pay Period</th>
                    <th width="17%" class="text-right">Pay</th>
                    <th class="text-center" width="13%">Status</th>
                </tr>
                </thead>
                <tbody>
                    <tr 
                        *ngFor="let row of accountListTemp; let i = index"
                        (click)="selectFromLists(row, i)"
                        [class.active]="selectedUserIndex == row.id"
                        >
                        <td width="35%">
                            <div class="name_column">
                                <span class="profile-icon">
                                <svg-icon
                                    class="cursor-pointer"
                                    [src]="'assets/img/svgs/table/profile.svg'"
                                    [svgStyle]="{ 'width.px': '20', 'height.px': '24', 'borderRadius.px': '2' }"
                                ></svg-icon>
                                </span>
                                <span class="userName">{{ row.firstName }} {{ row.lastName }}</span>
                            </div>
                        </td>
                        <td width="35%">
                            <div class="pay_column">{{ row.pay_time }}</div>
                        </td>
                        <td width="17%">
                            <div  class="salary_column">{{ row.pay_value | currency }}</div>
                        </td>
                        <td class="text-center" width="13%">
                            <div class="status_column" [class.pending_r]="row.p_status == 'R'">{{ row.p_status }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="bottom_pagination">
                <div class="pag_btns">
                    <span>{{accountListTemp.length}} of {{accountList.length}} Showing</span>
                </div>
                <div class="pagination_buttons"> 
                    <div class="pag_show_all" *ngIf="(showListCount*showListNumber) < accountList.length" (click)="showMoreItems()">Show More</div>
                    <div class="pag_show_all" *ngIf="(showListCount*showListNumber) < accountList.length" (click)="showAllItems()">Show All</div>
                </div>
            </div>
          </div>
      </div>
</div>