<ng-select
  #multiSelect
  [items]="items"
  bindLabel="{{ label1 + label2 }}"
  bindValue="id"
  class="ta-select-wrapper"
  placeholder="{{ placeholder }}"
  [clearable]="false"
  (change)="change($event, multiSelect)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  [(ngModel)]="selectValue.id"
  [hideSelected]="true"
  [searchFn]="customSearchFn"
>
  <ng-template  ng-label-tmp let-item="item">
    <div class="dropdown-item-wrapper">
      <span class="dropdown-avatar" *ngIf="item['id'] != 0 && item['id'] != -1" [ngStyle]="item.dispatcherAvatar && { 'background-image': 'url(' + item.dispatcherAvatar + ')' }"></span>
      <span class="ta-dropdown-item"> {{ item[label1] + ' ' + item[label2] }} </span>
    </div>
  </ng-template>
  <ng-template  ng-option-tmp let-item="item" let-search="searchTerm">
    <div class="dropdown-item-wrapper ta-list-items">
      <span class="dropdown-avatar" *ngIf="item['id'] != 0 && item['id'] != -1"  [ngStyle]="item.dispatcherAvatar && { 'background-image': 'url(' + item.dispatcherAvatar + ')' }"></span>
      <span [ngClass]="{'ta-dropdown-item': true, 'select_other_disp': item['id'] == 0 || item['id'] == -1, 'select_disp_all': item['id'] == 0}" class="ta-dropdown-item" [ngOptionHighlight]="search">{{ item[label1] + ' ' + item[label2] }}</span>
    </div>
  </ng-template>
</ng-select>
