/*
 CSS for the main interaction
*/
.multiswitch input {
  position: absolute;
  left: -200vw;
}

.multiswitch:hover .slide-container a {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
}

.multiswitch .slide-container {
  position: relative;
  display: flex;
  max-width: 100%;
  height: 26px;
  align-items: center;
  justify-content: center;
  /* don't allow highlighting the text inside the toggle */
  user-select: none;
}

.multiswitch .slide-container label {
  /* Even though we're using "flex" to display, we have to assign widths so that we know exactly where to position the slide */
  width: 50%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  margin-bottom: 0;
  font-size: 12px;
}

.multiswitch .slide-container a {
  position: absolute;
  left: 50%;
  z-index: 1;
  height: 100%;
  width: 50%;
  transition: left 0.25s ease-out;
}

/*
  Auto adjusting widths
*/
.multiswitch label:nth-last-child(6),
.multiswitch label:nth-last-child(6) ~ label,
.multiswitch label:nth-last-child(6) ~ a {
  width: 33.3334% !important;
}

.multiswitch label:nth-last-child(8),
.multiswitch label:nth-last-child(8) ~ label,
.multiswitch label:nth-last-child(8) ~ a {
  width: 25% !important;
}

.multiswitch label:nth-last-child(10),
.multiswitch label:nth-last-child(10) ~ label,
.multiswitch label:nth-last-child(10) ~ a {
  width: 20% !important;
}

.multiswitch label:nth-last-child(12),
.multiswitch label:nth-last-child(12) ~ label,
.multiswitch label:nth-last-child(12) ~ a {
  width: 16.6667% !important;
}

/*
 Slider
*/

/* all options, first selected */
.multiswitch input:checked ~ a {
  left: 0;
  height: 100%;
  border: 1px solid #dadada;
}
/* 2 options, 2nd selected */
.multiswitch label:nth-last-child(4) ~ input:nth-child(3):checked ~ a {
  left: calc(50%);
}
/* 3 options, 2nd selected */
.multiswitch label:nth-last-child(6) ~ input:nth-child(3):checked ~ a {
  left: calc(33.3334%);
}
/* 3 options, 3rd selected */
.multiswitch label:nth-last-child(6) ~ input:nth-child(5):checked ~ a {
  left: calc(66.6667%);
}
/* 4 options, 2nd selected */
.multiswitch label:nth-last-child(8) ~ input:nth-child(3):checked ~ a {
  left: calc(25%);
}
/* 4 options, 3rd selected */
.multiswitch label:nth-last-child(8) ~ input:nth-child(5):checked ~ a {
  left: calc(50%);
}
/* 4 options, 4th selected */
.multiswitch label:nth-last-child(8) ~ input:nth-child(7):checked ~ a {
  left: calc(75%);
}
/* 5 options, 2nd selected */
.multiswitch label:nth-last-child(10) ~ input:nth-child(3):checked ~ a {
  left: calc(20%);
}
/* 5 options, 3rd selected */
.multiswitch label:nth-last-child(10) ~ input:nth-child(5):checked ~ a {
  left: calc(40%);
}
/* 5 options, 4th selected */
.multiswitch label:nth-last-child(10) ~ input:nth-child(7):checked ~ a {
  left: calc(60%);
}
/* 5 options, 5th selected */
.multiswitch label:nth-last-child(10) ~ input:nth-child(9):checked ~ a {
  left: calc(80%);
}
/* 6 options, 2nd selected */
.multiswitch label:nth-last-child(12) ~ input:nth-child(3):checked ~ a {
  left: calc(16.6667%);
}
/* 6 options, 3rd selected */
.multiswitch label:nth-last-child(12) ~ input:nth-child(5):checked ~ a {
  left: calc(33.3334%);
}
/* 6 options, 4th selected */
.multiswitch label:nth-last-child(12) ~ input:nth-child(7):checked ~ a {
  left: calc(50%);
}
/* 6 options, 5th selected */
.multiswitch label:nth-last-child(12) ~ input:nth-child(9):checked ~ a {
  left: calc(66.6667%);
}
/* 6 options, 6th selected */
.multiswitch label:nth-last-child(12) ~ input:nth-child(11):checked ~ a {
  left: calc(83.3334%);
}

/*
  Slider shadows
*/
/* middle spots */

/*
 RH Brand Styling
*/
body {
  font: 16px/1.5em 'Overpass', 'Open Sans', Helvetica, sans-serif;
  color: #333;
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset legend {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
.checked-label.ta-radio-button {
  color: #919191;
  font-weight: bold !important;
}
.multiswitch .slide-container {
  background: #dadada;
  color: #ffffff;
  border-radius: 3px;
  opacity: 1;
  font-weight: bold !important;
  transition: 0.25s;
  &:hover {
    opacity: 1;
    transition: 0.25s;
  }
  label {
    font-weight: 600;
  }
}

.multiswitch .slide-container label {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  &:focus {
    outline: none !important;
  }
}

.multiswitch .slide-container a {
  background: #fff;
  color: #28529f;
  padding: 0;
  border-radius: 3px;
  border: none;
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}

/* Stoplight theme */
.multiswitch[data-theme='stoplight'] .slide-container > a {
  background: #c00;
  border-color: #8a0000;
}

.multiswitch[data-theme='stoplight'] input:not(:first-child):checked ~ a {
  background: #ec7a08;
  border-color: #bc6106;
}

.multiswitch[data-theme='stoplight'] label:nth-last-child(4) ~ input:nth-child(3):checked ~ a,
.multiswitch[data-theme='stoplight'] label:nth-last-child(6) ~ input:nth-child(5):checked ~ a,
.multiswitch[data-theme='stoplight'] label:nth-last-child(8) ~ input:nth-child(7):checked ~ a,
.multiswitch[data-theme='stoplight'] label:nth-last-child(10) ~ input:nth-child(9):checked ~ a,
.multiswitch[data-theme='stoplight'] label:nth-last-child(12) ~ input:nth-child(11):checked ~ a {
  background: #3f9c35;
  border-color: #307628;
}

/*
 Horizontal layout
*/
.switch {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

/*
 Because a11y
*/
.multiswitch input:focus ~ a {
  outline: 2px solid #0088ce;
}

/*
.multiswitch.ta-switch-wrapper {
  .ta-radio-button {
    width: 150px !important;
  }
}
*/
a:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15) !important;
}
app-ta-tab-switch {
  margin-bottom: 0.5rem;
}

.gps-style {
  height: 32px !important;
}

.side-bar-style {
  border-radius: 0px !important;
}

.miles-style{
  background: white !important;
  color: #B7B7B7 !important;
  .checked-label{
    color: white !important;
  }
  a{
    background: rgba(136, 156, 195, 0.7) !important;
    color: white !important;
  }
}
